//
// Core -> Variables
// ------------------------------------

// Brand
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee
$lighter:                #fff;

$brand-primary:          #3d4d65;
$brand-success:          #52a529;
$brand-info:             #cad3df;
$brand-warning:          #ff9f10;
$brand-danger:           #fce9ca;
$brand-well:             #eaebec;


// Variables -> Core

// Base
$base-font-family:        'Roboto', Arial, sans-serif;
$base-font-family-mono:   'Roboto Condensed', sans-serif;
$base-font-size:          15px;
$base-font-weight:        300;
$base-line-height:        1.428571429;
$base-color:              #2d2d2d;
$base-background:         #fff;

// Link
$link-color:              $brand-success;
$link-hover-color:        #206fab;
$link-decoration:         underline;



// Variables -> Modules

// Typography
$font-size-base:          $base-font-size !default;
$font-size-large:         ceil(($base-font-size * 1.2)) !default;// ~18px
$font-size-medium:        ceil(($base-font-size * 0.875)) !default;// ~14px
$font-size-small:         ceil(($base-font-size * 0.75)) !default; // ~12px


$font-size-h1:             floor(($base-font-size * 2.4)); // ~36px
$font-size-h2:             floor(($base-font-size * 1.6));      // ~24px
$font-size-h3:             ceil(($base-font-size * 1.3125));  // ~21px
$font-size-h4:             ceil(($base-font-size * 1.2));   // ~18px
$font-size-h5:             ceil(($base-font-size * 0.875));;    // ~14px
$font-size-h6:             ceil(($base-font-size * 1));    // ~15px

$line-height-base:         1.4;
$line-height-computed:     floor(($base-font-size * $line-height-base)); // ~22px
$line-height-computed-half:floor(($base-font-size * $line-height-base) / 2); // ~11px


$headings-font-family:     inherit !default;
$headings-font-weight:     400 !default;
$headings-line-height:     1.4 !default;
$headings-color:           inherit !default;


// Grid
$screen-sm:                   480px;
$screen-sm-min:               $screen-sm;
$screen-phone:                $screen-sm-min;

$screen-md:                   768px;
$screen-md-min:               $screen-md;
$screen-tablet:               $screen-md-min;

$screen-lg:                   992px;
$screen-lg-min:               $screen-lg;
$screen-desktop:              $screen-lg-min;

$screen-xlg:                  1320px;
$screen-xlg-min:              $screen-xlg;
$screen-xlg-desktop:          $screen-xlg-min;

//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

// Number of columns in the grid system
$grid-columns:                 12;
$grid-gutter-width:            15px;


// Small screen / tablet
$container-mobile:             (440px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm:                 $container-mobile;

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-md:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            (952px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-lg:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (1280px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-xlg:                 $container-large-desktop;

// Btn
$btn-font-weight:               700;

$btn-grey-color:                 #787878 !default;
$btn-grey-bg:                    #fff !default;
$btn-grey-border:                #acacac !default;

$btn-default-color:              $brand-success !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             $brand-success !default;

$btn-well-color:                 #3d4d65 !default;
$btn-well-bg:                    #fff !default;
$btn-well-border:                $brand-warning !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $brand-primary !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             $brand-success !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                $brand-info !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             $brand-warning !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              $brand-danger !default;

// Padding
$padding-base-vertical:          6px;
$padding-base-horizontal:        12px;

$padding-large-vertical:         10px;
$padding-large-horizontal:       33px;

$padding-small-vertical:         5px;
$padding-small-horizontal:       10px;

$padding-xs-vertical:            1px;
$padding-xs-horizontal:          5px;

$line-height-large:              1.555555;
$line-height-small:              1;

$border-radius-base:             5px;
$border-radius-large:            5px;
$border-radius-small:            0;

$btn-border-radius-base:         $border-radius-base;
$btn-border-radius-large:        $border-radius-large;
$btn-border-radius-small:        $border-radius-small;

$component-active-color:    #fff !default;
$component-active-bg:       $brand-primary !default;

// Type
$blockquote-small-color:         $gray-light;
$blockquote-font-size:           ($base-font-size * 1.25);
$blockquote-border-color:        $gray-lighter;


// Breadcrumbs
$breadcrumb-padding-vertical:   8px;
$breadcrumb-padding-horizontal: 23px;
$breadcrumb-bg:                 #fff;
$breadcrumb-color:              #5f6f87;
$breadcrumb-active-color:       $brand-success;
$breadcrumb-separator:          " > ";


// Pagination
$pagination-color:                     #54657e;
$pagination-bg:                        transparent;
$pagination-border:                    transparent;

$pagination-hover-color:               #54657e;
$pagination-hover-bg:                  transparent;
$pagination-hover-border:              $brand-warning;

$pagination-active-color:              #fff;
$pagination-active-bg:                 $brand-warning;
$pagination-active-border:             $brand-warning;

$pagination-disabled-color:            $gray-light;
$pagination-disabled-bg:               #fff;
$pagination-disabled-border:           #ddd;


// Pager
$pager-bg:                             tranparent;
$pager-border:                         #cad3df;
$pager-border-radius:                  50px;
$pager-hover-bg:                       $pagination-hover-bg;
$pager-active-bg:                      $pagination-active-bg;
$pager-active-color:                   $pagination-active-color;
$pager-disabled-color:                 $pagination-disabled-color;


// Tables
$table-cell-padding:            8px;
$table-condensed-cell-padding:  5px;

$table-bg:                      transparent;
$table-bg-accent:               #f9f9f9;

$table-bg-hover:                #f5f5f5;
$table-bg-active:               $table-bg-hover;

$table-border-color:            #ddd;


//== Navbar
$navbar-height:                    50px;
$navbar-margin-bottom:             $line-height-computed;
$navbar-border-radius:             $border-radius-base;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;

$navbar-default-color:             #2c2c2c;
$navbar-default-bg:                #fff;
$navbar-default-border:            #fff;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd;
$navbar-default-toggle-icon-bar-bg:        #21491B;
$navbar-default-toggle-border-color:       #ddd;

// Navbar links
$navbar-default-link-color:                #2c2c2c;
$navbar-default-link-hover-color:          #333;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         #555;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;


// Navs
$nav-link-padding:                          10px 10px;
$nav-link-hover-bg:                         $gray-lighter;

$nav-tabs-active-link-hover-bg:             $base-background;
$nav-tabs-active-link-hover-color:          $gray;
$nav-tabs-active-link-hover-border-color:   #ddd;

$nav-tabs-justified-link-border-color:            #ddd;
$nav-tabs-justified-active-link-border-color:     $base-background;


// Form states and table
$input-bg:                       #fff !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    #3a3a3a !default;
$input-border:                   #d0d0d0 !default;

$input-border-radius:            $border-radius-base !default;
$input-border-radius-large:      $border-radius-large !default;
$input-border-radius-small:      $border-radius-small !default;

$input-border-focus:             #8493a8 !default;
$input-color-placeholder:        #999 !default;

$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;


$input-group-addon-bg:           #f7f7f7 !default;
$input-group-addon-border-color: $input-border !default;


$state-success-text:             $brand-success !default;
$state-success-bg:               $brand-success !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                $brand-info !default;
$state-info-bg:                  $brand-info !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             $brand-warning !default;
$state-warning-bg:               $brand-warning !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              $brand-danger !default;
$state-danger-bg:                $brand-danger !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

$form-group-margin-bottom:       20px !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed;

//-- Z-index master list
$zindex-navbar:                  1000;
$zindex-navbar-fixed:            1030;
$zindex-modal-background:        1040;
$zindex-dropdown:                1000 !default;
$zindex-modal:                   1050;


// Variables -> Components

//== Dropdowns
$dropdown-bg:                    #fff !default;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;

//** Dropdown link text color.
$dropdown-link-color:            $gray-dark !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         #f5f5f5 !default;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $component-active-color !default;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        $component-active-bg !default;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light !default;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-light !default;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000 !default;



//== Panels
$panel-bg:                    #fff !default;
$panel-body-padding:          26px 20px 10px !default;
$panel-heading-padding:       14px 20px !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         $border-radius-base !default;

//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          $gray-dark !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;


//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          6px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;



// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         20px !default;

//** Padding applied to the modal title
$modal-title-padding:         20px !default;
//** Modal title line-height
$modal-title-line-height:     $line-height-base !default;

//** Background color of modal content area
$modal-content-bg:             #fff !default;
//** Modal content border color
$modal-content-border-color:   rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999 !default;

//** Modal backdrop background color
$modal-backdrop-bg:           #000 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .75 !default;
//** Modal header border color
$modal-header-border-color:   #e5e5e5 !default;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    900px !default;
$modal-md:                    550px !default;
$modal-sm:                    260px !default;



//== Close
//
//##

$close-font-weight:           bold !default;
$close-color:                 #000 !default;
$close-text-shadow:           0 1px 0 #fff !default;