.container {
  width: 1295px;

}
.col-xs-12 {
  width: 25%;
}
.col-lg-8 {
  width: 66.66667%;
}
.header {
  &-top {
    background-color: #eaebec;
  }
  &__items {
    display: table;
    height: 40px;
    &--elem {
      i {
        display: inline-block;
        color: #3d4d65;
        padding: 0 8px;
      }
      width: auto;
      //padding: 0 8px;
      display: table-cell;
      vertical-align: middle;
      padding: 0;
      a {
        padding: 10px 0;
      }
    }
    select {
      height: 40px;
    }
  }
  &-bottom {
    padding: 40px 0 0;
  }
}
.visible-sm, .visible-xs {
  display: none !important;
}
.hidden-sm, .hidden-xs {
  display: inline-block !important;
}
footer, header, section { min-width: 1295px;}
