//
// Base -> Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small {
    font-weight: normal;
    line-height: 1;
  }
}

h1,
h2,
h3 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;

  small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);

  small {
    font-size: 75%;
  }
}

h4 {

  small {
    color: #adadad;
    font-weight: 400;
    font-size: 100%;
  }
}

h1 {
  font-size: $font-size-h1 * 0.6;
  //font-family: $base-font-family-mono;
  @media (min-width: $screen-lg-min) {
    font-size: $font-size-h1;
  }
}
h2 {
  font-size: $font-size-h2 * 0.75;
  @media (min-width: $screen-lg-min) {
    font-size: $font-size-h2;
  }
}
h3 {
  font-size: $font-size-h3 * 0.75;
  @media (min-width: $screen-lg-min) {
    font-size: $font-size-h3;
  }
}
h4 {
  font-size: $font-size-h4 * 0.8333;
  @media (min-width: $screen-lg-min) {
    font-size: $font-size-h4;
  }
}
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }


// Body text
// -------------------------

p {
  margin: 0 0 ($line-height-computed / 2);
}


// Alignment
.text--left           { text-align: left; }
.text--right          { text-align: right; }
.text--center         { text-align: center; }
.text--justify        { text-align: justify; }
.text--nowrap         { white-space: nowrap; }

.text--lg {
  font-size: $font-size-large;
}
.text--md {
  font-size: $font-size-medium;
}
.text--sm {
  font-size: $font-size-small;
}

// Responsive alignment

@if $use-adaptive == true {
  @media (min-width: $screen-sm-min) {
    .text--sm--left   { text-align: left; }
    .text--sm--right  { text-align: right; }
    .text--sm--center { text-align: center; }
    .pull--sm--right { float: right; }
  }
  @media (min-width: $screen-md-min) {
    .text--md--left { text-align: left;}
    .text--md--right {text-align: right;}
    .text--md--center {text-align: center;}
    .pull--md--right { float: right; }
  }

  @media (min-width: $screen-lg-min) {
    .text--lg--left { text-align: left;}
    .text--lg--right { text-align: right;}
    .text--lg--center { text-align: center;}
    .pull--lg--right { float: right; }
  }

  @media (min-width: $screen-xlg-min) {
    .text--xlg--left { text-align: left;}
    .text--xlg--right { text-align: right;}
    .text--xlg--center { text-align: center;}
    .pull--xlg--right { float: right; }
  }
}

// Transformation
.text--lowercase      { text-transform: lowercase; }
.text--uppercase      { text-transform: uppercase; }
.text--capitalize     { text-transform: capitalize; }
.text--through        { text-decoration: line-through; }

@if $use-color-text == true {
  @include text-emphasis-variant('.text--primary', $brand-primary);
  @include text-emphasis-variant('.text--success', $state-success-text);
  @include text-emphasis-variant('.text--info', $state-info-text);
  @include text-emphasis-variant('.text--warning', $state-warning-text);
  @include text-emphasis-variant('.text--danger', $state-danger-text);
  @include text-emphasis-variant('.text--default', #788aa4);
}
// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list--unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list--inline {
  @include list-unstyled;
  margin-left: -5px;
  margin-bottom: 0;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.inlineb {
  display: inline-block;
}
.block {
  display: block;
}

// Blockquotes
blockquote {
  padding: ($line-height-computed / 2) $line-height-computed;
  margin: 0 0 $line-height-computed;
  font-size: $blockquote-font-size;
  border-left: 5px solid $blockquote-border-color;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  footer,
  small,
  .small {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: $line-height-base;
    color: $blockquote-small-color;

    &:before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }
}