//
// Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    //padding-bottom: 11px;
    display: none;
    @media (min-width: $screen-lg-min) {
      display: block;
    }
  }
  .breadcrumb {
    list-style: none;
    //background-color: $breadcrumb-bg;
    //border-radius: $border-radius-base;
    font-size: 15px;
    border-bottom: 2px solid #eaeaea;
    padding: 17px 0;
    font-family: Roboto;
    text-align: center;
    margin: 0;
    @media (min-width: $screen-lg-min) {
      text-align: left;
    }
    > li {
      display: inline-block;
      color: $breadcrumb-color;
      font-weight: 400;
      a {
        color: $breadcrumb-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      + li:before {
        content: " > ";
        padding: 0 5px;
        //background: url("../icons/breadcrumbs.png") no-repeat top 8px left 7px;
        //width: 3px;
        //height: 5px;
      }
    }

    > .active span {
      color: $breadcrumb-active-color;
    }
  }
}