//
// Button groups
// --------------------------------------------------

@if $use-btn-group == true {
  .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    > .btn {
      position: relative;
      float: left;
      //padding: 0;
      font-weight: 500;
      font-size: $font-size-small;
      line-height: 1.4;
      padding: 14px 26px;
      height: 45px;
      &:hover,
      &:focus,
      &:active,
      &.active {
        z-index: 2;
      }
      label {
        margin: 0;
        display: inline-block;
        text-align: center;
        height: 35px;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background: #fff;
        color: #54657e;
        border: 1px solid #cad3df;
        white-space: nowrap;
        padding: 8px 18px;
        font-size: 15px;
        line-height: 1.1;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
      }
      input {
        display: none;
      }
      label:hover,
      input[type="radio"]:checked + label {
        border-color: $brand-success;
        color: $brand-success;
      }
    }
  }

  .btn-group {
    .btn + .btn label,
    .btn + .btn,
    .btn + .btn-group,
    .btn-group + .btn,
    .btn-group + .btn-group {
      margin-left: -1.5px;
    }
  }

  .btn-group > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  .btn-group > .btn:first-child label,
  .btn-group > .btn:first-child {
    margin-left: 0;
    &:not(:last-child) label,
    &:not(:last-child) {
      @include border-right-radius(0);
    }
  }
  .btn-group > .btn:last-child:not(:first-child) label,
  .btn-group > .btn:last-child:not(:first-child) {
    @include border-left-radius(0);
  }

  .btn-group > .btn-group {
    float: left;
  }
  .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
  }
  .btn-group > .btn-group:first-child:not(:last-child) label,
  .btn-group > .btn-group:first-child:not(:last-child) {
    > .btn:last-child {
      @include border-right-radius(0);
    }
  }
  .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child label,
  .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    @include border-left-radius(0);
  }

  // Sizing
  .btn-group-xs > .btn {
    @extend .btn--xs;
  }
  .btn-group-sm > .btn {
    @extend .btn--sm;
  }
  .btn-group-lg > .btn {
    @extend .btn--lg;
  }

  .btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    > .btn,
    > .btn-group {
      float: none;
      display: table-cell;
      width: 1%;
    }
    > .btn-group .btn {
      width: 100%;
    }
  }
}