//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  text-align: center;
  height: 34px;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size(8px, 18px, $font-size-base, 1.1, $btn-border-radius-base);
  text-decoration: none;
  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }
}

.btn {
  img {
    max-width: none;
    vertical-align: text-top;
    margin-right: 6px;
  }
  &--long {
    width: 176px;
  }
  &--br0 {
    @include border-radius(0);
  }
}

// Button Sizes
.btn--lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, 15px, $line-height-large, $btn-border-radius-large);
  height: 45px;
  font-weight: 500;
}
.btn--huge {
  @include button-size($padding-large-vertical, $padding-large-horizontal, 18px, $line-height-large, $btn-border-radius-large);
  height: 81px;
  font-weight: 500;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 62px;
  width: 100%;
  border-width: 2px;
  img {
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 9px;
  }
}
.btn--sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, 18px, $line-height-small, $btn-border-radius-small);
  //height: 25px;
  height: auto;
}
.btn--xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
  height: auto;
}

  // Alternate buttons
.btn--grey {
  @include button-variant($btn-grey-color, $btn-grey-bg, $btn-grey-border);
}
.btn--default {
  @include button-variant($btn-default-color, transparent, $btn-default-border);
  &.active,
  &:focus,
  &:active,
  &:hover {
    background-color: #fff;
  }
}
.btn--primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn--success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
.btn--successLine {
  @include button-variant($btn-success-border, transparent, $btn-success-border);
}
.btn--info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
.btn--warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
.btn--warningLine {
  @include button-variant( $brand-warning, transparent, $btn-warning-border);
}
.btn--warningTrans {
  @include button-variant( #3d4d65, transparent, $btn-warning-border);
  &.active,
  &:focus,
  &:active,
  &:hover {
    color: #fff;
    background-color: $btn-warning-border;
    border-color: $btn-warning-border;
  }
}
.btn--danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}
.btn--transparent {
  @include button-variant($btn-well-color, $btn-well-bg, $btn-well-border);
  background-image: url("../images/phoneIco.png");
  background-position: left 10px center;
  background-repeat: no-repeat;
  padding-left: 29px;
}



.btn--rad {
  @include border-radius(10px);
}
// Block button
.btn--block {
  display: block;
  width: 100%;
}


@media (max-width: $screen-md-min) {
  .btn-block-sm {
    display: block;
    width: 100%;
  }
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
