//
// Modules -> Forms
// --------------------------------------------------


// Normalize non-controls
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
  border-bottom: 1px solid $legend-border-color;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-top: 10px;
  font-weight: 300;
  margin-bottom: 5px;
}


// Normalize form controls
input[type="search"] {
  @include box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}

// Common form controls
.form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 11px $padding-base-horizontal;
  font-size: 15px;
  line-height: $line-height-base;
  color: $input-color;
  //font-family: $base-font-family-mono;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  @include placeholder;

  // Disabled and read-only inputs
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/arrowb.png') center right 10px no-repeat, #fff;
  padding-right: 27px;
}
select[multiple] {
  background-color: #fff;
  padding: 0;
  option {
    padding: 10px;
    &[selected],
    &:focus,
    &:active {
      background: $brand-success;
    }
  }
}
option:checked {
  background-color: $brand-success;
  color: #000;
}

// Reset height for `textarea`s
textarea.form-control {
  height: auto;
  resize: none;
}


// Search inputs in iOS
input[type="search"] {
  -webkit-appearance: none;
  height: 45px;
  background: url('../images/search.png') center left 18px no-repeat, #fff;
  padding: 10px 10px 10px 50px;
}


.form-group {
  margin-bottom: $form-group-margin-bottom;
}

input[type="date"] {
  background: url("../images/lk-ico--14.png") center left 10px no-repeat, #fff;
  padding-left: 37px;
}

// Checkboxes and radios
.radio,
.checkbox {
  position: relative;
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  label {
    min-height: 25px;
    padding-left: 29px;
    margin-bottom: 0;
    line-height: 1.3;
    font-weight: 300;
    cursor: pointer;
    margin-top: 5px;
    &:after {
      content: '';
      font-family: "fontello";
      position: absolute;
      top: 1px;
      left: 0;
      display: block;
      width: 25px;
      height: 25px;
      background: #fff;
      border: 1px solid #cad3df;
      border-radius: 5px;
      text-align: center;
      line-height: 1.6;
      color: #8493a8;
    }
  }
}
.radio{
  label {
    &:after {
      top: 8px;
      left: 8px;
      @include border-radius(50%);
      border: 3px solid transparent;
      box-shadow: 0 0 0 7px #fff, 0 0 0 8px #cdd6e1;
      height: 9px;
      width: 9px;
    }
  }
}
.checkbox input[type="checkbox"],
.radio input[type="radio"] {display: none;}

.checkbox input[type="checkbox"]:checked + label:after {
  content: '\e803';
  //background: url("../images/okCheckbox.png") center no-repeat, #fff;
}
.radio input[type="radio"]:checked + label:after {
  background: #8493a8;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 8px;
}
// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  //padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 20px; // space out consecutive inline controls
}


@media (max-width: $screen-lg-min) {
  .radio-inline + .radio-inline,
  .checkbox-inline + .checkbox-inline {
    margin-top: 10px;
    margin-left: 0; // space out consecutive inline controls
  }
}


// These classes are used on elements with <label> descendants
.radio,
.checkbox {
  &.disabled,
  fieldset[disabled] & {
    label {
      cursor: $cursor-disabled;
    }
  }
}

@if $use-has-feedback == true {
  // Form control feedback states
  .has-feedback {
    position: relative;

    .form-control {
      padding-right: ($input-height-base * 1.25);
    }
  }
  // Feedback icon (requires .glyphicon classes)
  .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2; // Ensure icon is above input groups
    display: block;
    width: $input-height-base;
    height: $input-height-base;
    line-height: $input-height-base;
    text-align: center;
    pointer-events: none;
  }

  // Feedback states
  .has-success {
    @include form-control-validation($state-success-text, $state-success-text, $state-success-bg);
  }
  .has-warning {
    @include form-control-validation($state-warning-text, $state-warning-text, $state-warning-bg);
  }
  .has-error {
    @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
  }

  .has-feedback label {
    & ~ .form-control-feedback {
      top: ($line-height-computed + 5); // Height of the `label` and its margin
    }
    &.sr-only ~ .form-control-feedback {
      top: 0;
    }
  }
}