//
// Modules -> Navbars
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: relative;
  min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  //margin-bottom: $navbar-margin-bottom;
  //border: 1px solid transparent;

  // Prevent floats from breaking the navbar
  @include clearfix;

}

.navbar-brand {
  max-width: 230px;
  float: left;
  top: 8px;
  @media (min-width: $screen-sm-min) {
    max-width: 310px;
    top: 0;
  }
}


// Navbar collapse (body)
.navbar-collapse {
  overflow-x: visible;
  padding-right: $navbar-padding-horizontal;
  padding-left:  $navbar-padding-horizontal;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #3d4d65;
  @include clearfix;
  -webkit-overflow-scrolling: touch;
  a {color: #a7bede;font-size: 12px;}
  &.in {
    overflow-y: auto;
  }

  @media (min-width: $screen-lg-min) {
    width: auto;
    border-top: 0;
    box-shadow: none;

    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0; // Override default setting
      overflow: visible !important;
    }

    &.in {
      overflow-y: visible;
    }
  }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  .navbar-collapse {
    max-height: $navbar-collapse-max-height;

    @media (max-device-width: $screen-sm-min) and (orientation: landscape) {
      max-height: 200px;
    }
  }
}


// Both navbar header and collapse
//
// When a container is present, change the behavior of the header and collapse.

.container,
.container-fluid {
  > .navbar-header,
  > .navbar-collapse {
    margin-right: -$navbar-padding-horizontal;
    margin-left:  -$navbar-padding-horizontal;

    @media (min-width: $screen-lg-min) {
      margin-right: 0;
      margin-left:  0;
    }
  }
}

.navbar-header {
  @include clearfix;

  @media (min-width: $screen-lg-min) {
    float: left;
  }
}


// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  // Undo the rounded corners
  @media (min-width: $screen-lg-min) {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0; // override .navbar defaults
  border-width: 1px 0 0;
}


// Navbar toggle
.navbar-toggle {
  position: relative;
  cursor: pointer;
  //float: right;
  //margin-right: $navbar-padding-horizontal;
  //padding: 9px 0 9px 10px;
  //@include navbar-vertical-align(34px);
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  &:focus {
    outline: 0;
  }

  // Bars
  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    border-radius: 1px;
    background: $brand-success;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  @media (min-width: $screen-lg-min) {
    display: none;
  }
}


// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {
  margin: 0 (-$navbar-padding-horizontal);

  > li {
    padding: 0;
    > a {
      padding: 10px 20px;
      line-height: $line-height-computed;
      text-align: left;
      background: #3d4d65;
      //border-bottom: 1px solid #bbb;
    }
    &.headerNav {
      > a {
        font-size: 14px;
        padding: 11px 20px;
        background: transparent;
        border-bottom: 1px solid #59687e;
        &:focus,
        &:active,
        &:hover {background: transparent;}
      }
    }
    &.headerClose {
      position: relative;
      z-index: 2;
    }
    i {vertical-align: middle;}
    i::before {
     color: #92a7c6;
    }
  }
  // Uncollapse the nav
  @media (min-width: $screen-lg-min) {
    float: left;
    text-align: left;
    margin: 9px 0 0;

    > li {

      &:last-child {
        margin-left: 20px;
      }
      float: left;
      padding: $nav-link-padding;
      > a {
        background: transparent;
        border: none;
        //padding-top:    $navbar-padding-vertical;
        //padding-bottom: $navbar-padding-vertical;
        padding-top:    0;
        padding-bottom: 0;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -2px;

    ~ .navbar-right {
      margin-right: 0;
    }
  }
}

// Alternate navbars
.navbar-default {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;
  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    //border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      //background-color: $navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse {
    border-color: $navbar-default-border;
  }
}