//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: $line-height-computed 0;
    text-transform: uppercase;
    > li {
      display: inline-block;
      margin: 3px;
      > a,
      > span {
        position: relative;
        float: left; // Collapse white-space
        padding: 10px;
        height: 50px;
        min-width: 50px;
        line-height: 28px;
        text-align: center;
        font-size: 14px;
        text-decoration: none;
        color: $pagination-color;
        background-color: $pagination-bg;
        border: 1px solid $pagination-border;
        border-radius: 5px;
      }

      @media (max-width: $screen-sm-max) {
        &:first-child, &:last-child, &:nth-last-child(2), &:nth-last-child(3) {
          display: none;
        }
      }
    }

    > li > a,
    > li > span {
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
        text-decoration: none;
      }
    }

    > .active > a,
    > .active > span {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }

    > .disabled {
      > span,
      > span:hover,
      > span:focus,
      > a,
      > a:hover,
      > a:focus {
        color: $pagination-disabled-color;
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border;
        cursor: $cursor-disabled;
      }
    }
  }
}
