//
// Modules -> Utility classes
// --------------------------------------------------


// Floats
.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
  float: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}


// Toggling content
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}


// Hide from screenreaders and browsers
.hidden {
  display: none !important;
}
