//
// Partials -> Footer
// ------------------------------------


/**
 * Footer
*/
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $gray-darken;
  &__authors { }
  &__copyrights { }
}