//
// Partials -> Header
// ------------------------------------


/**
 * Header
*/
//
// Partials -> Header
// ------------------------------------

.header {
  &-top {
    background-color: #2c2c2c;
    padding: 15px 0;
    font-size: 15px;
    //line-height: 65px;
    vertical-align: middle;
  }
  &__items {
    margin-bottom: 13px;
    @media (min-width: $screen-md-min) {
      margin-bottom: 0;
    }
    > div, div > div {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 8px;
      &.margbot0 {margin-bottom: 0}
      @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
      }
    }
  }
  &__location {
    //padding-top: 7px;
    margin-top: -11px;
    @media (min-width: $screen-md-min) {
      margin-top: 0;
    }
    a {
      color: #fff; border-bottom: 1px dotted #fff; text-decoration: none;
      &:hover {border-color: transparent}
    }
    i {
      position: relative;
      top: 5px;
      margin-right: 15px;}
  }
  &__search i {
    margin-right: 13px;
    display: inline-block;
  }
  &__balance {
    a { color: #fece41;
      position: relative;
      top: -5px;}
    .val {
      //border: 1px solid #fece41;
      //padding: 0 7px 0 6px;
      //@include border-radius(25px);
      //text-decoration: line-through;
      margin-right: 12px;
    }
  }
  &__cabinet {
    position: relative;
    .btn {
      height: 35px;
      line-height: 1;
      font-weight: 400;
    }
    .btn--well {line-height: 0.8;}
    + .header__cabinet {
      margin-left: 20px;
    }

    @media (min-width: $screen-sm-min) {
      margin-left: 20px;
    }
  }
  &__ava {
    position: relative;
    margin-left: 16px;
  }

  &-bottom {
    padding: 21px 0;
    background-color: #fff;
    @media (min-width: $screen-sm-min) {
      padding: 41px 0 42px;
    }
  }
  .count {
    position: absolute;
    right: -5px;
    top: -7px;
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    @include border-radius(25px);
    background-color: #ef5f54;
  }
}

.navbar-brand {
  position: relative;
  .beta {
    color: darkgrey;
    font-size: 10px;
    position: absolute;
    top: -12px;
    right: 0;
  }
  .slogan {
    position: absolute;
    bottom: 0;
    left: 80px;
  }
}

.subnav {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
  z-index: 2;
  li {
    padding: 0;
    a {
      padding: 14px 22px;
      color: #62a0d7;
      white-space: nowrap;
      text-decoration: none;
      &:hover, &:focus {
        background-color: #eff5fb;
      }
    }
  }
  .nav > li:hover & {
    display: block;
  }
}

/**
 * Main title
*/
.title { }


/**
 * old-browser
*/
.browsehappy {
  @extend .container;
}
.lt-ie8 { }