//
// Partials -> Main
// ------------------------------------


/**
 * Main container
*/
.main {
  padding-top: 20px;
  padding-bottom: 20px;
}


.sliderTitle {
  color: #fefefe;
  text-align: center;
  font-size: 14px;
  background: rgba(55, 67, 85, 0.7);
  padding: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

//tempaltes
.darkTemplate {
  background: #374355;
  padding: 30px 0 10px;
}

.textTemplate {
  padding: 20px;
}
//tempaltes


// blocks
.sharePost {
  padding: 20px;
  border-top: 1px solid #cad3df;
  border-bottom: 1px solid #cad3df;
  &Title {
    margin-right: 45px;
    margin-left: 20px;
  }
  h6, ul {
    margin: 0;
  }
  li {vertical-align: middle;}
}

.carouseltem {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 30px;
  a {
    padding: 0 10px;
    position: relative;
    display: inline-block;
    img {
      @include border-radius();
    }
    &:hover::before {
      content: '';
      position: absolute;
      background: url("../images/icons/icoGallery.png") center center no-repeat;
      width: 100%;
      height: 100%;
      z-index: 8;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
// blocks


// search
.search {
  padding: 24px 0;
  background: url("../images/search-back.jpg") no-repeat center center / cover;
  @media (min-width: $screen-sm-min) {
    padding: 84px 0 69px;
  }
  input, select, .btn {
    height: 50px;
  }
  &-city {
    &__inner {
      padding: 25px;
      border-top: 2px solid #F9F9F9;
      @media (min-width: $screen-md-min) {
        padding: 45px;
        border-top: 0;
      }
      background-color: #fff;
      -webkit-box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
      -moz-box-shadow:    0 17px 32px rgba(44, 44, 44, 0.08);
      box-shadow:         0 17px 32px rgba(44, 44, 44, 0.08);
      &-row {
        @media (min-width: $screen-md-min) {
          margin-bottom: 16px;
        }
      }
    }
  }
}
// search


// base
.ico {
  //position: relative;
  //top: 3px;
  float: left;
  margin-right: 10px;
}
section {
  padding: 29px 0 53px;
}

.panel {
  h3 {
    margin-top: 0;
    margin-bottom: 7px;
  }
  a:not(.btn) {
    margin-bottom: 15px;
    display: block;
  }
  //img {
  //  position: relative;
  //  top: 3px;
  //  margin-right: 10px;
  //}
  &-body-link {
    a {
      margin-bottom: 22px;}
    .text--info {
      margin-top: 23px;}
  }
  .filter__main-cat {
    a {
      margin-bottom: 9px;
    }
  }
  .filter__main-cat li:last-child {
    a {
      margin-bottom: 0;
    }
  }
  .btn + .btn { margin-left: 10px;}

  @media (max-width: $screen-sm-min) {
    .btn--block {
      padding: 8px 3px;}
  }
}
// base

.filter {
  display: none;
  @media (min-width: $screen-md-min) {
    display: block;
  }
}

// adv
.adv {
  // adv main
  &__item {
    margin-bottom: 25px;
  }
  &__main {
    margin-bottom: 30px;
    margin-top: -12px;
    h3 { margin-bottom: 25px;}
    &-img {
      position: relative;
      overflow: hidden;
      &-price {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        padding: 9px;
        font-weight: 700;
        color: #fff;
        font-size: $font-size-h3;
        background: rgba(0,0,0,0);
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.65) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(40%, rgba(0,0,0,0.4)), color-stop(100%, rgba(0,0,0,0.65)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.65) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.65) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.65) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.65) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
        line-height: 1;
        height: 42px;
        margin-bottom: 0;
      }
      &-title {
        min-height: 45px;
        h4 {
          margin-top: 14px;
          line-height: 1.3;
        }
      }
    }

    &-title {
      margin-top: 5px;
    }
  }
  &-rotator {
    margin-top: -10px;
  }
  // adv main

  // adv last
  &-last {
    &__item {
      margin-bottom: 20px;
      .panel {margin-bottom: 0;}
      .panel-body {
        padding: 13px;
        a {
          margin-bottom: 0;
        }
      }
      &-m {
        @media (min-width: $screen-lg-min) {
          margin-right: -3%;
        }
      }
      &-img {
        background-color: #fff;
        width: 234px;
        height: 234px;
        text-align: center;
        position: relative;
        margin: 20px auto 0;
        @media (min-width: $screen-md-min) {
          margin: 0;
        }
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
        }
      }
      &-title {
        min-height: auto;
        font-size: 14px;
        text-align: center;
        line-height: 21px;
        @media (min-width: $screen-md-min) {
          min-height: 36px;
          font-size: 15px;
          text-align: left;
        }
      }
      &-comment {
        color: #c4c4c4;
        font-size: 12px;
        line-height: 1.3;
        margin-bottom: 15px;
      }
      .rating {
        margin: 15px 0;
      }
      &-price {
        font-weight: 700;
        font-size: $font-size-h3;
        line-height: 1;
        margin-bottom: 0;
      }

      .sold {
        position: absolute;
        top: 0;
        bottom: 0;
        margin:auto;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 9;
      }
    }
    .panel h3 {margin-bottom: 19px;}
  }
  // adv last

  // adv sort
  &-sort {
    .panel {
      padding: 13px;
      @include clearfix();
      font-size: 14px;
      > ul {
        margin-bottom: 10px;
        @media (min-width: $screen-sm-min) {
          margin-bottom: 0;
        }
      }
      @media (min-width: $screen-lg-min) {
        font-size: 16px;
      }
      .adv-last__item-icon {
        a {margin-bottom: 0;}
        @media (min-width: $screen-md-min) {
          font-size: 0;
        }
      }
    }
  }
  // adv sort

  // adv news
  &-news {
    &__item {
      &-img {
        text-align: center;
        margin-bottom: 15px;
        img {width: 100%;}
      }
      &-date {
        margin-bottom: 26px;
      }
      &-text {
        p {
          margin-bottom: 23px;
        }
      }
    }
    .panel h3 {margin-bottom: 19px;}
  }
  // adv news

  // adv reviews
  &-media {
    &__item {
      &-img {
        float: left;
        @media (min-width: $screen-sm-min) {
          position: absolute;
          top: 4px;
          left: 0;
        }
      }
      &-author {
        margin-left: 89px;
        margin-top: 20px;
        @media (min-width: $screen-sm-min) {
          margin-left: 99px;
        }
        p {
          margin-bottom: 7px;
          font-size: 12px;
          @media (min-width: $screen-sm-min) {
            font-size: 15px;
          }
          @media (min-width: $screen-md-min) {
            font-size: 12px;
          }
          @media (min-width: $screen-lg-min) {
            font-size: 15px;
          }
        }
      }
    }
  }
  // adv reviews

  // adv search
  &-search {
    i {
      float: left;
      margin-right: 14px;
    }
  }
  // adv search
}
// adv

.breadcrumbs {
  margin: 0 0 33px;
  .breadcrumb {
    padding-top: 0;
  }
}

// searchbar
.searchbar {
  .btn {
    height: 40px;
    padding: 11px 19px;
    line-height: 1.2;
  }
  input {
    //border: 2px solid $brand-success;
    height: 40px;
  }
  img {max-width: none;}
  &-long {
    .btn {
      padding: 8px 29px;
      font-weight: 400;
    }
    input {
      background: #fff;
    }
  }
}
// searchbar


//news
.news {
  &-elem {
    h1 { margin-top: 0;}
  }
  &-arvertising {
    //margin-top: 6px;
    position: relative;
    //text-align: center;
    max-width: 318px;
    margin:39px auto 0;
    &__img {
    }
    &__desc {
      text-align: left;
      padding: 7px 29px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      h3 {
        margin-bottom: 3px;
      }
    }
  }
}
.list--news {
  @include list--unstyled;
  li {
    margin-bottom: 5px;
    &::before {
      content: '';
      @include border-radius(50%);
      width: 8px;
      height: 8px;
      background-color: #b7b7b7;
      display: inline-block;
      margin-right: 12px;
    }
  }
  li:hover::before {
    //background-color: $brand-primary;
  }
  a {
    color: #62a0d7;
    text-decoration: none;
    &:hover {
      color: #ef5f54;
      text-decoration: underline;
    }
  }
}
//news


// date
.date {
  &-ico {
    position: relative;
    top: 3px;
    margin-right: 10px;
  }
}
// date

// user
.user {
  &__name {

  }
  &__date {

  }
  &__count-adv {
    span + span {
      font-weight: 300;
    }
  }
  &__desc {
    li {
      @include clearfix();
      margin-bottom: 11px;
      a {margin-bottom: 0;}
      span {
        float: left;
        width: 35%;
        font-size: 14px;
        @media (min-width: $screen-lg-min) {
          font-size: 15px;
        }
        + span {
          float: right;
          text-align: right;
          width: 65%;
        }
      }
    }
  }
}
// user

//base
.margleft20 {
  margin-left: 20px;
}
.pad0 {
  padding: 0;
}

@media (min-width: $screen-md-min) {
  .pad0-md {
    padding: 0;
  }
}
@media (min-width: $screen-lg-min) {
  .pad0-lg {
    padding: 0;
  }
}
.close {
  font-size: 23px;
  line-height: 1;
  position: relative;
  top: 2px;
  left: 3px;
}

@media (max-width: $screen-lg-min) {
  .margtop10-m {
    margin-top: 10px;}
}
@media (max-width: $screen-sm-min) {
  .margtop10-xs {
    margin-top: 10px;}
}
//base


//plugin
.owl-item img {
  @media (max-width: $screen-md-min) {
    max-width: 140px;
  }
}
.pluso-more { display: none !important; }
.btn--well {
  line-height: 1.8;
  &:hover,
  &:focus,
  &:active {
    //color: $brand-primary;
  }
}
.btn--grey {
  &:active,
  &.active{
    //color: $brand-primary;
  }
}
.nav-tabs {
  li {
    display: block;
    padding: 0;
    @media (min-width: $screen-md-min) {
      float: left;
    }
    a {
      padding: 15px 26px;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight:700;
      text-decoration: none;
      background-color: #f9f9f9;
      &:focus,
      &:active,
      &:hover {
        color: #62a0d7;
        background-color: #fff;
        text-decoration: underline;
      }
    }
    &.active a {
      color: #62a0d7;
      background-color: #fff;
      text-decoration: underline;
    }
  }
  img {
    position: relative;
    margin-right: 13px;
  }
}
.rating {
  @include clearfix();
  &_container {
    input:checked ~ label, label,  label:hover,  label:hover ~ label {
      background: url('../images/star.png') no-repeat;
    }
    overflow: hidden;
    *zoom: 1;
    position: relative;
    float: left;
    input {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      width: 19px;
      height: 19px;

      position: absolute;
      top: 0;
      z-index: 0;
      &:checked ~ label {
        background-position: 0 -21px;
        height: 19px;
        width: 19px;
      }
    }
    label {
      background-position: 0 0;
      height: 19px;
      width: 19px;
      float: right;
      cursor: pointer;
      margin-right: 10px;

      position: relative;
      z-index: 1;
    }
    label:hover, label:hover ~ label {
      background-position: 0 -21px;
      height: 19px;
      width: 19px;
    }
  }
}
//plugin