.breadcrumbs
    ul.breadcrumb
        if title.description == 'Все объявления в Санкт-Петербурге'
            li.active
                span= title.description
        else if title.description == 'Личные вещи'
            li
                a(href="#") Все объявления в Санкт-Петербурге
            li.active
                span= title.description
        else
            li
                a(href="#") Все объявления в Санкт-Петербурге
            li
                a(href="#") Личные вещи
            li
                a(href="#") Одежда, обувь, аксессуары
            li
                a(href="#") Женская одежда
            li.active
                span= title.description