footer.footer
    .container
        .col-lg-9.center-block
            .row
                .col.col-xs-12.col-lg-3.col-md-3.margbot20
                    img(src="images/logoFooter.png", alt="")
                .col.col-xs-12.col-lg-3.col-md-3
                    ul.list--unstyled.navigation
                        li: b: a(href="#") О компании
                        li: b: a(href="#") Контакты
                        li: b: a(href="#") Сотрудничество
                .col.col-xs-12.col-lg-3.col-md-3
                    ul.list--unstyled.navigation
                        li: b: a(href="#") Информация
                        li: a.text--sm(href="#") Размещение объявлений
                        li: a.text--sm(href="#") Пользовательское соглашение
                        li: a.text--sm(href="#") Пакеты услуг
                .col.col-xs-12.col-lg-3.col-md-3
                    ul.list--unstyled.navigation
                        li: b: a(href="#") Реклама на сайте
                        li: b: a(href="#") Помощь
                        li: b: a(href="#") Карта сайта
            a.visible-sm.visible-xs(href="wwww.alkodesign.ru", target="_blank"): img(src="images/logoAlco.png", alt="")
            ul.list--inline.social
                li: a(href="#"): i.icon-twitter
                li: a(href="#"): i.icon-facebook
                li: a(href="#"): i.icon-instagram
                li: a(href="#"): i.icon-plus-squared-alt
            .row
                .col.col-xs-12.col-lg-8.col-md-8
                    p.text--sm Yorby — сайт объявлений России. Использование сайта, в том числе подача объявлений, означает согласие с пользовательским соглашением. Оплачивая услуги на сайте, вы принимаете оферту. Информация о cookies.
                .col.col-xs-12.col-lg-3.col-md-4.pull-right
                    a.hidden-sm.hidden-xs(href="wwww.alkodesign.ru", target="_blank"): img(src="images/logoAlco.png", alt="")
                    //a.visible-sm.visible-xs.visible-md(href="wwww.alkodesign.ru", target="_blank"): img(src="images/logoAlkoM.png", alt="")