.goodsBlock--view.visible-lg.visible-md
    ul.list--inline
        li Размещено 14 апреля 12:12
        li Номер объявления:&nbsp;
            a(href="#") 1234567933
        li Просмотров:&nbsp;
            a(href="#") всего 18,&nbsp;
            a(href="#") сегодня 18
.shareBlock.hidden-lg.hidden-md
    .shareBlock__item
        .rating
            .rating_container
                input.star-4(id="star-1", type="checkbox")
                label(for='star-1')
        span.text--lg.text--warning В избранное
    .shareBlock__item
        .rating
            .rating_container
                input.star-4(id="star-2", type="checkbox")
                label(for='star-2')
        span.text--lg.text--warning Поделиться
.row
    .col.col-lg-6.col-md-6.col-xs-12
        .goodsBlock--slider
            .slider-for.imageLink
                - for (var y = 1; y < 6; y++)
                    div: a(href="images/goodsStoreImg.jpg"): img(src="images/goodsStoreImg.jpg", alt="")
            .col-md-11.center-block
                .slider-nav
                    - for (var y = 1; y < 6; y++)
                        div: img(src="images/goodsStoreImgMini-#{y}.jpg", alt="")
    .col.col-lg-6.col-md-6.col-xs-12
        .goodsBlock--prop
            .goodsBlock--prop__price.text--center.text--md--left
                span.pr Цена:
                    b  1 250 руб.
            .goodsBlock--prop__seller
                ul.list--unstyled.list--float
                    li
                        span.text--default Продавец:
                        span.text--primary: b Анастасия (частное лицо)
                    li
                        span.text--default Магазин:
                        span.text--primary: b: a(href="#") Рога и копыта
                    li
                        span.text--default Телефон:
                        span.text--primary: b ХХХ ХХХ-ХХ-ХХ&nbsp;
                            a.text--sm(href="#") Показать телефон
                    li
                        span.text--default Адрес:
                        span.text--primary: b Санкт-Петербург м. Площадь Восстания
            .goodsBlock--prop__info
                .shareBlock.visible-lg.visible-md
                    .shareBlock__item
                        .rating
                            .rating_container
                                input.star-4(id="star-1", type="checkbox")
                                label(for='star-1')
                        span.text--lg.text--warning В избранное
                    .shareBlock__item
                        .rating
                            .rating_container
                                input.star-4(id="star-2", type="checkbox")
                                label(for='star-2')
                        span.text--lg.text--warning Поделиться
                .editBlock.visible-lg.visible-md
                    .editBlock__item
                        p: a(href="#") Редактировать
                        p: a(href="#") Сделать VIP
                        p: a(href="#") Расширить объявление
                    .editBlock__item
                        p: a(href="#") Снять с публикации
                        p: a(href="#") Выделить объявление
                        p: a(href="#") Сделать премиум
.goodsBlock--char.text--default
    .goodsBlock--char__header.text--lg
        ul.list--unstyled.list--float
            li
                span: b Вид одежды:
                span Женская одежда - Обувь
            li
                span: b Размер:
                span 36
            li
                span: b Цвет:
                span Черный
    .goodsBlock--char__body
        h2 Комментарий продавца:
        p Есть очень много разных моделей брендовой обуви по самой выгодной цене в городе.Цена от 990 р до 3500 р. Так же у нас распродажа одежды (почти все платья по 900 р и все джинсы за 1000 р). Могу скинуть ассортимент на телефон, на почту или сообщением на авито. Ссылку на магазин можно увидеть внизу, справа под фотографией. Чтобы получить ответ сразу, звоните и не стесняйтесь :)
.goodsBlock--view.hidden-lg.hidden-md
    ul.list--inline
        li Размещено 14 апреля 12:12
        li Номер объявления:&nbsp;
            a(href="#") 1234567933
        li Просмотров:&nbsp;
            a(href="#") всего 18,&nbsp;
            a(href="#") сегодня 18
.editBlock.hidden-lg.hidden-md
    .editBlock__item
        p: a(href="#") Редактировать
        p: a(href="#") Сделать VIP
        p: a(href="#") Расширить объявление
    .editBlock__item
        p: a(href="#") Снять с публикации
        p: a(href="#") Выделить объявление
        p: a(href="#") Сделать премиум