header.header
    //if title.description == 'Юзер'
    //    .header-top
    //        .container
    //            .row
    //                .col.col-xs-12.col-md-3.header__items.text--md--left.text--center
    //                    .header__location
    //                        i.icons.icons-loc
    //                        a(href="#") Иваново
    //                .col.col-xs-12.col-md-9.pull--md--right.header__items.text--md--right.text--center
    //                    .header__search
    //                        a(href="#"): i.icons.icons-search-w
    //                    .header__cabinet
    //                        a.btn.btn--well(href="#") Регистрация
    //                    .header__cabinet
    //                        a.btn.btn--default.quit(href="#") Войти
    //else if title.description == 'Главная'
    .header-top
        .container
            nav
                .header__items.text--center.visible-sm.visible-xs
                    div
                        .header__items--elem.col-xs-4
                            a(href='/'): img(src="images/logo-mobile.png", alt="")
                        .header__items--elem.col-xs-7
                            .header__search
                                a.btn.btn--success.btn--br0(href="#")
                                    i.icon-plus-squared-alt
                                    span Подать объявление
                    div.grey
                        .header__items--elem.t10
                            .navbar-toggle(data-toggle='collapse', data-target='.navbar-ex1-collapse')
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            .collapse.navbar-collapse.navbar-ex1-collapse
                                ul.nav.navbar-nav
                                    li.pull-right.headerClose
                                        a(href='#', data-toggle='collapse', data-target='.navbar-ex1-collapse'): i.icon-cancel
                                    li.headerNav
                                        a(href='#')
                                            i.icon-menu
                                            |  Меню
                                    li.active
                                        a(href='#')
                                            i.icon-location
                                            |  Санкт-Петербург
                                    li.active
                                        a(href='#')
                                            i.icon-briefcase
                                            |  Весь каталог объявлений
                                    li.active
                                        a(href='#')
                                            i.icon-star
                                            |  Избранное
                        .header__items--elem.t40
                            .header__balance
                                a(href="#")
                                    i.icon-star
                                    span Избранное(5)
                        .header__items--elem.t40
                            div
                                a(href="#")
                                    i.icon-user
                                    span Личный кабинет
                    div
                        .header__location.padtop10.padbot10
                            a.text--sm.btn.btn--grey(href="#city-id", data-toggle='modal')
                                span.text--default Мой город:
                                |  Санкт-Петербург
                .header__items.text--center.hidden-sm.hidden-xs
                    .header__items--elem.t20
                        .header__location
                            b.hidden-md.hidden-sm.hidden-xs.text--default Мой город:&nbsp;
                            a(href="#city-id", data-toggle='modal')
                                span Санкт-Петербург
                                i.icon-down-open
                    .header__items--elem.t30
                        .header__search
                            a(href="#")
                                i.icon-briefcase
                                b Весь каталог объявлений
                    .header__items--elem.t12
                        .header__balance
                            a(href="#")
                                i.icon-star
                                span Избранное(5)
                    .header__items--elem.header__warn.t15
                        div
                            a(href="#")
                                i.icon-plus-squared-alt
                                span Подать объявление
                    .header__items--elem.t10
                        div
                            a(href="") Регистрация
                    .header__items--elem.t15
                        div
                            a(href="#")
                                i.icon-user
                                span Личный кабинет
                //.col.col-xs-12.col-md-9.pull--md--right.header__items.text--md--right.text--center
                //    .header__search.hidden-sm.hidden-xs
                //        a(href="#"): i.icons.icons-search-w
                //        //img.pull-left(src="images/search-w.png", alt="")
                //    .header__balance.hidden-sm.hidden-xs
                //        span.val: i.icons.icons-val
                //        //img.pull-left(src="images/val.png", alt="")
                //        a(href="") Запросить баланс
                //    .header__cabinet
                //        span.count 12
                //        a.btn.btn--default(href="#") Личный кабинет
                //    .header__ava
                //        span.count 99
                //        a(href="#"): img.block(src="images/ava.jpg", alt="")
    .header-img
        .container
            img(src="images/mainImg.jpg", alt="")
    .header-bottom
        .container
            .col-lg-9.center-block
                .row
                    .col.col-xs-12.col-lg-2.text--center.text--lg--right.margbot10.margtop10.hidden-sm.hidden-xs
                        a.hidden-md(href='/'): img(src="images/logo.png", alt="")
                        a.visible-md(href='/'): img(src="images/logo-mobile.png", alt="")
                    .col.col-xs-12.col-lg-10
                        include ../modules/_search-index
    .search__inner
        .container
            .col-lg-9.center-block
                #category2.category
                    .search__inner-body
                        .item
                            .form-group
                                select.multiple(multiple)
                                    option(selected, disabled) Выберите модель
                                    option Марка
                                    option Марка
                                    option Марка
                                    option Марка
                                    option Марка
                                    option Марка
                        .item
                            .form-group
                                select.form-control
                                    option Модель
                                    option Модель
                        .item
                            .form-group
                                select.form-control
                                    option Тип кузова
                                    option Тип кузова
                        .item
                            .form-group
                                select.form-control
                                    option Год выпуска
                                    option Год выпуска
                        .item.t12
                            .form-group
                                select.form-control
                                    option Пробег
                                    option Пробег
                    .search__inner-body
                        .item
                            .form-group
                                select.form-control
                                    option Коробка передач
                                    option Коробка передач
                        .item
                            .form-group
                                select.form-control
                                    option Тип двигателя
                                    option Тип двигателя
                        .item
                            .form-group
                                select.form-control
                                    option Объем двигателя
                                    option Объем двигателя
                        .item
                            .form-group
                                select.form-control
                                    option Привод
                                    option Привод
                    .search__inner-body.padbot20
                        .item
                            .btn-group
                                .btn
                                    input(type='radio', name='radio', id='radio11', checked)
                                    label(for="radio11") Женские
                                .btn
                                    input(type='radio', name='radio', id='radio12')
                                    label(for="radio12") Мужские
                        .item
                            .checkbox
                                input(type='checkbox', name='check16', id='check16')
                                label(for="check16")  Искать только с фото
                        .item
                            .checkbox
                                input(type='checkbox', name='check17', id='check17')
                                label(for="check17")  Искать только в названиях
                #category3.category
                    .search__inner-body
                        .item
                            .form-group
                                select.form-control
                                    option Марка
                                    option Марка
                        .item
                            .form-group
                                select.form-control
                                    option Модель
                                    option Модель
                        .item
                            .form-group
                                select.form-control
                                    option Тип кузова
                                    option Тип кузова
                        .item
                            .form-group
                                select.form-control
                                    option Год выпуска
                                    option Год выпуска
                        .item.t12
                            .form-group
                                select.form-control
                                    option Пробег
                                    option Пробег
                #category4.category
                    .search__inner-body
                        .item
                            .form-group
                                select.form-control
                                    option Коробка передач
                                    option Коробка передач
                        .item
                            .form-group
                                select.form-control
                                    option Тип двигателя
                                    option Тип двигателя
                        .item
                            .form-group
                                select.form-control
                                    option Объем двигателя
                                    option Объем двигателя
                        .item
                            .form-group
                                select.form-control
                                    option Привод
                                    option Привод