header.header-lk
    .header-top
        .container
            nav
                .header__items.text--center
                    .header__items--elem.t10.text--left
                        a(href="/"): img(src='images/logo-lk.png', alt="")
                    .header__items--elem.t20
                        .header__location
                            b.hidden-md.hidden-sm.hidden-xs.text--default Мой город:&nbsp;
                            a(href="#city-id", data-toggle='modal')
                                span Санкт-Петербург
                                i.icon-down-open
                    .header__items--elem.t20
                        .header__search
                            a(href="#")
                                i.icon-briefcase
                                b Весь каталог объявлений
                    .header__items--elem.t12
                        .header__balance
                            a(href="#")
                                i.icon-star
                                span Избранное(5)
                    .header__items--elem.header__warn.t15
                        div
                            a(href="#")
                                i.icon-plus-squared-alt
                                span Подать объявление
                    .header__items--elem.t12
                        div
                            span Баланс:
                                a(href="#"): b  1 700 баллов
                    .header__items--elem.t12
                        div
                            a(href="#")
                                i.icon-user
                                spa.text--success Федоров Иван
    .header-bottom--lk
        .container
            .row
                .col.col-xs-3
                    p.text--sm ID 5694333623
                    p
                        b Коробейников Константин
                            br
                            |  Иванович
                .col.col-xs-3
                    p.text--sm ID Доступно к использованию баллов:
                    .adv-good__item-price.text--primary
                        img(src='images/icoBall.png', alt="")
                        b.text--lg  1 700 руб.
                        span.padleft10.padright10 |
                        b.text--success.text--md
                            img(src='images/icoMain.png', alt="")
                            | Обменять
                .col.col-xs-6.text--right
                    .btn-group.text--uppercase
                        a.active.btn.btn--warningTrans(href='#') мои объявления
                        a.btn.btn--warningTrans(href='#') накопительный баланс
                        a.btn.btn--warningTrans(href='#') пользовательские настройки
