header.header
    .header-top
        .container
            nav
                .header__items.text--center.visible-sm.visible-xs
                    div
                        .header__items--elem.col-xs-4
                            a(href='/'): img(src="images/logo-mobile.png", alt="")
                        .header__items--elem.col-xs-7
                            .header__search
                                a.btn.btn--success.btn--br0(href="#")
                                    i.icon-plus-squared-alt
                                    span Подать объявление
                    div.grey
                        .header__items--elem.t10
                            .navbar-toggle(data-toggle='collapse', data-target='.navbar-ex1-collapse')
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            .collapse.navbar-collapse.navbar-ex1-collapse
                                ul.nav.navbar-nav
                                    li.pull-right.headerClose
                                        a(href='#', data-toggle='collapse', data-target='.navbar-ex1-collapse'): i.icon-cancel
                                    li.headerNav
                                        a(href='#')
                                            i.icon-menu
                                            |  Меню
                                    li.active
                                        a(href='#')
                                            i.icon-location
                                            |  Санкт-Петербург
                                    li.active
                                        a(href='#')
                                            i.icon-briefcase
                                            |  Весь каталог объявлений
                                    li.active
                                        a(href='#')
                                            i.icon-star
                                            |  Избранное
                        .header__items--elem.t40
                            .header__balance
                                a(href="#")
                                    i.icon-star
                                    span Избранное(5)
                        .header__items--elem.t40
                            div
                                a(href="#")
                                    i.icon-user
                                    span Личный кабинет
                    div
                        .header__location.padtop10.padbot10
                            a.btn.btn--grey(href="#city-id", data-toggle='modal')
                                span.text--default Мой город:
                                |  Санкт-Петербург
                .header__items.text--center.hidden-sm.hidden-xs
                    .header__items--elem.t20
                        .header__location
                            b.hidden-md.hidden-sm.hidden-xs.text--default Мой город:&nbsp;
                            a(href="#city-id", data-toggle='modal')
                                span Санкт-Петербург
                                i.icon-down-open
                            //b.hidden-md.hidden-sm.hidden-xs Мой город:
                            //select.form-control
                            //    option Санкт-Петербург
                            //    option Санкт-Петербург
                            //    option Санкт-Петербург
                            //    option Санкт-Петербург
                    .header__items--elem.t30
                        .header__search
                            a(href="#")
                                i.icon-briefcase
                                b Весь каталог объявлений
                    .header__items--elem.t12
                        .header__balance
                            a(href="#")
                                i.icon-star
                                span Избранное(5)
                    .header__items--elem.header__warn.t15
                        div
                            a(href="#")
                                i.icon-plus-squared-alt
                                span Подать объявление
                    .header__items--elem.t10
                        div
                            a(href="") Регистрация
                    .header__items--elem.t15
                        div
                            a(href="#")
                                i.icon-user
                                span Личный кабинет
    .header-bottom
        .container
            .col-lg-8.center-block
                .row
                    .col.col-xs-12.col-lg-2.text--center.text--lg--right.margbot10.margtop10.hidden-sm.hidden-xs
                        a.hidden-md(href='/'): img(src="images/logo.png", alt="")
                        a.visible-md(href='/'): img(src="images/logo-mobile.png", alt="")
                    .col.col-xs-12.col-lg-10
                        include ../modules/_search