.modal.fade(id='city-id')
    .modal-dialog.modal-lg
        .modal-content.choose--city
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
                .row
                    .col.col-md-3.col-sm-4.col-xs-12
                        h4 Выберите город
                    .col.col-md-8.col-sm-6.col-xs-12
                        form
                            input#search.form-control(type="search")
            .modal-body
                .row
                    .col.col-sm-3.col-xs-6
                        ul.list--unstyled
                            li: b: a(href="#") Москва
                            li: b: a(href="#") Санкт-Петербург
                            li: b: a(href="#") Волгоград
                    .col.col-sm-3.col-xs-6
                        ul.list--unstyled
                            li: b: a(href="#") Екатеринбург
                            li: b: a(href="#") Казань
                            li: b: a(href="#") Краснодар
                    .col.col-sm-3.col-xs-6
                        ul.list--unstyled
                            li: b: a(href="#") Нижний Новгород
                            li: b: a(href="#") Пермь
                            li: b: a(href="#") Ростов-на-Дону
                    .col.col-sm-3.col-xs-6
                        ul.list--unstyled
                            li: b: a(href="#") Самара
                            li: b: a(href="#") Уфа
                            li: b: a(href="#") Челябинск
                .row
                    .col.col-sm-3.col-xs-6
                        ul.list--unstyled
                            li: a(href="#") Адыгея
                            li: a(href="#") Архангельская обл.
                            li: a(href="#") Астраханская обл.
                            li: a(href="#") Башкортостан
                            li: a(href="#") Белгородская обл.
                            li: a(href="#") Брянская обл.
                            li: a(href="#") Владимирская обл.
                            li: a(href="#") Волгоградская обл.
                            li: a(href="#") Вологодская обл.
                            li: a(href="#") Воронежская обл.
                            li: a(href="#") Дагестан
                            li: a(href="#") Ивановская обл.
                            li: a(href="#") Ингушетия
                            li: a(href="#") Кабардино-Балкария
                            li: a(href="#") Калининградская обл.
                    .col.col-sm-3.col-xs-6
                        ul.list--unstyled
                            li: a(href="#") Калмыкия
                            li: a(href="#") Калужская обл.
                            li: a(href="#") Карачаево-Черкесия
                            li: a(href="#") Карелия
                            li: a(href="#") Кировская обл.
                            li: a(href="#") Коми
                            li: a(href="#") Костромская обл.
                            li: a(href="#") Краснодарский край
                            li: a(href="#") Крым
                            li: a(href="#") Курганская обл.
                            li: a(href="#") Курская обл.
                            li: a(href="#") Ленинградская обл.
                            li: a(href="#") Липецкая обл.
                            li: a(href="#") Марий Эл
                            li: a(href="#") Мордовия
                    .col.col-sm-3.col-xs-6
                        ul.list--unstyled
                            li: a(href="#") Московская обл.
                            li: a(href="#") Мурманская обл.
                            li: a(href="#") Ненецкий АО
                            li: a(href="#") Нижегородская обл.
                            li: a(href="#") Новгородская обл.
                            li: a(href="#") Оренбургская обл.
                            li: a(href="#") Орловская обл.
                            li: a(href="#") Пензенская обл.
                            li: a(href="#") Пермский край
                            li: a(href="#") Псковская обл.
                            li: a(href="#") Ростовская обл.
                            li: a(href="#") Рязанская обл.
                            li: a(href="#") Самарская обл.
                            li: a(href="#") Саратовская обл.
                            li: a(href="#") Свердловская обл.
                    .col.col-sm-3.col-xs-6
                        ul.list--unstyled
                            li: a(href="#") Северная Осетия
                            li: a(href="#") Смоленская обл.
                            li: a(href="#") Ставропольский край
                            li: a(href="#") Тамбовская обл.
                            li: a(href="#") Татарстан
                            li: a(href="#") Тверская обл.
                            li: a(href="#") Тульская обл.
                            li: a(href="#") Удмуртия
                            li: a(href="#") Ульяновская обл.
                            li: a(href="#") Челябинская обл.
                            li: a(href="#") Чеченская республика
                            li: a(href="#") Чувашия
                            li: a(href="#") Ярославская обл.


.modal.fade(id='call-id')
    .modal-dialog
        .modal-content
            button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
            .modal-body
                .col-xs-9.center-block
                    .text--center
                        h2 Заказать звонок
                        p.margtop30.text--lg.text--default Менеджер интернет магазина
                            br
                            | поможет вам с выбором
                    form(method='post', role='form', novalidate)
                        .form-group
                            +fieldInput('text', 'name', 'name', 'Имя*', 'Не заполнено поле', true)
                        .form-group
                            +fieldInput('text', 'phone', 'phone', 'Телефон*', 'Не заполнено поле', true)
                        .text--center
                            input.margtop30.btn.btn--danger.btn--danger-full.btn--md.text--uppercase(type="submit", value="заказать звонок")

.modal.fade(id='send-id')
    .modal-dialog
        .modal-content
            button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
            .modal-body
                .text--center
                    h2 Спасибо за заявку
                    p.margtop30.text--lg.text--default Наш менеджер свяжемся с вами
                        br
                        | в ближайшее время
                    button.margtop30.btn.btn--danger.btn--danger-full.btn--md.text--uppercase(type='button', data-dismiss='modal', aria-hidden='true') закрыть
