.text--center
    ul.pagination
        li
            a(href='#')
                i.icon-left-open-big
                | пред.
        li.active
            a(href='#') 1
        - for (var x = 2; x < 5; x++)
            li
                a(href='#')= x
        li
            a(href='#') ...
        li
            a(href='#') 29
        li
            a(href='#')
                | след.
                i.icon-right-open-big