ul.pager.padtop40
    li.previous
        a(href='#')
            i.icon-left-open-big
        a(href='#') Previous Post
    li.next
        a(href='#')
            i.icon-right-open-big
        a(href='#') Next Post