.adv-rotator
    h3 Недавно просмотренные
    .owl-rotator.owl-carousel.owl-theme
        - for (var y = 1; y < 4; y++)
            - for (var x = 1; x < 4; x++)
                .item
                    a(href="#"): img(src="images/advbot-0#{x}.jpg", alt="")
