.search
    form(action="", method="post")
        .search__top
            .row
                .col.col-xs-12.col-md-9
                    input.form-control(type="search", placeholder="Я ищу...")
                .col.col-xs-12.col-md-3
                    button.btn.btn--warning.btn--lg.text--uppercase.btn--block(type='submit') НАЙТИ!
        .search__js.search__middle.visible-xs.visible-sm
            b.text--success Расширенный поиск
                i.icon-down-open
        .search__bottom
            .row
                .col.col-xs-12.col-md-4
                    .form-group
                        select.form-control(name="category")
                            option(value="1", disabled, selected) Выберите категорию
                            option(value="2") Категория2
                            option(value="3") Категория3
                            option(value="4") Категория4
                .col.col-xs-12.col-md-4
                    .form-group
                        select.form-control
                            option В городе
                            option В городе
                            option В городе
                            option В городе
                .col.col-xs-12.col-md-4
                    .form-group
                        select.form-control
                            option У метро
                            option У метро
                            option У метро
                            option У метро