.search-city
    form.form--inline(action="", method="post")
        .container
            .row
                ul.nav.nav-tabs(role='tablist')
                    li.active
                        a(href='#tab1', role='tab', data-toggle='tab')
                            img(src="icons/ico-1.png", alt="#")
                            | Сообщество
                    li
                        a(href='#tab2', role='tab', data-toggle='tab')
                            img(src="icons/ico-2.png", alt="#")
                            | Объявления
                    li
                        a(href='#tab3', role='tab', data-toggle='tab')
                            img(src="icons/ico-3.png", alt="#")
                            | Работа
                    li.pull-right
                        a.btn.btn--well-2(href='#')
                            img(src="icons/ico-4.png", alt="#")
                            | Акции и скидки
        .search-city__inner
            .container
                .tab-content
                    #tab1.active.tab-pane.fade.in
                        .row
                            .col.col-xs-3
                                .navbar-brand
                                    a(href='#'): img(src="images/logo-city1.png", alt="")
                                    span.slogan Тут будет слоган
                            .col.col-xs-9
                                .input-group
                                    +field('text', 'search', 'search', 'Я ищу', true)
                                    .input-group-btn
                                        button.btn.btn--success(type="submit") Найти
                                p.margtop10.margbot0 Поможем найти в городе
                                    span.text--info  полотенце махровое
                    #tab2.tab-pane.fade
                        .row
                            .col.col-xs-3
                                .navbar-brand
                                    a(href='#'): img(src="images/logo-city1.png", alt="")
                                    span.slogan Тут будет слоган
                            .col.col-xs-9
                                .input-group
                                    +field('text', 'search', 'search', 'Я ищу', true)
                                    .input-group-btn
                                        button.btn.btn--success(type="submit") Найти
                                p.margtop10.margbot0 Поможем найти в городе
                                    span.text--info  полотенце махровое
                    #tab3.tab-pane.fade
                        .row
                            .col.col-xs-3
                                .navbar-brand
                                    a(href='#'): img(src="images/logo-city1.png", alt="")
                                    span.slogan Тут будет слоган
                            .col.col-xs-9
                                .input-group
                                    +field('text', 'search', 'search', 'Я ищу', true)
                                    .input-group-btn
                                        button.btn.btn--success(type="submit") Найти
                                p.margtop10.margbot0 Поможем найти в городе
                                    span.text--info  полотенце махровое