.services
    .row
        .col.col-xs-4
            .services__item
                .services__title
                    h4
                        img(src="images/ico-serv--1.png", alt="")
                        |  Выделить объявление
                .services__img
                    img(src="images/img-serv--1.jpg", alt="")
                .services__desc
                    p Объявление будет в течение 7 дней выделено в поиске золотым цветом. BONUS При этом оно поднимется на первое место в результатах поиска бесплатно.
                .services__price
                    p.margbot30.text--lg
                        img(src="images/icoBall.png", alt="")
                        |  1 350
                    a.btn.btn--success.btn--lg(href='#')
                        img(src="images/lk-ico--16.png", alt="")
                        | Обменять баллы
        .col.col-xs-4
            .services__item
                .services__title
                    h4
                        img(src="images/ico-serv--2.png", alt="")
                        |  Сделать Премиум-объявлением
                .services__img
                    img(src="images/img-serv--2.jpg", alt="")
                .services__desc
                    p Ваше объявление будет в течение 7 дней показываться на самом заметном месте сайта — над обычными объявлениями на страницах результатов поиска. При этом оно поднимется на первое место в результатах поиска бесплатно.
                .services__price
                    p.margbot30.text--lg
                        img(src="images/icoBall.png", alt="")
                        |  5 400
                    a.btn.btn--success.btn--lg(href='#')
                        img(src="images/lk-ico--16.png", alt="")
                        | Обменять баллы
        .col.col-xs-4
            .services__item
                .services__title
                    h4
                        img(src="images/ico-serv--3.png", alt="")
                        |  Сделать VIP-объявлением
                .services__img
                    img(src="images/img-serv--3.jpg", alt="")
                .services__desc
                    p Ваше объявление будет в течение 7 дней показываться в специальном блоке VIP-объявлений на страницах результатов поиска.
                .services__price
                    p.margbot30.text--lg
                        img(src="images/icoBall.png", alt="")
                        |  8 500
                    a.btn.btn--success.btn--lg(href='#')
                        img(src="images/lk-ico--16.png", alt="")
                        | Обменять баллы