aside.col.col-xs-12.col-lg-3.hidden-xs.hidden-sm.hidden-md
    if title.description !== 'Рога и копыта'
        .item
            a(href="#"): img(src='images/banner-2.jpg', alt="")
        .item
            a(href="#"): img(src='images/banner-3.jpg', alt="")
    .item
        .adv-vip
            .adv-vip__title
                if title.description == 'Рога и копыта'
                    h4: b Cпециальные предложения магазина
                else
                    h4: b
                        img(src='images/vip.png', alt="")
                        span.text--warning VIP
                        |  объявления
            .adv-vip__body
                - for (var x = 1; x < 4; x++)
                    a(href="#").adv-vip__item
                        .adv-vip__item-img
                            img(src='images/advVip-1.jpg', alt="")
                        .adv-vip__item-body
                            h6.text--success Плойка стайлер Babyliss Pro
                            p: b 9 947,92 руб.
                    a(href="#").adv-vip__item
                        .adv-vip__item-img
                            img(src='images/advVip-2.jpg', alt="")
                        .adv-vip__item-body
                            h6.text--success Electrolux в идеал сост рабочая достав бесплатная
                            p: b 9 947,92 руб.


    //h3.margtop10.margbot30 Ваше местоположение
    //form.searchbar.margbot10(action="", method="post")
    //    .input-group
    //        +field('text', 'search', 'search', 'Я ищу', false)
    //        .input-group-btn
    //            button.btn.btn--success(type="submit")
    //                img(src="images/search-bar.png", alt="Search")
    //.news-arvertising
    //    .news-arvertising__img
    //        img(src='images/city-oppo.png', alt="")
    //    .news-arvertising__desc.text--left
    //        h3 Город возможностей
    //        p Клуб лояльности
    ////.place
    //    p.text--warning Или выберите Ваше местоположение
    //    .this-or-this
    //        .this-or-this__this
    //            ul.list--unstyled
    //                li: a.text--info(href="#") Казахстан
    //                li: a.text--info(href="#") Дагестан
    //                li: a.text--info(href="#") Россия
    //                li: a.text--info(href="#") Великобритания
    //                li: a.text--info(href="#") Австралия
    //        .this-or-this__or
    //            ul.list--unstyled
    //                li: a.text--info(href="#") США
    //                li: a.text--info(href="#") Люксембург
    //                li: a.text--info(href="#") Германия
    //                li: a.text--info(href="#") Бельгия
    //h3 Комментарии
    //.panel
    //    .panel-body
    //        .panel-body-inner
    //            p: a(href="#") Классная вещь!
    //            p В основном Сатурн состоит из водорода, с примесями гелия и следами воды, метана, аммиака и тяжёлых элементов. Внутренняя
    //            p.text--warning Константин Константинович
    //        .panel-body-inner
    //            p: a(href="#") Скидка!
    //            p следами воды, метана, аммиака и тяжёлых элементов. Внутренняя
    //            p.text--warning Олег Игоревич
    //        .panel-body-inner
    //            p: a.text--info(href="#") Читать еще комментарии
    //h3 Отзывы
    //.panel
    //    .panel-body
    //        .panel-body-inner
    //            p В основном Сатурн состоит из водорода, с примесями гелия и следами воды, метана, аммиака и тяжёлых элементов. Внутренняя область представляет собой небольшое ядро из железа, никеля
    //            p.margtop20: b.text--uppercase Константин Константинович
    //            p.text--warning
    //                img.ico(src="images/clock.png", alt="")
    //                | 19 сентября, среда, 01:10