.adv-sort
    .pull-left.col-sm-12.col-md-4.col-xs-12.text--left
        h3 100 366 товаров
    .col-sm-12.col-md-8.col-xs-12.pull-right
        ul.list--inline.text--left.text--md--right
            li.text-md Сортировка
            li
                select.form-control
                    option По дате
                    option По дате
                    option По дате
                    option По дате
            li.hidden-xs.hidden-sm.active: a(href='#tab1', role='tab', data-toggle='tab'): i.icon-th-list
            li.hidden-xs.hidden-sm: a(href='#tab2', role='tab', data-toggle='tab'): i.icon-th-large
.tab-content
    #tab1.active.tab-pane.fade.in
        a(href="#").adv-good__item.active
            .row
                .col.col-xs-12.col-lg-3.col-md-3
                    .adv-good__item-img
                        //img(src="images/user-img-1.jpg", alt="")
                        .slider-for2
                            - for (var y = 1; y < 5; y++)
                                div: img(src="images/user-img-#{y}.jpg", alt="")
                            div.relative
                                .adv-good__item-count
                                    img(src="images/ico--photo.png", alt="")
                                    span.text--sm Еще 7 фото
                                img(src="images/user-img-1.jpg", alt="")
                        //.slider-nav1
                        //    - for (var y = 1; y < 5; y++)
                        //        div: img(src="images/user-img-#{y}.jpg", alt="")
                .col.col-xs-12.col-lg-7.col-md-7
                    .adv-good__body
                        .text--sm.adv-good__item-sec
                            img.ico(src="images/metroIcoB.png", alt="")
                            |  Озерки
                            span.text--default.text--sm.pull-right.visible-xs.visible-sm Сегодня 17:41
                        .adv-good__item-title
                            h3 Бежевые кроссовки Reebok нат. замша (36-41)
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  3 500 руб.
                            span.padleft10.padright10 |
                            b.text--success.text--sm
                                img(src='images/icoMain.png', alt="")
                                | Обмен
                        span.text--success.text--sm Одежда, обувь, аксессуары
                        .pull-right.visible-xs.visible-sm: +rating('starD-1', false)
                .col.col-xs-12.col-md-2.text--right.hidden-xs.hidden-sm
                    p.text--default.text--sm Сегодня 17:41
                    +rating('star-1', false)
        a(href="#").adv-good__item
            .row
                .col.col-xs-12.col-lg-3.col-md-3
                    .adv-good__item-img
                        .slider-for2
                            - for (var y = 2; y < 5; y++)
                                div: img(src="images/user-img-#{y}.jpg", alt="")
                            div.relative
                                .adv-good__item-count
                                    img(src="images/ico--photo.png", alt="")
                                    span.text--sm Еще 7 фото
                                img(src="images/user-img-1.jpg", alt="")
                .col.col-xs-12.col-lg-7.col-md-7
                    .adv-good__body
                        .text--sm.adv-good__item-fir
                            img.ico(src="images/metroIcoR.png", alt="")
                            |  Площадь Восстания
                            span.text--default.text--sm.pull-right.visible-xs.visible-sm Сегодня 17:41
                        .adv-good__item-title
                            h3 Подставка для салфеток и зубочисток "Трактирщик"
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  3 500 руб.
                        span.text--success.text--sm Книги и журналы
                        span.padleft10.padright10 |
                        span.text--success.text--sm Магазин
                        .pull-right.visible-xs.visible-sm: +rating('starD-2', false)
                .col.col-xs-12.col-md-2.text--right.hidden-xs.hidden-sm
                    p.text--default.text--sm Сегодня 17:41
                    +rating('star-2', false)
        a(href="#").adv-good__item
            .row
                .col.col-xs-12.col-lg-3.col-md-3
                    .adv-good__item-img
                        .slider-for2
                            - for (var y = 1; y < 5; y++)
                                div: img(src="images/user-img-#{y}.jpg", alt="")
                            div.relative
                                .adv-good__item-count
                                    img(src="images/ico--photo.png", alt="")
                                    span.text--sm Еще 7 фото
                                img(src="images/user-img-1.jpg", alt="")
                .col.col-xs-12.col-lg-7.col-md-7
                    .adv-good__body
                        .text--sm.adv-good__item-sec
                            img.ico(src="images/metroIcoB.png", alt="")
                            |  Озерки
                            span.text--default.text--sm.pull-right.visible-xs.visible-sm Сегодня 17:41
                        .adv-good__item-title
                            h3 Бежевые кроссовки Reebok нат. замша (36-41)
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  2 500 руб.
                            span.padleft10.padright10 |
                            span.text--success.text--sm
                                img(src='images/icoMain.png', alt="")
                                | Обмен
                        span.text--success.text--sm Одежда, обувь, аксессуары
                        span.padleft10.padright10 |
                        span.text--primary.text--sm Компания
                        .pull-right.visible-xs.visible-sm: +rating('starD-3', false)
                .col.col-xs-12.col-md-2.text--right.hidden-xs.hidden-sm
                    p.text--default.text--sm Сегодня 17:41
                    +rating('star-3', false)
        a(href="#").adv-good__item.smallActive
            .row
                .col.col-xs-12.col-lg-3.col-md-3
                    .adv-good__item-img
                        .slider-for2
                            - for (var y = 2; y < 5; y++)
                                div: img(src="images/user-img-#{y}.jpg", alt="")
                            div.relative
                                .adv-good__item-count
                                    img(src="images/ico--photo.png", alt="")
                                    span.text--sm Еще 7 фото
                                img(src="images/user-img-1.jpg", alt="")
                .col.col-xs-12.col-lg-7.col-md-7
                    .adv-good__body
                        .text--sm.adv-good__item-fir
                            img.ico(src="images/metroIcoR.png", alt="")
                            |  Площадь Восстания
                            span.text--default.text--sm.pull-right.visible-xs.visible-sm Сегодня 17:41
                        .adv-good__item-title
                            h3 Подставка для салфеток и зубочисток "Трактирщик"
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  2 500 руб.
                        span.text--success.text--sm Книги и журналы
                        .pull-right.visible-xs.visible-sm: +rating('starD-4', false)
                .col.col-xs-12.col-md-2.text--right.hidden-xs.hidden-sm
                    p.text--default.text--sm Сегодня 17:41
                    +rating('star-4', false)
        a(href="#").adv-good__item
            .row
                .col.col-xs-12.col-lg-3.col-md-3
                    .adv-good__item-img
                        .slider-for2
                            - for (var y = 1; y < 5; y++)
                                div: img(src="images/user-img-#{y}.jpg", alt="")
                            div.relative
                                .adv-good__item-count
                                    img(src="images/ico--photo.png", alt="")
                                    span.text--sm Еще 7 фото
                                img(src="images/user-img-1.jpg", alt="")
                .col.col-xs-12.col-lg-7.col-md-7
                    .adv-good__body
                        .text--sm.adv-good__item-sec
                            img.ico(src="images/metroIcoB.png", alt="")
                            |  Озерки
                            span.text--default.text--sm.pull-right.visible-xs.visible-sm Сегодня 17:41
                        .adv-good__item-title
                            h3 Бежевые кроссовки Reebok нат. замша (36-41)
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  3 500 руб.
                        p.text--default Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                        span.text--success.text--sm Одежда, обувь, аксессуары
                        span.padleft10.padright10 |
                        span.text--primary.text--sm Компания
                        .pull-right.visible-xs.visible-sm: +rating('starD-5', false)
                .col.col-xs-12.col-md-2.text--right.hidden-xs.hidden-sm
                    p.text--default.text--sm Сегодня 17:41
                    +rating('star-5', false)
        a(href="#").adv-good__item
            .row
                .col.col-xs-12.col-lg-3.col-md-3
                    .adv-good__item-img
                        .slider-for2
                            - for (var y = 2; y < 5; y++)
                                div: img(src="images/user-img-#{y}.jpg", alt="")
                            div.relative
                                .adv-good__item-count
                                    img(src="images/ico--photo.png", alt="")
                                    span.text--sm Еще 7 фото
                                img(src="images/user-img-1.jpg", alt="")
                .col.col-xs-12.col-lg-7.col-md-7
                    .adv-good__body
                        .text--sm.adv-good__item-fir
                            img.ico(src="images/metroIcoR.png", alt="")
                            |  Площадь Восстания
                            span.text--default.text--sm.pull-right.visible-xs.visible-sm Сегодня 17:41
                        .adv-good__item-title
                            h3 Подставка для салфеток и зубочисток "Трактирщик"
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  2 500 руб.
                        span.text--success.text--sm Книги и журналы
                        .pull-right.visible-xs.visible-sm: +rating('starD-6', false)
                .col.col-xs-12.col-md-2.text--right.hidden-xs.hidden-sm
                    p.text--default.text--sm Сегодня 17:41
                    +rating('star-6', false)
    #tab2.tab-pane.fade.hidden-xs.hidden-sm
        .row
            .col.col-xs-12.col-xlg-4.col-md-6
                a(href="#").adv-good__item.active
                    .adv-good__item-img.adv-good__item-imgSec
                        img(src="images/user-img-1.jpg", alt="")
                    .adv-good__body
                        .text--sm.adv-good__item-sec
                            img.ico(src="images/metroIcoB.png", alt="")
                            |  Озерки
                            .pull-right
                                p.text--default.text--sm Сегодня 17:41
                        .adv-good__item-title.adv-good__item-titleSec
                            h4 Бежевые кроссовки Reebok нат. замша (36-41)
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  3 500 руб.
                        .rating
                            .rating_container
                                input.star-4(id="star-21", type="checkbox")
                                label(for='star-21')
                        span.text--success.text--sm Одежда, обувь, аксессуары
            .col.col-xs-12.col-xlg-4.col-md-6
                a(href="#").adv-good__item
                    .adv-good__item-img.adv-good__item-imgSec
                        img(src="images/user-img-2.jpg", alt="")
                    .adv-good__body
                        .text--sm.adv-good__item-fir
                            img.ico(src="images/metroIcoR.png", alt="")
                            |  Площадь Восстания
                            .pull-right
                                p.text--default.text--sm Сегодня 17:41
                        .adv-good__item-title.adv-good__item-titleSec
                            h4 Подставка для салфеток и зубочисток "Трактирщик"
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  3 500 руб.
                        .rating
                            .rating_container
                                input.star-4(id="star-22", type="checkbox")
                                label(for='star-22')
                        span.text--success.text--sm Книги и журналы
                        span.padleft10.padright10 |
                        span.text--success.text--sm Магазин
            .col.col-xs-12.col-xlg-4.col-md-6
                a(href="#").adv-good__item
                    .adv-good__item-img.adv-good__item-imgSec
                        img(src="images/user-img-1.jpg", alt="")
                    .adv-good__body
                        .text--sm.adv-good__item-sec
                            img.ico(src="images/metroIcoB.png", alt="")
                            |  Озерки
                            .pull-right
                                p.text--default.text--sm Сегодня 17:41
                        .adv-good__item-title.adv-good__item-titleSec
                            h4 Бежевые кроссовки Reebok нат. замша (36-41)
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  2 500 руб.
                        .rating
                            .rating_container
                                input.star-4(id="star-31", type="checkbox")
                                label(for='star-31')
                        span.text--success.text--sm Одежда, обувь, аксессуары
                        span.padleft10.padright10 |
                        span.text--primary.text--sm Компания
            .col.col-xs-12.col-xlg-4.col-md-6
                a(href="#").adv-good__item.smallActive
                    .adv-good__item-img.adv-good__item-imgSec
                        img(src="images/user-img-2.jpg", alt="")
                    .adv-good__body
                        .text--sm.adv-good__item-fir
                            img.ico(src="images/metroIcoR.png", alt="")
                            |  Площадь Восстания
                            .pull-right
                                p.text--default.text--sm Сегодня 17:41
                        .adv-good__item-title.adv-good__item-titleSec
                            h3 Подставка для салфеток и зубочисток "Трактирщик"
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  2 500 руб.
                        .rating
                            .rating_container
                                input.star-4(id="star-32", type="checkbox")
                                label(for='star-32')
                        span.text--success.text--sm Книги и журналы
            .col.col-xs-12.col-xlg-4.col-md-6
                a(href="#").adv-good__item
                    .adv-good__item-img.adv-good__item-imgSec
                        img(src="images/user-img-1.jpg", alt="")
                    .adv-good__body
                        .text--sm.adv-good__item-sec
                            img.ico(src="images/metroIcoB.png", alt="")
                            |  Озерки
                            .pull-right
                                p.text--default.text--sm Сегодня 17:41
                        .adv-good__item-title.adv-good__item-titleSec
                            h3 Бежевые кроссовки Reebok нат. замша (36-41)
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  3 500 руб.
                        .rating_container
                            input.star-4(id="star-41", type="checkbox")
                            label(for='star-41')
                        span.text--success.text--sm Одежда, обувь, аксессуары
                        span.padleft10.padright10 |
                        span.text--primary.text--sm Компания
            .col.col-xs-12.col-xlg-4.col-md-6
                a(href="#").adv-good__item
                    .adv-good__item-img.adv-good__item-imgSec
                        img(src="images/user-img-2.jpg", alt="")
                    .adv-good__body
                        .text--sm.adv-good__item-fir
                            img.ico(src="images/metroIcoR.png", alt="")
                            |  Площадь Восстания
                            .pull-right
                                p.text--default.text--sm Сегодня 17:41
                        .adv-good__item-title.adv-good__item-titleSec
                            h3 Подставка для салфеток и зубочисток "Трактирщик"
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  2 500 руб.
                        .rating
                            .rating_container
                                input.star-4(id="star-42", type="checkbox")
                                label(for='star-42')
                        span.text--success.text--sm Книги и журналы
            .col.col-xs-12.col-xlg-4.col-md-6
                a(href="#").adv-good__item.smallActive
                    .adv-good__item-img.adv-good__item-imgSec
                        img(src="images/user-img-2.jpg", alt="")
                    .adv-good__body
                        .text--sm.adv-good__item-fir
                            img.ico(src="images/metroIcoR.png", alt="")
                            |  Площадь Восстания
                            .pull-right
                                p.text--default.text--sm Сегодня 17:41
                        .adv-good__item-title.adv-good__item-titleSec
                            h3 Подставка для салфеток и зубочисток "Трактирщик"
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  2 500 руб.
                        .rating
                            .rating_container
                                input.star-4(id="star-52", type="checkbox")
                                label(for='star-52')
                        span.text--success.text--sm Книги и журналы
            .col.col-xs-12.col-xlg-4.col-md-6
                a(href="#").adv-good__item
                    .adv-good__item-img.adv-good__item-imgSec
                        img(src="images/user-img-1.jpg", alt="")
                    .adv-good__body
                        .text--sm.adv-good__item-sec
                            img.ico(src="images/metroIcoB.png", alt="")
                            |  Озерки
                            .pull-right
                                p.text--default.text--sm Сегодня 17:41
                        .adv-good__item-title.adv-good__item-titleSec
                            h3 Бежевые кроссовки Reebok нат. замша (36-41)
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  3 500 руб.
                        .rating_container
                            input.star-4(id="star-51", type="checkbox")
                            label(for='star-51')
                        span.text--success.text--sm Одежда, обувь, аксессуары
                        span.padleft10.padright10 |
                        span.text--primary.text--sm Компания
            .col.col-xs-12.col-xlg-4.col-md-6
                a(href="#").adv-good__item
                    .adv-good__item-img.adv-good__item-imgSec
                        img(src="images/user-img-2.jpg", alt="")
                    .adv-good__body
                        .text--sm.adv-good__item-fir
                            img.ico(src="images/metroIcoR.png", alt="")
                            |  Площадь Восстания
                            .pull-right
                                p.text--default.text--sm Сегодня 17:41
                        .adv-good__item-title.adv-good__item-titleSec
                            h3 Подставка для салфеток и зубочисток "Трактирщик"
                        .adv-good__item-price.text--primary
                            span.text--sm Цена:
                            b.text--lg  2 500 руб.
                        .rating
                            .rating_container
                                input.star-4(id="star-62", type="checkbox")
                                label(for='star-62')
                        span.text--success.text--sm Книги и журналы