.adv-sort
    .pull-left.col-sm-12.col-md-4.col-xs-12.text--left
        h3.text--uppercase 100 366 магазинов
    .col-sm-12.col-md-8.col-xs-12.pull-right
        ul.list--inline.text--left.text--md--right
            li.text--uppercase.text-md Сортировка
            li
                select.form-control
                    option По дате
                    option По дате
                    option По дате
                    option По дате
a(href="#").adv-good__item
    .row
        .col.col-xs-5.col-lg-3.col-md-4
            .adv-good__item-img
                img(src="images/shopImg-1.jpg", alt="")
        .col.col-xs-7.col-lg-7.col-md-8
            .adv-good__body
                .adv-good__item-desc.text--primary
                    h4 СуперФорд – Автозапчасти новые и б\у
                    p Запчасти б/у и новые в наличии для автомобилей Форд, Пежо, Ситроен. Разборка Форд, Пежо, Ситроен.
                    p.margbot0.text--md: b 4 811 объявлений
                span.text--success.text--sm Запчасти и аксессуары
a(href="#").adv-good__item
    .row
        .col.col-xs-5.col-lg-3.col-md-4
            .adv-good__item-img
                img(src="images/shopImg-2.jpg", alt="")
        .col.col-xs-7.col-lg-7.col-md-8
            .adv-good__body
                .adv-good__item-desc.text--primary
                    h4 Scooter-online Shop
                    p Scooter-online Shop (Скутер-онлайн Шоп) - мототехника, запчасти, аксессуары, экипировка.
                    p.margbot0.text--md: b 400 объявлений
                span.text--success.text--sm Мотоциклы и мототехника
a(href="#").adv-good__item
    .row
        .col.col-xs-5.col-lg-3.col-md-4
            .adv-good__item-img
                img(src="images/shopImg-3.jpg", alt="")
        .col.col-xs-7.col-lg-7.col-md-8
            .adv-good__body
                .adv-good__item-desc.text--primary
                    h4 СуперФорд – Автозапчасти новые и б\у
                    p Запчасти б/у и новые в наличии для автомобилей Форд, Пежо, Ситроен. Разборка Форд, Пежо, Ситроен.
                    p.margbot0.text--md: b 4 811 объявлений
                span.text--success.text--sm Запчасти и аксессуары
a(href="#").adv-good__item
    .row
        .col.col-xs-5.col-lg-3.col-md-4
            .adv-good__item-img
                img(src="images/shopImg-4.jpg", alt="")
        .col.col-xs-7.col-lg-7.col-md-8
            .adv-good__body
                .adv-good__item-desc.text--primary
                    h4 Scooter-online Shop
                    p Scooter-online Shop (Скутер-онлайн Шоп) - мототехника, запчасти, аксессуары, экипировка.
                    p.margbot0.text--md: b 400 объявлений
                span.text--success.text--sm Мотоциклы и мототехника
a(href="#").adv-good__item
    .row
        .col.col-xs-5.col-lg-3.col-md-4
            .adv-good__item-img
                img(src="images/shopImg-5.jpg", alt="")
        .col.col-xs-7.col-lg-7.col-md-8
            .adv-good__body
                .adv-good__item-desc.text--primary
                    h4 СуперФорд – Автозапчасти новые и б\у
                    p Запчасти б/у и новые в наличии для автомобилей Форд, Пежо, Ситроен. Разборка Форд, Пежо, Ситроен.
                    p.margbot0.text--md: b 4 811 объявлений
                span.text--success.text--sm Запчасти и аксессуары
a(href="#").adv-good__item
    .row
        .col.col-xs-5.col-lg-3.col-md-4
            .adv-good__item-img
                img(src="images/shopImg-2.jpg", alt="")
        .col.col-xs-7.col-lg-7.col-md-8
            .adv-good__body
                .adv-good__item-desc.text--primary
                    h4 Scooter-online Shop
                    p Scooter-online Shop (Скутер-онлайн Шоп) - мототехника, запчасти, аксессуары, экипировка.
                    p.margbot0.text--md: b 400 объявлений
                span.text--success.text--sm Мотоциклы и мототехника