.steps
    .steps__item.active
        .steps__img 1
        p Категория товара
    .steps__item
        .steps__img 2
        p Характеристики
    .steps__item
        .steps__img 3
        p Описание
    .steps__item
        .steps__img 4
        p Фотографии
    .steps__item
        .steps__img 5
        p Обмен
    .steps__item
        .steps__img 6
        p Контакты