//
// Partials -> Footer
// ------------------------------------

.footer {
  padding: 28px 0 18px;
  background: url('../images/imgFoot.jpg') top left repeat;
  border-top: 14px solid $brand-warning;
  color: white;
  @media (min-width: $screen-md-min) {
    //padding: 39px 0 96px;
    padding: 28px 0 43px;
  }
  //&-dark {
  //  padding: 22px 0;
  //  .list--inline {
  //    margin-bottom: 15px;

  //  }
  //}
  //.social { padding: 33px 0 28px;}
  .logoM {
    border-right: 1px solid #7b7b7b;
  }
  .navigation {
    margin-bottom: 25px;
    li {
      margin-bottom: 5px;
    }
    a {
      text-decoration: none;
      //font-size: 12px;
      color: white;
      //@media (min-width: $screen-lg-min) {
      //  font-size: 15px;
      //}
      &:hover {
        text-decoration: underline;
      }
    }
  }
  //.copyright {
  //  margin-bottom: 10px;
  //}
  //.navbar-brand {
  //  float: none;
  //}
  .social {
    font-size: 16px;
    margin-bottom: 17px;
    margin-top: 12px;
    i {
      color: #71a239;
      display: inline-block;
      background: #fff;
      @include border-radius(50%);
      width: 32px;
      height: 32px;
      text-align: center;
      padding: 4px;
      &:before {
        margin: 0;
      }
    }
  }
}