//
// Partials -> Header
// ------------------------------------

.header {
  padding-bottom: 29px;
  &-top {
    background-color: #fff;
    @media (min-width: $screen-md-min) {
      background-color: #eaebec;
    }
    .grey {
      background-color: #eaebec;
      margin-left: -7.5px;
      margin-right: -7.5px;
    }
  }
  &__items {
    font-family: $base-font-family-mono;
    width: 100%;
    @media (min-width: $screen-md-min) {
      display: table;
      height: 40px;
    }
    &--elem {
      display: inline-block;
      line-height: 1;
      text-align: center;
      vertical-align: middle;
      padding: 8px 4px;
      @media  (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        width: auto;
        padding: 0 8px;
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      i {
        display: inline-block;
        vertical-align: text-bottom;
        &::before {
          color: $brand-success;
          font-size: 18px;
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
          display: block;
          color: #3d4d65;
          padding: 0 8px;
        }
      }
      .btn {
        padding: 8px;
        i::before {color: #fff}
      }
      @media (min-width: $screen-md-min) {
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        a {
          padding: 10px 0;
        }
      }
    }
    select {
      background: url('../images/arrow.png') center right 10px no-repeat, transparent;
      border-color: transparent;
      color: #3d4d65;
      font-size: 12px;
      display: inline-block;
      width: auto;
      @media (min-width: $screen-md-min) {
        height: 40px;
      }
    }
  }
  &__warn {
    background-color: $brand-success;
    a,i::before {
     color: #fff;
    }
  }
  &__location {
    a, i:before {
      color: #3d4d65;
    }
  }

  &-bottom {
    padding: 0 0 21px;
    background-color: $lighter;
    @media (min-width: $screen-lg-min) {
      padding: 40px 0 0;
    }
    &--lk {
      p {margin-bottom: 0;}
      line-height: 1.3;
      padding: 29px 0 12px;
      background-color: $lighter;
    }
  }
  &-img {
    img {
      vertical-align: middle;
    }
  }
  .count {
    position: absolute;
    right: -5px;
    top: -7px;
    color: $lighter;
    font-size: 12px;
    padding: 0 5px;
    @include border-radius(25px);
    background-color: #ef5f54;
  }
}

.navbar-brand {
  position: relative;
  .beta {
    color: darkgrey;
    font-size: 10px;
    position: absolute;
    top: -12px;
    right: 0;
  }
  .slogan {
    position: absolute;
    bottom: 0;
    left: 80px;
  }
}

.subnav {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: $lighter;
  box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
  z-index: 2;
  li {
    padding: 0;
    a {
      padding: 14px 22px;
      color: #62a0d7;
      white-space: nowrap;
      text-decoration: none;
      &:hover, &:focus {
        background-color: #eff5fb;
      }
    }
  }
  .nav > li:hover & {
    display: block;
  }
}