//
// Partials -> Main
// ------------------------------------


// search
.search {
  background-color: #eaebec;
  .form-group {
    margin-bottom: 11px;
  }
  &__top {
    //background: #e8e8e8;
    //@include border-top-radius(5px);
    padding: 10px;
    @media (max-width: $screen-sm-max) {
      .btn {
        max-width: 200px;
        margin: 10px auto;
      }
    }
  }
  &__bottom {
    //background: #f7f7f7;
    //@include border-bottom-radius(5px);
    padding: 0 10px 0;
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
  &__middle {
    padding: 20px;
    border-top: 2px solid #cad3df;
    cursor: pointer;
    i {
      float: right;
      font-size: 22px;
      line-height: 1;
    }
    &.active {
      i:before { content: '\e80f'; }
    }
  }
  .form-control {
    height: 45px;
  }
  &__inner {
    background-color: #f7f7f7;
    //margin-top: -29px;
    //margin-bottom: 29px;
    .category {
      padding-top: 20px;
      display: none;
      @media (max-width: $screen-md-max) {
        padding-bottom: 20px;
      }
    }
    &-body {
      display: table;
      width: 100%;
      .item {
        display: table-cell;
        padding: 0 7.5px;
        vertical-align: top;
      }
      .btn-group .btn {
        padding: 0;height: auto;}
      @media (max-width: $screen-md-max) {
        display: inline;
        .item {
          width: auto;
          display: inline-block;
          padding: 0;
        }
        .checkbox { margin-top: 10px;}
        .form-group {margin-bottom: 10px;}
      }
    }
  }
}
// search

aside {
  .item {
    margin-bottom: 21px;
  }
}

.bannerBlock {
  background-color: #f7f7f7;
  img {display: block;width: 100%;}
  @media (max-width: $screen-md-max) {
    margin-top: 30px;
  }
}

.adsPost {
  i {
    font-size: 22px;
  }
  @media (min-width: $screen-md-min) {
    span {display: block;}
  }
}

.right-btn {
  position: absolute;
  bottom: 20px;
  right: 0;
}


.catalogBlock {
  //margin-top: 21px;
  margin-bottom: 62px;
  &--inner {
    margin-top: 32px;
  }
  &__item {
    margin-bottom: -1px;
    position: relative;
    @media (min-width: $screen-lg-min) {
      height: 300px;
    }
    @media (min-width: $screen-md-min) {
      margin-bottom: 14px;
    }
    .inner {
      padding: 1px 15px 10px 25px;
      border: 2px solid #cad3df;
      background: #fff;
      margin-top: -2px;
      @media (min-width: $screen-md-min) {
        padding: 10px 15px 20px 25px;
        @include border-radius(5px);
        margin-top: 0;
        &:hover {
          border-color: $brand-success;
          background: url("../images/frogCat.png") bottom right 12px no-repeat, #fff;
          a {
            text-decoration: underline;
          }
        }
      }
    }
    &-title {
      @media (min-width: $screen-md-min) {
        height: 40px;
        margin-bottom: 19px;
      }
      span {
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
        &:first-child {
          padding-right: 12px;
        }
      }
      img {
        margin-top: 6px;
      }
      a {
        text-decoration: none;
        color: #252525;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    a {text-decoration: none;display: inline-block;}
    &-body {
      @media (min-width: $screen-md-min) {
        height: 157px;
      }
      p {display: inline-block;font-weight: 300;
        margin-bottom: 6px;}
      span {
        //float: right;
        font-size: 12px;
      }
      a:not(.text--warning) {
        color: #4a596f;
        &:hover {
          color: $brand-success;
        }
      }
    }
    &-footer {
      margin-top: 15px;
      img {
        vertical-align: middle;
        margin-right: 9px;
      }
      a { text-decoration: none !important;}
    }
    &--thin {
      height: auto;
      .catalogBlock__item-body {
        display: none;
        @media (min-width: $screen-lg-min) {
          display: block;
          height: 88px;
          overflow: hidden;
        }
      }
      .catalogBlock__item-footer {
        margin-top: 0;
      }
    }
    &--middle {
      height: auto;
      .catalogBlock__item-body {
        display: none;
        @media (min-width: $screen-lg-min) {
          display: block;
          height: 111px;
          overflow: hidden;
          margin-bottom: 4px;
        }
      }
      .catalogBlock__item-footer {
        margin-top: 0;
      }
    }
    &--titleMain {
      text-align: center;
      h3 {
        margin: 0;
        padding: 10px 0;
        @media (min-width: $screen-md-min) {
          padding: 110px 0;
        }
        img {
          margin-left: 20px;
        }
      }
    }

    .list--inline > li {
      padding: 0;
    }
  }
}
.categoryBody--js {
  max-height: 134px;
  overflow: hidden;
}
.categoryBtn--js {
  img {
    margin-left: 5px;
  }
  a { text-decoration: none !important;}
}

.categoryBlock {
  margin-top: 21px;
  margin-bottom: 21px;
  @media (min-width: $screen-md-min) {
    margin-bottom: 62px;
  }
  &--inner {
    margin-top: 32px;
  }
  &__item {
    margin-bottom: -1px;
    position: relative;
    @media (min-width: $screen-md-min) {
      margin-bottom: 14px;
    }
    .inner {
      padding: 10px 15px 10px 25px;
      border: 2px solid #cad3df;
      background: #fff;
      @include border-radius(5px);
      @media (min-width: $screen-md-min) {
        //padding: 10px 15px 20px 25px;
      }
      &:hover {
        border-color: $brand-success;
        background: url("../images/frogCat.png") bottom right 12px no-repeat, #fff;
        a {
          text-decoration: underline;
        }
      }
    }
    &-title {
      margin-bottom: 19px;
      @media (min-width: $screen-md-min) {
        height: 40px;
      }
      span {
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
        &:first-child {
          padding-right: 12px;
        }
      }
      img {
        margin-top: 6px;
      }
      a {
        text-decoration: none;
        color: #252525;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    a {text-decoration: none;}
    &-footer {
      margin-top: 15px;
      img {
        vertical-align: middle;
        margin-right: 9px;
      }
      a { text-decoration: none !important;}
    }
  }
}

.filter {
  display: none;
  @media (min-width: $screen-md-min) {
    display: block;
  }
}

// adv
.adv {
  // adv main
  &__item {
    margin-bottom: 25px;
  }
  &__main {
    margin-bottom: 30px;
    margin-top: -12px;
    h3 { margin-bottom: 25px;}
    &-img {
      position: relative;
      overflow: hidden;
      &-price {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        padding: 9px;
        font-weight: 700;
        color: $lighter;
        font-size: $font-size-h3;
        font-family: $base-font-family-mono;
        background: rgba(0,0,0,0);
        line-height: 1;
        height: 42px;
        margin-bottom: 0;
      }
      &-title {
        min-height: 45px;
        h4 {
          margin-top: 14px;
          line-height: 1.3;
        }
      }
    }
  }
  // adv main

  // adv good
  &-good {
    &__item {
      text-decoration: none;
      display: block;
      margin-bottom: 20px;
      position: relative;
      padding: 20px;
      //border: 2px dotted #c3c3c3;
      @include border-radius();
      text-align: left;
      background: #fff;
      //@media (min-width: $screen-md-min) {
      //  text-align: left;
      //}
      //&-img {margin-bottom: 8px;}
      &.active {
        background: $brand-danger;
        //border-color: #fce9ca;
      }
      &.smallActive {
        background: #fff8cf;
        //border-color: #fff8cf;
      }
      img {vertical-align: middle;position: relative;top: -1px;}
      &-title {
        h3, h4 {
          margin: 6px 0 0;
          padding: 5px 0;
          font-weight: 400;
          display: inline-block;
          color: #3d4d65;
          .adv-good__item.active & {
            padding: 5px 14px;
            background-color: #df9818;
            color: #fff;
          }
          a {color: #3d4d65;}
        }
      }
      &-titleSec {
        h4 {margin: 0;}
      }
      .rating {
        //margin: 15px 0;
      }
      &-desc {
        line-height: 1.5;
        h4 {
          margin-top: 0;}
        @media (max-width: $screen-sm-max) {
          p:not(.text--md) {display: none;}
        }
      }
      &-price {
        line-height: 1;
        padding: 6px 0;
        margin-bottom: 10px;
        img {
          margin-right: 10px;
          vertical-align: middle;
        }
      }
      &-sec {
        color: #0456a4;
      }
      &-fir {
        color: #b1182f;
      }
      &-img {
        img {
          width: 100%;}
      }
      &-imgSec {
        margin-bottom: 20px;
      }
      &-count {
        position: absolute;
        display: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
        background: rgba(0,0,0,0.7);
        z-index: 2;
        img {
          width: auto;
          margin: 16% auto 0;
        }
      }
      &:hover {
        text-decoration: none;
        h3,h4 {text-decoration: underline;}
      }
      &-step {
        position: absolute;
        bottom: -25px;
        right: -21px;
      }
    }
  }
  // adv good

  // adv sort
  &-sort {
    padding: 20px 0;
    @include clearfix();
    select {
      min-width: 220px;
    }
    h3 {padding: 8px 0;}
    @media (max-width: $screen-sm-max) {
      padding: 0 0 15px 0;
      li {
        display: block;
        margin: 5px 0;
      }
    }
    i {
      @include border-radius();
      width: 45px;
      height: 45px;
      padding: 12px;
      text-align: center;
      display: inline-block;
      border: 1px solid $brand-info;
      &:before {
        color: $brand-info;
        margin: 0;
        font-size: 19px;
      }
      &:hover {
        border: 1px solid $brand-success;
        &:before {
          color: $brand-success;
        }
      }
    }
    .active i {
      border: 1px solid $brand-success;
      &:before {
        color: $brand-success;
      }
    }
    h3, h4 {margin: 0;line-height: 1.6;}
  }
  // adv sort

  // adv vip
  &-vip {
    background-color: white;
    &__title {
      text-align: center;
      background: $brand-success;
      padding: 5px;
      color: #fff;
    }
    &__body {
      padding: 0 10px;
      @media (min-width: $screen-xlg-min) {
        padding: 0 20px;
      }
    }
    &__item {
      display: block;
      text-decoration: none;
      padding: 20px 0;
      &:not(:last-child) {
        border-bottom: 1px solid #cad3df;
        //margin-bottom: 12px;
      }
      &-img {
        float: left;
        margin-right: 5px;
        max-width: 70px;
        @media (min-width: $screen-xlg-min) {
          max-width: inherit;
          margin-right: 18px;
        }
      }
      &-body {
        h6 {
          margin-top: 0;
          font-weight: 400;
          margin-bottom: 6px;
          line-height: 1.2;
        }
      }
      p {color: black;margin: 0;}
      img {vertical-align: middle;}
      &:hover {
        text-decoration: none;
        h6 {
          text-decoration: underline;}
      }
    }
  }
  // adv vip

  //adv favor
  &-favor {
    @include clearfix;
    position: relative;
    padding: 0 0 32px;
    @media (min-width: $screen-lg-min) {
      &:after {
        content: '';
        background: #eaebec;
        height: 4px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 21px;
        z-index: 1;
      }
    }
    &__btn {
      text-align: center;
      @media (min-width: $screen-md-min) {
        position: absolute;
        right: 0;
        top: -60px;
      }
      @media (min-width: $screen-lg-min) {
        top: -25px;
      }
    }
    //@media (max-width: $screen-md-max) {
    //  ul {
    //    max-height: 45px;
    //    overflow: hidden;
    //    @include transition();
    //    &.active {
    //      max-height: 1000px;
    //    }
    //  }
    //}
    ul {
      margin-left: -10px;}
    li {
      font-size: 18px;
      position: relative;
      font-weight: 400;
      padding: 0 13px;
      a {
        text-decoration: none;
        //color: $brand-success;
        color: #5f6f87;
        padding: 8px 0;
        z-index: 2;
        position: relative;
        border-bottom: 4px solid #eaebec;
      }
      &.active a {
        color: #5f6f87;
        border-color: $brand-success;
      }
    }
    img {position: relative;top: 2px;}
  }
  //adv favor
  
  // adv shops
  &-shops {
    margin: 40px 0;
    width: 100%;
    &__item {
      padding: 0 10px;
      h1 {
        margin: 0;
      }
      span {
        padding-left: 15px;
      }
    }
    @media (min-width: $screen-md-min) {
      display: table;
      &__item {
        vertical-align: middle;
        display: table-cell;
      }
    }
  }
  // adv shops
}
// adv
.favor__js {
  cursor: pointer;
  padding: 10px 0;
  position: relative;
  border-bottom: 4px solid #eaebec;
  color: $brand-success;
  font-size: 18px;
  font-weight: 400;
  i {
    position: absolute;
    top: 10px;
    right: 0;
  }
  &.active {
    border-width: 0;
    i:before {
      content: '\e80f';
    }
  }
  @media (min-width: $screen-lg-min) {
    display: none !important;
  }
}
.bannerM {
  margin-bottom: 11px;
}

.colors {
  li {
    text-align: center;
  }
  &__item {
    width: 100px;
    height: 100px;
  }
}

.shopBlock {
  p:not(.text--sm) {
    font-size: 16px;
  }
}

.authFormBlock {
  background-color: #f7f7f7;
  padding: 20px 0 30px;
  b {font-weight: 400;}
  @media (max-width: $screen-sm-max) {
   .btn, b {
     display: block;
     width: 100%;
   }
  }
  @media (min-width: $screen-md-min) {
    padding: 40px 0 95px;
    &--inner {
      padding-bottom: 70px;
    }
    span {display: block;}
  }
}

.textBlock {
  background-color: #f7f7f7;
  padding: 20px 0 60px;
  color: #3d4d65;
  p {
    margin-bottom: 20px;
  }
}


//searchBlock
.searchBlock {
  margin-bottom: 22px;
  margin-top: 50px;
  form {
    background-color: #eaebec;
    border-radius: 5px;
    padding: 8px 14px;
  }
  &--inner {
    display: inline;
    width: 100%;
    @media (min-width: $screen-lg-min) {
      display: table;
    }
    .btn-group .btn {
      padding: 0;
      height: auto;
    }
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 6px 6px;
    @media (min-width: $screen-md-min) {
      width: 32.7%;
    }
    @media (min-width: $screen-lg-min) {
      display: table-cell;
      vertical-align: middle;
      width: auto;
      .checkbox {
        white-space: nowrap;
      }
    }
    &-inline {
      display: inline-block;
      text-align: left;
      padding: 3px 15px;
      vertical-align: middle;
      @media (min-width: $screen-md-min) {
        //width: 24%;
        padding: 8px 15px;
      }
      @media (min-width: $screen-lg-min) {
        width: auto;
        padding: 8px 25px;
      }
    }
  }
  label {color: $brand-primary;}
  @media (min-width: $screen-xlg-min) {
    select {
      width: 250px;
    }
    button {
      //width: 187px;
    }
  }
}
//searchBlock


// variantBlock
.variantBlock {
  padding: 20px 0 40px;
  text-decoration: none;
  h1 {
    margin-bottom: 36px;}
  &__item {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    @media (min-width: $screen-sm-min) {
      width: 50%;
    }
    @media (min-width: $screen-md-min) {
      width: 33.333333%;
    }
    @media (min-width: $screen-lg-min) {
      width: 20%;
    }
    img {margin-bottom: 16px;}
    b {color: black;
      text-decoration: none;}
    &:hover {
      text-decoration: none;
      p {text-decoration: underline;}
    }
  }
}
// variantBlock

// goodsBlock
.listBlock {
  background: #f7f7f7;
}
.goodsBlock {
  background: #fff;
  @media (min-width: $screen-md-min) {
    &__inner { padding: 32px 0;}
  }
  &--slider {
    margin-bottom: 20px;
  }
  &--view {
    padding-bottom: 16px;
    color: #666;
    font-size: 14px;
    li {
      margin-bottom: 8px;
    }
    li:not(:last-child) {
      margin-right: 30px;
    }
    //@media (max-width: $screen-md-max) {
    //}
  }
  h2 {margin-top: 0;}
  &--prop {
    &__price {
      margin-bottom: 20px;
      font-size: 18px;
      b {font-size: 24px;
        font-weight: 600;}
      span {
        display: inline-block;
        padding: 17px 20px;
        &.pr {
          background-color: #f7f7f7;
        }
        @media (min-width: $screen-xlg-min) {
          padding: 17px 30px;
        }
      }
    }
    &__seller {
      padding: 26px;
      background-color: #f7f7f7;
    }
    &__info {
      margin-top: 9px;
    }
  }
  &--char {
    &__header {
      padding: 19px 0;
      color: #3d4d65;
      @media (min-width: $screen-md-min) {
        padding: 29px 0 19px;
      }
      b {
        font-weight: 600;}
    }
    &__body {
      padding: 26px 0 26px;
      border-top: 1px solid #eaebec;
      border-bottom: 1px solid #eaebec;
      h2 {color: #3d4d65;}
      h3 {font-weight: 400;}
    }
    &__footer {
      img {
        vertical-align: middle;
      }
      &-item {
        padding: 20px 0;
      }
      &-item + &-item {
        border-top: 1px solid #eaebec;
      }
    }
  }
  .tags {
    li {
      margin-top: 7px;
    }
  }
}
.editBlock {
  display: block;
  font-size: 12px;
  @media (max-width: $screen-sm-max) {
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: 2px solid #eaebec;
    border-bottom: 2px solid #eaebec;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    min-width: 150px;
    padding: 5px 0;
    &:first-child {
      padding-right: 14px;
    }
    &:last-child {
      padding-left: 14px;
    }
    @media (min-width: $screen-lg-min) {
      min-width: 170px;
      &:first-child {
        padding-right: 24px;
      }
      &:last-child {
        padding-left: 24px;
      }
    }
    a {
      text-decoration: none;
      color: #5f6f87;
      &:hover {text-decoration: underline;}
    }
  }
}

.favorBlock {
  padding-bottom: 50px;
  background: #f7f7f7;
  .checkbox {
    display: inline-block;
    vertical-align: middle;
    //margin-top: 10px;
    //@media (min-width: $screen-lg-min) {
    //  margin-top: 48px;
    //}
  }
}

.shareBlock {
  display: block;
  padding: 15px 0;
  @media (max-width: $screen-sm-max) {
    background: #f7f7f7;
    margin-bottom: 20px;
    text-align: center;
  }
  .rating_container label {
    top: 3px;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    min-width: 150px;
    span {
      //display: block;
    }
    &:first-child {
      border-right: 1px solid #7b7b7b;
      padding-right: 14px;
    }
    &:last-child {
      padding-left: 14px;
    }
    @media (min-width: $screen-lg-min) {
      min-width: 170px;
      &:first-child {
        padding-right: 24px;
      }
      &:last-child {
        padding-left: 24px;
      }
    }
    .rating_container label {
      float: left;
      margin-right: 11px;
      margin-top: 2px;
    }
  }
}
.list--float {
  li + li {margin-top: 13px;}
  span {
    display: inline-block;
    width: 35%;
    max-width: 147px;
    vertical-align: top;
    + span {
      width: 64%;
      max-width: inherit;
    }

    @media (min-width: $screen-md-min) {
      width: 25%;
      + span {
        width: 74%;
      }
    }
    @media (min-width: $screen-xlg-min) {
      width: 22%;
      + span {
        width: 77%;
      }
    }
  }
}
.slider-for {
  background-color: #f3f3f3;
  //border: 1px solid #c4c4c4;
  text-align: center;
  img {
    display: block;
    margin: auto;
  }
  .slick-next {
    right: 15px;
  }
  .slick-prev {
    left: 15px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-family: 'fontello';
    font-size: 16px;
    color: #fff;
  }
  .slick-prev,
  .slick-next {
    width: 48px;
    height: 48px;
    background-color: rgba(55, 67, 85, 0.5);
    border: 2px solid white;
    @include border-radius(50%);
    padding: 10px;
    text-align: center;
    &:hover {
      background-color: rgba(55, 67, 85, 0.8);
    }
  }
  .slick-prev:before {
    content: '\e801';
  }
  .slick-next:before {
    content: '\e804';
  }
}
.slider-nav {
  margin-top: 11px;
  text-align: center;
  .slick-slide {
    background-color: #f2f2f2;
    border: 1px solid transparent;
    margin: 0 5px;
    //height: 130px;
    //img { display: block;}
  }
  img {
    display: block;
    margin: auto;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 16px;
    font-family: 'fontello';
  }
  .slick-current {
    border-color: #c4c4c4;
  }
  .slick-prev:before {
    content: '\e800';
  }
  .slick-next:before {
    content: '\e802';
  }
}
// goodsBlock

// user
//.user {
//  &__name {
//
//  }
//  &__date {
//
//  }
//  &__count-adv {
//    span + span {
//      font-weight: 300;
//    }
//  }
//  &__desc {
//    li {
//      @include clearfix();
//      margin-bottom: 11px;
//      a {margin-bottom: 0;}
//      span {
//        float: left;
//        width: 35%;
//        font-size: 14px;
//        @media (min-width: $screen-lg-min) {
//          font-size: 15px;
//        }
//        + span {
//          float: right;
//          text-align: right;
//          width: 65%;
//        }
//      }
//    }
//  }
//}
// user


//account
.account {
  background-color: #f7f7f7;
  color: #54657e;
  padding-bottom: 40px;
  min-height: 50.7vh;
  h1, h2 { margin-top: 39px;color: #010101;}
  &__step {
    margin-top: 20px;
  }
  h6 img {
    vertical-align: bottom;
    margin-right: 10px;
  }
  .form-group {
    position: relative;}
  .edit-link {
    position: absolute;
    top: 50%;
    right: -30px;
  }
  &-sort {
    display: table;
    width: 100%;
    background-color: #eaebec;
    border-radius: 5px;
    margin-bottom: 27px;
    img {
      vertical-align: middle;
      margin-right: 8px;
    }
    &__item {
      display: table-cell;
      padding: 17px;
      vertical-align: middle;
      &--btn {
        border-left: 1px solid #f7f7f7;
      }
      &:not(:nth-child(2)) {
        text-align: center;
      }
    }
  }
  &__balance {
    background-color: #fff;
    padding: 10px 30px;
    h4 {color: black;
      margin-bottom: 26px;}
    .account-sort__item {
      padding: 10px;
    }
  }
  &__check {
    margin-top: 29px;
  }
}
.steps {
  text-align: center;
  &__item {
    color: #8797ae;
    font-weight: 400;
    display: inline-block;
    width: 16%;
    position: relative;
    &.active {color: $brand-success;}
    &:not(:last-child)::after {
      content: '';
      background: url("../images/step-line-top.png") top center no-repeat;
      width: 224px;
      height: 19px;
      position: absolute;
      top: 0;
      z-index: 0;
    }
    &:nth-child(even)::after {
      top: 15px;
      background: url("../images/step-line-bottom.png") bottom center no-repeat;
    }
  }
  &__img {
    font-size: 14px;
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 10px;
    background: url("../images/step.png") center center no-repeat;
    .active & {
      background: url("../images/step-active.png") center center no-repeat;
    }
    .check & {
      text-indent: -9999px;
      background: url("../images/step-check.png") center center no-repeat;
    }
  }
}
.step {
  &-red {
    position: absolute;
    top: 20px;
    right: 29px;
    img {
      vertical-align: text-top;
      margin-right: 7px;
    }
  }
  &__main {
    background-color: #fff;
    padding: 10px 30px 30px;
    margin-bottom: 20px;
    position: relative;
    h2, h3 {
      color: black;
    }
    .form-group > label {
      display: block;
      font-size: 12px;
      color: #8797ae;
    }
    &--type {
      .radio-inline {
        width: 22%;
        margin: 2% 1%;
        text-align: center;
      }
    }
    &--color {
      .color {
        width: 26px;
        height: 26px;
        border-radius: 5px;
        margin: 0 auto 10px;
      }
      .radio-inline {
        margin: 2% 1%;
        text-align: center;
        label {padding-left: 25px;}
      }
    }
    &--cat {
      table {
        //line-height: 2.3;
        margin-bottom: 0;
        tr:nth-child(odd) {background-color: #fcfcfc;}
        tr > td {border: none;
          &:first-child {width: 23%;}
        }
      }
      //.cat {
      //  display: table;
      //  width: 100%;
      //  > li {
      //    display: table-cell;
      //    vertical-align: top;
      //  }
      //}
    }
  }
}
.dropbox {
  border: 1px dashed #cad3df;
  border-radius: 5px;
  display: table;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  padding: 28px 28px 17px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  input {
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
.desc {display: none;}
.photo {
  margin-left: -8px;
  &__item {
    display: inline-block;
    background-color: white;
    border: 1px solid #cad3df;
    border-radius: 5px;
    position: relative;
    padding: 0 20px;
    margin: 0 7px 10px;
    img {
      vertical-align: middle;
      position: relative;
      z-index: 4;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      background-color: #fff;
      width: 80%;
      height: 105%;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }
  &__close {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 2;
    width: 25px;
    height: 25px;
    //padding: 5px;
    text-align: center;
    background-color: white;
    border: 1px solid #cad3df;
    border-radius: 5px;
    color: #8797ae;
    cursor: pointer;
    &:hover {
      background-color: #cad3df;
      color: white;
    }
  }
}
.acc-good {
  .adv-good__item {
    display: table;
    width: 100%;
  }
  &__cell {
    display: table-cell;
    vertical-align: top;
    &:first-child {
      vertical-align: middle;
    }
    &.ver-bottom {
      vertical-align: bottom;
    }
  }
  img {
    width: auto;
    margin-right: 9px;
  }
  .adv-good__item-price, .adv-good__item-title h3 {
    margin: 0;
  }
  .checkbox {
    display: inline-block;
  }
}
.slider-line {
  height: 10px;
  width: 112px;
  display: inline-block;
  background-color: white;
  border: 1px solid #cad3df;
  position: relative;
  .inner {
    width: 80%;
    height: 100%;
    background-color: #52a529;
    position: absolute;
    left: 0;
  }
}
.table--account__popover {
  position: relative;
}
.popover {
  &-body {
    text-align: left;
    &--inner {
      position: absolute;
      bottom: 0;
      right: 90px;
      z-index: 10;
      background-color: white;
      border: 2px solid #cad3df;
      border-radius: 5px;
      padding: 20px 20px 10px;
      width: 486px;
    }
    &__img {
      float: left;
      width: 36%;
      margin-right: 4%;
    }
    &--desc {
      float: left;
      width: 60%;
      b {color: #3d4d65;}
    }
  }
}
.services {
  margin-top: 20px;
  margin-bottom: 30px;
  &__item {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    img {vertical-align: middle;}
  }
  &__title {
    height: 59px;
    margin-bottom: 11px;
    h4 {
      line-height: 3;
    }
  }
  &__img {
    margin-bottom: 12px;
  }
  &__desc {
    text-align: left;
    height: 115px;
  }
  &__price {
    margin-top: 17px;
  }
}
.presents {
  //margin-top: 20px;
  margin-bottom: 17px;
  &__item {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    width: 18.7%;
    margin: 0 0.5%;
    img {vertical-align: middle;}
    &.disabled {
      .presents__img img {
        opacity: 0.3;
      }
    }
  }
  &__title {
    height: 40px;
    margin-bottom: 17px;
    text-align: left;
  }
  &__img {
    margin-bottom: 12px;
  }
  &__price {
    height: 94px;
    .btn--lg {padding: 10px 25px;}
    .text--danger {
      color: red;
      padding-top: 12px;
    }
  }
}
//account



.choose--city {
  .list--unstyled li {
    margin-bottom: 8px;
    line-height: 1.2;
  }
  a {
    color: #718197;
    font-size: 12px;
    @media (min-width: $screen-md-min) {
      font-size: 15px;
    }
  }
}

#search:focus {
  background: url("../images/search.png") center left 18px no-repeat, url("../images/arrow-icon.png") center right 10px no-repeat, #fff;
}

//base
.margleft20 {
  margin-left: 20px;
}
.pad0 {
  padding: 0;
}

@media (min-width: $screen-md-min) {
  .pad0-md {
    padding: 0;
  }
  form {
    input[type="submit"] {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
@media (min-width: $screen-lg-min) {
  .pad0-lg {
    padding: 0;
  }
}
//base


//plugin
.nav-tabs {
  li {
    display: block;
    padding: 0;
    @media (min-width: $screen-md-min) {
      float: left;
    }
    a {
      padding: 15px 26px;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight:700;
      text-decoration: none;
      background-color: #f9f9f9;
      &:focus,
      &:active,
      &:hover {
        color: #62a0d7;
        background-color: $lighter;
        text-decoration: underline;
      }
    }
    &.active a {
      color: #62a0d7;
      background-color: $lighter;
      text-decoration: underline;
    }
  }
  img {
    position: relative;
    margin-right: 13px;
  }
}
.nav-btn {
  li {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    float: left;
    width: 50%;
    a {
      padding: 15px 16px;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight:500;
      text-decoration: none;
      color: #5f6f87;
      border: 2px solid #cad3df;
      background-color: transparent;
      @media (min-width: $screen-md-min) {
        padding: 15px 26px;
      }
      &:focus,
      &:active,
      &:hover {
        color: $brand-warning;
        background-color: transparent;
      }
    }
    + li {
      margin-left: -2px;
    }
    &.active {
      z-index: 3;
      a {
        color: $brand-warning;
        border-color: $brand-warning;
        background-color: transparent;
      }
    }
    &:first-child a {
      @include border-left-radius(5px);
    }
    &:last-child a {
      @include border-right-radius(5px);
    }
  }
}
.rating {
  //@include clearfix();
  display: inline-block;
  @media (min-width: $screen-lg-min) {
    display: block;
  }
  &_container {
    input:checked ~ label, label,  label:hover,  label:hover ~ label {
      background: url('../images/starIco.png') no-repeat;
    }
    input {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      position: absolute;
      &:checked ~ label {
        background: url('../images/star.png') no-repeat;
      }
    }
    label {
      background-position: 0 0;
      height: 19px;
      width: 19px;
      float: right;
      cursor: pointer;
      //margin-right: 10px;
      margin: 0;
      position: relative;
      z-index: 1;
      top: 5px;
    }
    label:hover, label:hover ~ label {
      background: url('../images/star.png') no-repeat;
    }
  }
}
.slider-for2 {
  &.slick-dotted.slick-slider {margin: 0;}
  .slick-dots {
    opacity: 0;
    bottom: -10px;
    top: 0;
    li {
      height: 100%;
      width: 18%;
      margin: 0 1%;
      button::before {
        bottom: 0;
        top: auto;
        height: 4px;
        content: '';
        opacity: 1;
        width: 100%;
        background: #cad3df;
      }
      &.slick-active {
        button::before {
          background: #ff9f10;
        }
      }
    }
  }
  &:hover {
    .adv-good__item-count {
      display: block;
    }
  }
  &:hover .slick-dots {
    opacity: 1;
  }
}
//plugin