//- миксины

mixin list(classUl, ...items)
    ul(class=classUl)
        each item in items
            li.nav__element
                a(href="#").nav__element-item= item

//- input
mixin field(type, name, id, placeholder, required)
    div(class='field-' + type)
        input.form-control(type=type, name=name, id=id, placeholder=placeholder, required=required)


//- form-input
mixin fieldInput(type, name, id, label, data, required)
    label(for=id) #{label}
    input.form-control(type=type, name=name, id=id, data-label=data, required=required)
//- form-textarea
mixin fieldTextarea(name, id, label, data, required)
    .form-group(class='field-' + type)
        label(for=id) #{label}
        textarea.form-control(name=name, id=id, data-label=data, required=required)
//- form-checkbox
mixin fieldCheckbox(name, id, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label(for=id)=name
//- form-radio
mixin fieldRadio(name, id, val, label, checked)
    .radio
        input(type="radio", id=id, value=val, name=name, checked=checked)
        label(for=id)=label

mixin fieldRadioIn(name, id, val, label, checked)
    .radio.radio-inline
        input(type="radio", id=id, value=val, name=name, checked=checked)
        label(for=id)=label

mixin fieldRadioInBody(name, id, val, label, img, checked)
    .radio-inline
        img(src=img, alt="Кузов")
        .radio
            input(type="radio", id=id, value=val, name=name, checked=checked)
            label(for=id)=label

mixin fieldRadioInColor(name, id, label, color, checked)
    .radio-inline
        .color(style="background-color:#{color}")
        .radio
            input(type="radio", id=id, name=name, checked=checked)
            label(for=id)=label
//- rating
mixin rating(id, checked)
    .rating
        .rating_container
            input.star-4(id=id, type="checkbox", checked=checked)
            label(for=id)


mixin catalogMain(img, title, items, index)
    .col.col-xlg-3.col-lg-4.col-md-6.col-xs-12
        .catalogBlock__item(style="z-index:#{index}")
            .inner
                .catalogBlock__item-title
                    h4
                        .pull-left: img(src='images/#{img}', alt="")
                        span
                            a(href="#")= title
                            p.text--sm.text--default 1 718 635 объявлений
                .catalogBlock__item-body.hidden-sm.hidden-xs.hidden-md.category--js
                    ul.margbot0.list--unstyled.categoryBody--js
                        each price, item in items
                            li
                                p: a(href="#")= item
                                    |&nbsp;
                                    span= price
                    .categoryBtn--js
                        a.text--sm.text--warning(href="#")
                            span Все категории
                            img(src="images/arrow-left-icon.png", alt="")
                .catalogBlock__item-footer
                    a.text--success.text--sm(href="#")
                        img(src='images/icoMain.png', alt="")
                        | Обмен (95)


mixin catalogIndex(title, items, index)
    .col.col-lg-4.col-md-6.col-xs-12
        .catalogBlock__item(style="z-index:#{index}")
            .inner
                .catalogBlock__item-title
                    a.visible-sm.visible-xs.pull-right(href="#"): i.text--default.icon-right-open-big
                    h4
                        a(href="#")= title
                        p.text--sm.text--default 1 279 678 объявления
                .catalogBlock__item-body.hidden-sm.hidden-xs.hidden-md.category--js
                    ul.margbot0.list--unstyled.categoryBody--js
                        each price, item in items
                            li
                                p: a(href="#")= item
                    .categoryBtn--js
                        a.text--sm.text--warning(href="#")
                            span Все категории
                            img(src="images/arrow-left-icon.png", alt="")
                .catalogBlock__item-footer
                    a.text--success.text--sm(href="#")
                        img(src='images/icoMain.png', alt="")
                        | Обмен (95)


mixin catalogIndexThin(title, items)
    .col.col-lg-4.col-md-6.col-xs-12
        .catalogBlock__item.catalogBlock__item--thin
            .inner
                .catalogBlock__item-title
                    a.visible-sm.visible-xs.pull-right(href="#"): i.text--default.icon-right-open-big
                    h4
                        a(href="#")= title
                        p.text--sm.text--default 1 279 678 объявления
                .catalogBlock__item-body
                    each price, item in items
                        a(href="#")= item
                            | ,&nbsp;
                .catalogBlock__item-footer
                    a.text--success.text--sm(href="#")
                        img(src='images/icoMain.png', alt="")
                        | Обмен (1 279 678)


mixin categoryMain(img, title)
    .col.col-xlg-3.col-lg-4.col-md-6.col-xs-12
        .categoryBlock__item
            .inner
                .categoryBlock__item-title
                    h4
                        .pull-left: img(src='images/#{img}', alt="")
                        span
                            a(href="#")= title
                            p.text--sm.text--default 23 678 объявлений
                .categoryBlock__item-footer
                    a.text--success.text--sm(href="#")
                        img(src='images/icoMain.png', alt="")
                        | Обмен (95)


mixin categoryShops(img, title)
    .col.col-xlg-3.col-lg-4.col-md-6.col-xs-12
        .categoryBlock__item
            .inner
                .categoryBlock__item-title
                    h4
                        .pull-left: img(src='images/#{img}', alt="")
                        span
                            a(href="#")= title
                            p.text--sm.text--default 23 678 объявлений