//
// Modules -> Forms
// --------------------------------------------------


fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($base-font-size * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  color: #8493a8;
}


input[type="search"] {
  @include box-sizing(border-box);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}


// Common form controls
.form--control {
  display: block;
  width: 100%;
  height: $input-height-base;
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: 15px;
  line-height: $base-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  &:hover {
    border-color: #8493a8;
  }

  @include form-control-focus;

  @include placeholder;

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }

}

// Reset height for `textarea`s
textarea.form--control {
  height: auto;
  resize: none;
}


// Search inputs in iOS
input[type="search"] {
  -webkit-appearance: none;
}


.form--group {
  margin-bottom: $form-group-margin-bottom;
}


// Checkboxes and radios
.radio,
.checkbox {
  position: relative;
  display: block;
  //margin-top: 10px;
  //margin-bottom: 10px;

  label {
    padding-left: 36px;
    margin-bottom: 0;
    font-weight: 300;
    cursor: pointer;
    line-height: 1.6;
    font-size: 15px;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 4px;
      display: block;
      width: 25px;
      height: 25px;
      border: 1px solid #cad3df;
      background-color: #eceff4;
    }
  }
}

.checkbox {
  input[type="checkbox"] {display: none;}
}
.radio {
  input[type="radio"] {display: none;}
}
.checkbox label{
  &:after {
    @include border-radius(5px);
  }
}
.radio label {
  &:after {
    @include border-radius(50%);
  }
}

.checkbox input[type="checkbox"]:checked + label:after {
  background: url('../images/icons/icoCheck.png') center center no-repeat, #eceff4;
}
.radio input[type="radio"]:checked + label:after {
  background: url('../images/icons/icoRadio.png') center center no-repeat, #eceff4;
}


.radio + .radio,
.checkbox + .checkbox {
  margin-top: 20px;
}

.radio--inline,
.checkbox--inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio--inline + .radio--inline,
.checkbox--inline + .checkbox--inline {
  margin-top: 0;
  margin-left: 10px;
}

@if $use-input-group == true {
  .input--group {
    position: relative;
    display: table;
    border-collapse: separate;

    &[class*="col-"] {
      float: none;
      padding-left: 0;
      padding-right: 0;
    }
    .form--control {
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
    }
  }
  .input--group_addon,
  .input--group_btn,
  .input--group .form--control {
    display: table-cell;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
  .input--group_addon,
  .input--group_btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }

  .input--group_addon {
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $base-font-size;
    font-weight: normal;
    line-height: 1;
    color: $input-color;
    text-align: center;
    background-color: $input-group-addon-bg;
    border: 1px solid $input-group-addon-border-color;
    border-radius: $border-radius-base;

    input[type="radio"],
    input[type="checkbox"] {
      margin-top: 0;
    }
  }

  // Reset rounded corners
  .input--group .form--control:first-child,
  .input--group_addon:first-child,
  .input--group_btn:first-child > .btn,
  .input--group_btn:first-child > .btn--group > .btn,
  .input--group_btn:last-child > .btn--group:not(:last-child) > .btn {
    @include border-right-radius(0);
  }
  .input--group_addon:first-child {
    border-right: 0;
  }
  .input--group .form-control:last-child,
  .input--group-addon:last-child,
  .input--group_btn:last-child > .btn,
  .input--group_btn:last-child > .btn--group > .btn,
  .input--group_btn:first-child > .btn:not(:first-child),
  .input--group_btn:first-child > .btn--group:not(:first-child) > .btn {
    @include border-left-radius(0);
  }
  .input--group_addon:last-child {
    border-left: 0;
  }

  .input--group_btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;

    > .btn {
      position: relative;
      + .btn {
        margin-left: -1px;
      }
      &:hover,
      &:focus,
      &:active {
        z-index: 2;
      }
    }
    &:first-child {
      > .btn,
      > .btn--group {
        margin-right: -1px;
      }
    }
    &:last-child {
      > .btn,
      > .btn--group {
        z-index: 2;
        margin-left: -1px;
      }
    }
  }
}
