extends layouts/_default

block content
    - var title = { description: 'Книги' }
    section.main
        .container
            .adv-last
                h1.col.col-md-7.margtop0= title.description
                include modules/_breadcrumb
                .clearfix
                .row
                    .col.col-xs-12.col-md-4.filter__main
                        .panel
                            .panel-heading КАТЕГОРИИ
                            .panel-body
                                .text--center.text--lg--left
                                    a.btn.btn--grey.margbot20(href="#") КНИГИ
                                        i.close.close-js.text--success.icon-cancel
                                    a.btn.btn--grey.margbot20(href="#") МУЗЫКА
                                        i.close.close-js.text--success.icon-cancel
                                ul.list--unstyled.filter__main-cat
                                    li: a(href="#") Аксессуары
                                    li: a(href="#") Аудиокниги
                                    li: a(href="#") Детские книги
                                    li: a(href="#") Документальные книги
                                    li: a(href="#") Журналы
                                    li: a(href="#") Общеобразовательные
                                    li: a(href="#") Освещение
                                    li: a(href="#") Художественная литература
                        .panel
                            .panel-heading ЦЕНА
                            .panel-body
                                input#range
                        .panel
                            .panel-heading СОСТОЯНИЕ
                            .panel-body
                                .radio-inline.col-lg-4.col-xs-12
                                    .checkbox
                                        input(type="checkbox", name="new", id="new", checked)
                                        label(for="new") Новый
                                .radio-inline.col-lg-4.col-xs-12
                                    .checkbox
                                        input(type="checkbox", name="old", id="old")
                                        label(for="old") Поддержанный
                        .panel
                            .panel-heading ДОСТУПНОСТЬ
                            .panel-body
                                .radio-inline.col-lg-4.col-xs-12
                                    .checkbox
                                        input(type="checkbox", name="yes", id="yes", checked)
                                        label(for="yes") Да
                                .radio-inline.col-lg-4.col-xs-12
                                    .checkbox
                                        input(type="checkbox", name="no", id="no")
                                        label(for="no") Нет
                        .panel
                            .panel-heading СТРАНА
                            .panel-body
                                .this-or-this
                                    .this-or-this__this
                                        ul.list--unstyled.filter__main-cat
                                            li: a.text--info(href="#") Россия
                                            li: a.text--info(href="#") Казахстан
                                            li: a.text--info(href="#") Австралия
                        a.margbot30.btn.btn--success.btn--block.text--uppercase(href="#") применить фильтр
                    .col.col-xs-12.col-md-8
                        .adv-last__item
                            .panel
                                .row
                                    .col.col-xs-12.col-md-6.col-lg-5.adv-last__item-m
                                        .adv-last__item-img
                                            img.block(src="images/last-img-1.jpg", alt="")
                                    .col.col-xs-12.col-md-6.col-lg-7.pad0-md
                                        .panel-body
                                            .adv-last__item-title
                                                h4.margbot20.text--uppercase: a(href="#") Антуан де сент-экзюпери
                                                    | «маленький принц»
                                            p
                                                img.ico(src="images/settings.png", alt="")
                                                | Поддержанный
                                            .rating
                                                .rating_container
                                                    - for (var x = 0; x < 5; x++)
                                                        input.star-4(id="star-#{x}", type="radio", name="reviewStars-1")
                                                        label(for='star-#{x}')
                                            .adv-last__item-comment: a.non-under(href="#")
                                                img.ico(src="images/comment.png", alt="")
                                                | 1
                                            .adv-last__item-price.pull-left
                                                span 1 600&nbsp;
                                                    span.text--through P
                                            .adv-last__item-icon.pull-right
                                                ul.list--inline
                                                    li: a(href="#"): img.ico(src="icons/last-ico-1.png", alt="")
                                                    li: a(href="#"): img.ico(src="icons/last-ico-2.png", alt="")
                                                    li: a(href="#"): img.ico(src="icons/last-ico-3.png", alt="")
                        .adv-last__item
                            .panel
                                .row
                                    .col.col-xs-12.col-md-6.col-lg-5.adv-last__item-m
                                        .adv-last__item-img
                                            img.block(src="images/last-img-3.jpg", alt="")
                                    .col.col-xs-12.col-md-6.col-lg-7.pad0-md
                                        .panel-body
                                            .adv-last__item-title
                                                h4.margbot20.text--uppercase: a(href="#") михаил булгаков «мастер
                                                    | и маргарита»
                                            p
                                                img.ico(src="images/settings.png", alt="")
                                                | Поддержанный
                                            .rating
                                                .rating_container
                                                    - for (var x = 5; x < 10; x++)
                                                        input.star-4(id="star-#{x}", type="radio", name="reviewStars-2")
                                                        label(for='star-#{x}')
                                            .adv-last__item-comment: a.non-under(href="#")
                                                img.ico(src="images/comment.png", alt="")
                                                | 5
                                            .adv-last__item-price.pull-left
                                                span 1 600&nbsp;
                                                    span.text--through P
                                            .adv-last__item-icon.pull-right
                                                ul.list--inline
                                                    li: a(href="#"): img.ico(src="icons/last-ico-1.png", alt="")
                                                    li: a(href="#"): img.ico(src="icons/last-ico-2.png", alt="")
                                                    li: a(href="#"): img.ico(src="icons/last-ico-3.png", alt="")
                        .adv-last__item
                            .panel
                                .row
                                    .col.col-xs-12.col-md-6.col-lg-5.adv-last__item-m
                                        .adv-last__item-img
                                            img.block(src="images/last-img-4.jpg", alt="")
                                    .col.col-xs-12.col-md-6.col-lg-7.pad0-md
                                        .panel-body
                                            .adv-last__item-title
                                                h4.margbot20.text--uppercase: a(href="#") дэн браун «мастер и маргарита»
                                            p
                                                img.ico(src="images/settings.png", alt="")
                                                | Поддержанный
                                            .rating
                                                .rating_container
                                                    - for (var x = 10; x < 15; x++)
                                                        input.star-4(id="star-#{x}", type="radio", name="reviewStars-3")
                                                        label(for='star-#{x}')
                                            .adv-last__item-comment: a.non-under(href="#")
                                                img.ico(src="images/comment.png", alt="")
                                                | 63
                                            .adv-last__item-price.pull-left
                                                span 1 600&nbsp;
                                                    span.text--through P
                                            .adv-last__item-icon.pull-right
                                                ul.list--inline
                                                    li: a(href="#"): img.ico(src="icons/last-ico-1.png", alt="")
                                                    li: a(href="#"): img.ico(src="icons/last-ico-2.png", alt="")
                                                    li: a(href="#"): img.ico(src="icons/last-ico-3.png", alt="")
                include modules/_rotator