extends layouts/_default

block content
    - var title = { description: 'Недавно просмотренные' }
    section.main
        .container
            .adv-last
                h1.margtop0= title.description
                .adv-last__item
                    .panel
                        .row
                            .col.col-xs-12.col-md-4.col-lg-3
                                .adv-last__item-img
                                    img.block(src="images/last-img-1.jpg", alt="")
                            .col.col-xs-12.col-md-8.col-lg-9.pad0-md
                                .panel-body
                                    .adv-last__item-title
                                        h4.margbot20.text--uppercase: a(href="#") Это длинный заголовок, и если больше 90го числа, обрезаем..
                                    p
                                        img.ico(src="images/settings.png", alt="")
                                        | Поддержанный
                                    .rating
                                        .rating_container
                                            - for (var x = 0; x < 5; x++)
                                                input.star-4(id="star-#{x}", type="radio", name="reviewStars-1")
                                                label(for='star-#{x}')
                                    .adv-last__item-comment: a.non-under(href="#")
                                        img.ico(src="images/comment.png", alt="")
                                        | 1
                                    .adv-last__item-price.pull-left
                                        span 1 600&nbsp;
                                            span.text--through P
                                    .adv-last__item-icon.pull-right
                                        ul.list--inline
                                            li: a(href="#"): img.ico(src="icons/last-ico-1.png", alt="")
                                            li: a(href="#"): img.ico(src="icons/last-ico-2.png", alt="")
                                            li: a(href="#"): img.ico(src="icons/last-ico-3.png", alt="")
                .adv-last__item
                    .panel
                        .row
                            .col.col-xs-12.col-md-4.col-lg-3
                                .adv-last__item-img
                                    img.block(src="images/last-img-2.jpg", alt="")
                            .col.col-xs-12.col-md-8.col-lg-9.pad0-md
                                .panel-body
                                    .adv-last__item-title
                                        h4.margbot20.text--uppercase: a(href="#") Игровая приставка play station 4
                                    p
                                        img.ico(src="images/settings.png", alt="")
                                        | Новый
                                    .rating
                                        .rating_container
                                            - for (var x = 5; x < 10; x++)
                                                input.star-4(id="star-#{x}", type="radio", name="reviewStars-2")
                                                label(for='star-#{x}')
                                    .adv-last__item-comment: a.non-under(href="#")
                                        img.ico(src="images/comment.png", alt="")
                                        | 6
                                    .adv-last__item-price.pull-left
                                        span 21 000&nbsp;
                                            span.text--through P
                                    .adv-last__item-icon.pull-right
                                        ul.list--inline
                                            li: a(href="#"): img.ico(src="icons/last-ico-1.png", alt="")
                                            li: a(href="#"): img.ico(src="icons/last-ico-2.png", alt="")
                                            li: a(href="#"): img.ico(src="icons/last-ico-3.png", alt="")
                .adv-last__item
                    .panel
                        .row
                            .col.col-xs-12.col-md-4.col-lg-3
                                .adv-last__item-img
                                    img.block(src="images/last-img-3.jpg", alt="")
                            .col.col-xs-12.col-md-8.col-lg-9.pad0-md
                                .panel-body
                                    .adv-last__item-title
                                        h4.margbot20.text--uppercase: a(href="#") Антуан де сент-экзюпери «маленький принц» тестовый заголовок в несколько строк
                                    p
                                        img.ico(src="images/settings.png", alt="")
                                        | Поддержанный
                                    .rating
                                        .rating_container
                                            - for (var x = 10; x < 15; x++)
                                                input.star-4(id="star-#{x}", type="radio", name="reviewStars-3")
                                                label(for='star-#{x}')
                                    .adv-last__item-comment: a.non-under(href="#")
                                        img.ico(src="images/comment.png", alt="")
                                        | 1
                                    .adv-last__item-price.pull-left
                                        span 1 600&nbsp;
                                            span.text--through P
                                    .adv-last__item-icon.pull-right
                                        ul.list--inline
                                            li: a(href="#"): img.ico(src="icons/last-ico-1.png", alt="")
                                            li: a(href="#"): img.ico(src="icons/last-ico-2.png", alt="")
                                            li: a(href="#"): img.ico(src="icons/last-ico-3.png", alt="")
                .adv-last__item
                    .panel
                        .row
                            .col.col-xs-12.col-md-4.col-lg-3
                                .adv-last__item-img
                                    img.block(src="images/last-img-4.jpg", alt="")
                            .col.col-xs-12.col-md-8.col-lg-9.pad0-md
                                .panel-body
                                    .adv-last__item-title
                                        h4.margbot20.text--uppercase: a(href="#") Игровая приставка play station 4
                                    p
                                        img.ico(src="images/settings.png", alt="")
                                        | Новый
                                    .rating
                                        .rating_container
                                            - for (var x = 15; x < 20; x++)
                                                input.star-4(id="star-#{x}", type="radio", name="reviewStars-4")
                                                label(for='star-#{x}')
                                    .adv-last__item-comment: a.non-under(href="#")
                                        img.ico(src="images/comment.png", alt="")
                                        | 6
                                    .adv-last__item-price.pull-left
                                        span 21 000&nbsp;
                                            span.text--through P
                                    .adv-last__item-icon.pull-right
                                        ul.list--inline
                                            li: a(href="#"): img.ico(src="icons/last-ico-1.png", alt="")
                                            li: a(href="#"): img.ico(src="icons/last-ico-2.png", alt="")
                                            li: a(href="#"): img.ico(src="icons/last-ico-3.png", alt="")
                .text--center.text--md--right.margtop10
                    a.btn.btn--success.btn-block-sm.text--uppercase(href="#") очистить список