extends layouts/_default

block content
    - var title = { description: 'Typical' }
    section.bannerBlock
        .container
            a.hidden-sm.hidden-xs(href='/'): img(src="images/banner-1.jpg", alt="")
            a.visible-sm.visible-xs(href='/'): img(src="images/bannerM-4.jpg", alt="")
    section.catalogBlock
        .container
            .text--lg--left.text--center
                p.margtop30: a(href="#") Все объявления в Санкт-Петербурге
            .text--center
                h1.text--success.text--uppercase Каталог объявлений
            .catalogBlock--inner
                .row
                    +catalogMain('catIco-1.png', 'Личные вещи', catalog1)
                    +catalogMain('catIco-2.png', 'Транспорт', catalog2)
                    +catalogMain('catIco-3.png', 'Хобби и отдых', catalog3)
                    +catalogMain('catIco-4.png', 'Для дома и дачи', catalog4)
                    +catalogMain('catIco-5.png', 'Электроника и техника', catalog5)
                    +catalogMain('catIco-6.png', 'Для бизнеса', catalog6)
                    +catalogMain('catIco-7.png', 'Услуги', catalog7)
                    +catalogMain('catIco-8.png', 'Недвижимость', catalog8)
                    +catalogMain('catIco-9.png', 'Работа', catalog9)
                    +catalogMain('catIco-10.png', 'Животные и растения', catalog10)
                    .col.col-xlg-3.col-lg-4.col-md-6.col-xs-12
                        .catalogBlock__item
                            .catalogBlock__item--titleMain
                                h3.text--uppercase: a.text--warning(href="#") Все категории
                                    img(src='images/arrL.png', alt="")
    section.goodsBlock
        .container
            .row
                .col.col-lg-9.col-xs-12
                    include modules/_sort
                    .adv-good__item.active
                        .row
                            .col.col-xs-12.col-lg-3.col-md-4
                                .adv-good__item-img
                                    img.block(src="images/user-img-1.jpg", alt="")
                            .col.col-xs-12.col-lg-7.col-md-8
                                .adv-good__body
                                    .text--primary
                                        img.ico(src="images/metroIcoB.png", alt="")
                                        |  м. Озерки
                                    .adv-good__item-title
                                        h3: a(href="#") Бежевые кроссовки Reebok нат. замша (36-41)
                                    .adv-good__item-price
                                        img.pull-left.ico(src="images/priceIco.png", alt="")
                                        span Цена:
                                            br
                                            b.text--danger.text--lg 3 500 руб.
                                    a(href="#") Одежда, обувь, аксессуары
                            .col.col-xs-12.col-lg-2.text--right.hidden-xs.hidden-sm.hidden-md
                                p.text--default.text--sm Сегодня 17:41
                                .rating
                                    .rating_container
                                        input.star-4(id="star-1", type="checkbox")
                                        label(for='star-1')
                    .adv-good__item
                        .row
                            .col.col-xs-12.col-lg-3.col-md-4
                                .adv-good__item-img
                                    img.block(src="images/user-img-2.jpg", alt="")
                            .col.col-xs-12.col-lg-7.col-md-8
                                .adv-good__body
                                    .text--primary
                                        img.ico(src="images/metroIcoR.png", alt="")
                                        |  Площадь Восстания
                                    .adv-good__item-title
                                        h3: a(href="#") Подставка для салфеток и зубочисток "Трактирщик"
                                    .adv-good__item-price
                                        span Цена:
                                            br
                                            b.text--danger.text--lg 2500 руб.
                                    a(href="#") Книги и журналы
                            .col.col-xs-12.col-lg-2.text--right.hidden-xs.hidden-sm.hidden-md
                                p.text--default.text--sm Сегодня 17:41
                                .rating
                                    .rating_container
                                        input.star-4(id="star-2", type="checkbox")
                                        label(for='star-2')
                    .visible-xs.visible-sm.visible-md.bannerM
                        img.ico(src="images/bannerM-1.jpg", alt="")
                    .adv-good__item
                        .row
                            .col.col-xs-12.col-lg-3.col-md-4
                                .adv-good__item-img
                                    img.block(src="images/user-img-1.jpg", alt="")
                            .col.col-xs-12.col-lg-7.col-md-8
                                .adv-good__body
                                    .text--primary
                                        img.ico(src="images/metroIcoB.png", alt="")
                                        |  м. Озерки
                                    .adv-good__item-title
                                        h3: a(href="#") Бежевые кроссовки Reebok нат. замша (36-41)
                                    .adv-good__item-price
                                        span Цена:
                                            br
                                            b.text--danger.text--lg 3 500 руб.
                                    a(href="#") Одежда, обувь, аксессуары
                            .col.col-xs-12.col-lg-2.text--right.hidden-xs.hidden-sm.hidden-md
                                p.text--default.text--sm Сегодня 17:41
                                .rating
                                    .rating_container
                                        input.star-4(id="star-1", type="checkbox")
                                        label(for='star-1')
                    .adv-good__item.smallActive
                        .row
                            .col.col-xs-12.col-lg-3.col-md-4
                                .adv-good__item-img
                                    img.block(src="images/user-img-2.jpg", alt="")
                            .col.col-xs-12.col-lg-7.col-md-8
                                .adv-good__body
                                    .text--primary
                                        img.ico(src="images/metroIcoR.png", alt="")
                                        |  Площадь Восстания
                                    .adv-good__item-title
                                        h3: a(href="#") Подставка для салфеток и зубочисток "Трактирщик"
                                    .adv-good__item-price
                                        span Цена:
                                            br
                                            b.text--danger.text--lg 2500 руб.
                                    a(href="#") Книги и журналы
                            .col.col-xs-12.col-lg-2.text--right.hidden-xs.hidden-sm.hidden-md
                                p.text--default.text--sm Сегодня 17:41
                                .rating
                                    .rating_container
                                        input.star-4(id="star-2", type="checkbox")
                                        label(for='star-2')
                    .visible-xs.visible-sm.visible-md.bannerM
                        img.ico(src="images/bannerM-2.jpg", alt="")
                    .adv-good__item
                        .row
                            .col.col-xs-12.col-lg-3.col-md-4
                                .adv-good__item-img
                                    img.block(src="images/user-img-1.jpg", alt="")
                            .col.col-xs-12.col-lg-7.col-md-8
                                .adv-good__body
                                    .text--primary
                                        img.ico(src="images/metroIcoB.png", alt="")
                                        |  м. Озерки
                                    .adv-good__item-title
                                        h3: a(href="#") Бежевые кроссовки Reebok нат. замша (36-41)
                                    .adv-good__item-price
                                        img.pull-left.ico(src="images/priceIco.png", alt="")
                                        span Цена:
                                            br
                                            b.text--danger.text--lg 3 500 руб.
                                    a(href="#") Одежда, обувь, аксессуары
                            .col.col-xs-12.col-lg-2.text--right.hidden-xs.hidden-sm.hidden-md
                                p.text--default.text--sm Сегодня 17:41
                                .rating
                                    .rating_container
                                        input.star-4(id="star-1", type="checkbox")
                                        label(for='star-1')
                    .adv-good__item
                        .row
                            .col.col-xs-12.col-lg-3.col-md-4
                                .adv-good__item-img
                                    img.block(src="images/user-img-2.jpg", alt="")
                            .col.col-xs-12.col-lg-7.col-md-8
                                .adv-good__body
                                    .text--primary
                                        img.ico(src="images/metroIcoR.png", alt="")
                                        |  Площадь Восстания
                                    .adv-good__item-title
                                        h3: a(href="#") Подставка для салфеток и зубочисток "Трактирщик"
                                    .adv-good__item-price
                                        span Цена:
                                            br
                                            b.text--danger.text--lg 2500 руб.
                                    a(href="#") Книги и журналы
                            .col.col-xs-12.col-lg-2.text--right.hidden-xs.hidden-sm.hidden-md
                                p.text--default.text--sm Сегодня 17:41
                                .rating
                                    .rating_container
                                        input.star-4(id="star-2", type="checkbox")
                                        label(for='star-2')
                    .visible-xs.visible-sm.visible-md.bannerM
                        img.ico(src="images/bannerM-3.jpg", alt="")
                    include modules/_paginator
                include modules/_sidebar
                //    .catalogBlock__item
                //        .catalogBlock__item-title
                //            h4.text--uppercase
                //                img(src='images/catIco-1.png', alt="")
                //                span  Личные вещи
                //                sup.text--success 1 718 635
                //        .catalogBlock__item-body
                //            ul.list--unstyled
                //                li
                //                    p Одежда, обувь, аксессуары
                //                    span.text--warning 718 635
                //                li
                //                    p Детская одежда и обувь
                //                    span.text--warning 419 222
                //                li
                //                    p Товары для детей и игрушки
                //                    span.text--warning 147 400
                //                li
                //                    p Часы и украшения
                //                    span.text--warning 80 148
                //                li
                //                    p Красота и здоровье
                //                    span.text--warning 64 244
                //        .catalogBlock__item-footer
                //            a.text--uppercase.text--info(href="#")
                //                img(src='images/icoMain.png', alt="")
                //                | Обмен (95)
                //.col.col-md-3
                //    .catalogBlock__item
                //        .catalogBlock__item-title
                //            h4.text--uppercase
                //                img(src='images/catIco-2.png', alt="")
                //                span  Транспорт
                //                sup.text--success 1 718 635
                //        .catalogBlock__item-body
                //            ul.list--unstyled
                //                li
                //                    p Одежда, обувь, аксессуары
                //                    span.text--warning 718 635
                //                li
                //                    p Детская одежда и обувь
                //                    span.text--warning 419 222
                //                li
                //                    p Товары для детей и игрушки
                //                    span.text--warning 147 400
                //                li
                //                    p Часы и украшения
                //                    span.text--warning 80 148
                //                li
                //                    p Красота и здоровье
                //                    span.text--warning 64 244
                //        .catalogBlock__item-footer
                //            a.text--uppercase.text--info(href="#")
                //                img(src='images/icoMain.png', alt="")
                //                | Обмен (95)