extends layouts/_default

block content
    - var title = { description: 'Страница отдельной новости' }
    section.main
        .container
            .adv-news
                include modules/_breadcrumb
                h1.margtop0= title.description
                .row
                    .col.col-xs-12.col-md-8
                        .adv-news__item
                            .panel
                                .panel-body
                                    .adv-news__item-img
                                        img(src="images/article-img-b.jpg", alt="")
                                    .adv-news__item-date
                                        p.text--warning
                                            img.ico(src="images/clock.png", alt="")
                                            | 10 апреля 2015 г., 21:40
                                    .adv-news__item-text
                                        p В основном Сатурн состоит из водорода, с примесями гелия и следами воды, метана, аммиака и тяжёлых элементов. Внутренняя область представляет собой небольшое ядро из железа, никеля и льда, покрытое тонким слоем металлического водорода и газообразным внешним слоем. Внешняя атмосфера планеты кажется из космоса спокойной и однородной, хотя иногда на ней появляются долговременные образования. Скорость ветра на Сатурне может достигать местами 1800 км/ч, что значительно больше, чем на Юпитере. У Сатурна имеется планетарное магнитное поле, занимающее промежуточное положение по напряжённости между магнитным полем Земли и мощным полем Юпитера. Магнитное поле Сатурна простирается на 1 000 000 километров в направлении Солнца. Ударная волна была зафиксирована «Вояджером-1» на расстоянии в 26,2 радиуса Сатурна от самой планеты, магнитопауза расположена на расстоянии в 22,9 радиуса.
                                        p Сатурн обладает заметной системой колец, состоящей главным образом из частичек льда, меньшего количества тяжёлых элементов и пыли. Вокруг планеты обращается 62 известных на данный момент спутника[2]. Титан — самый крупный из них, а также второй по размерам спутник в Солнечной системе (после спутника Юпитера, Ганимеда), который превосходит по своим размерам Меркурий и обладает единственной среди спутников Солнечной системы плотной атмосферой
                                        a.text--info(href="#") Вернуться к списку новостей
                    .col.col-xs-12.col-md-4
                        form(action="", method="post")
                            .panel
                                .panel-body
                                    h3 Новостная рассылка
                                    .form-group
                                        +field('text', 'name', 'name', 'Имя', false)
                                    .form-group
                                        +field('email', 'email', 'email', 'Электронная почта', false)
                                    a.btn.btn--success.btn--block.text--uppercase(href="#") подписаться