extends layouts/_default

block content
    - var title = { description: 'Отзывы' }
    section.main
        .container
            .adv-media
                include modules/_breadcrumb
                h1.margtop0= title.description
                .row
                    .col.col-xs-12.col-md-6
                        .adv-media__item
                            .panel
                                .panel-body
                                    .panel-body-inner
                                        p В основном Сатурн состоит из водорода, с примесями гелия и следами воды, метана, аммиака и тяжёлых элементов. Внутренняя область представляет собой небольшое ядро из железа, никеля и льда, покрытое тонким слоем металлического водорода и газообразным внешним слоем. Внешняя атмосфера планеты кажется из
                                        .relative
                                            .adv-media__item-img
                                                img(src="images/reviews-ava-1.jpg", alt="")
                                            .adv-media__item-author
                                                p: b.text--uppercase Константин Константинович
                                                p.text--warning
                                                    img.ico(src="images/clock.png", alt="")
                                                    | 19 сентября, среда, 01:10
                        .adv-media__item
                            .panel
                                .panel-body
                                    .panel-body-inner
                                        p  Титан — самый крупный из них, а также второй по размерам спутник в Солнечной системе (после спутника Юпитера, Ганимеда), который превосходит по своим
                                        .relative
                                            .adv-media__item-img
                                                img(src="images/reviews-ava-2.jpg", alt="")
                                            .adv-media__item-author
                                                p: b.text--uppercase Светлана алексеевна
                                                p.text--warning
                                                    img.ico(src="images/clock.png", alt="")
                                                    | 15 мая, понедельник, 12:55
                        .adv-media__item
                            .panel
                                .panel-body
                                    .panel-body-inner
                                        p В качестве продолжительности оборота Сатурна вокруг оси принята величина 10 часов, 34 минуты и 13 секунд[10]. Сатурн — единственная планета, у которой осевая скорость вращения на экваторе больше орбитальной скорости вращения (9,87 км/с и 9,69 км/с соответственно). Точная
                                        .relative
                                            .adv-media__item-img
                                                img(src="images/reviews-ava-3.jpg", alt="")
                                            .adv-media__item-author
                                                p: b.text--uppercase Ян иванов
                                                p.text--warning
                                                    img.ico(src="images/clock.png", alt="")
                                                    | 3 февраля, четверг, 10:31
                    .col.col-xs-12.col-md-6
                        form(action="", method="post")
                            .panel
                                .panel-body
                                    .col.col-xs-12.col-sm-9.col-md-12.col-lg-9.center-block
                                        h3 Добавить отзыв
                                        .form-group.input-group
                                            span.input-group-addon
                                                i.icon-user
                                            input.form-control(type="text", placeholder="ФИО", name="name2")
                                        .form-group.input-group
                                            span.input-group-addon
                                                i.icon-mail
                                            input.form-control(type="email", placeholder="Электронная почта", name="mail2")
                                        .form-group.input-group
                                            span.input-group-addon
                                                i.icon-mail
                                            textarea.form-control(placeholder="Ваш отзыв", rows="4", name="message2")
                                        .form-group.capcha.text--right
                                            img(src="images/capcha.jpg", alt="")
                                        .form-group
                                            a.btn.btn--success.btn--block.text--uppercase(href="#") отправить отзыв