extends layouts/_default

block content
    - var title = { description: 'Мои проданные товары' }
    section.main
        .container
            .adv-last
                h1.margtop0= title.description
                .row
                    .col.col-xs-12.col-md-4
                        .panel
                            .panel-body
                                a.filter__title-js.text--success.hidden-lg.hidden-md(href="#") Меню
                                    i.icon-down-dir
                                ul.filter.list--unstyled
                                    - for (var x = 0; x < 2; x++)
                                        li: a(href="#") Добро пожаловать
                                        li: a(href="#") Добавить объявление
                                        li: a(href="#") Мои сообщения
                                        li: a(href="#") Мой профиль
                                        li: a(href="#") Избранные
                                        li: a(href="#") Сохраненный поиск
                                        li: a(href="#") Мои объявления
                                        li: a(href="#") Мои пакеты
                    .col.col-xs-12.col-md-8
                        .adv-last__item
                            .panel
                                .row
                                    .col.col-xs-12.col-md-6.col-lg-5.adv-last__item-m
                                        .adv-last__item-img
                                            .sold: img(src="images/sold.png", alt="")
                                            img.block(src="images/last-img-1.jpg", alt="")
                                    .col.col-xs-12.col-md-6.col-lg-7.pad0-md
                                        .panel-body
                                            .adv-last__item-title
                                                h4.margbot20.text--uppercase: a(href="#") Антуан де сент-экзюпери
                                                    | «маленький принц»
                                            p
                                                img.ico(src="images/settings.png", alt="")
                                                | Поддержанный
                                            .rating
                                                .rating_container
                                                    - for (var x = 0; x < 5; x++)
                                                        input.star-4(id="star-#{x}", type="radio", name="reviewStars-1")
                                                        label(for='star-#{x}')
                                            .adv-last__item-comment: a.non-under(href="#")
                                                img.ico(src="images/comment.png", alt="")
                                                | 1
                                            .adv-last__item-price.pull-left
                                                span 1 600&nbsp;
                                                    span.text--through P
                                            .adv-last__item-icon.pull-right
                                                ul.list--inline
                                                    li: a(href="#"): img.ico(src="icons/last-ico-1.png", alt="")
                                                    li: a(href="#"): img.ico(src="icons/last-ico-2.png", alt="")
                                                    li: a(href="#"): img.ico(src="icons/last-ico-3.png", alt="")
                        .adv-last__item
                            .panel
                                .row
                                    .col.col-xs-12.col-md-6.col-lg-5.adv-last__item-m
                                        .adv-last__item-img
                                            .sold: img(src="images/sold.png", alt="")
                                            img.block(src="images/last-img-3.jpg", alt="")
                                    .col.col-xs-12.col-md-6.col-lg-7.pad0-md
                                        .panel-body
                                            .adv-last__item-title
                                                h4.margbot20.text--uppercase: a(href="#") михаил булгаков «мастер
                                                    | и маргарита»
                                            p
                                                img.ico(src="images/settings.png", alt="")
                                                | Поддержанный
                                            .rating
                                                .rating_container
                                                    - for (var x = 5; x < 10; x++)
                                                        input.star-4(id="star-#{x}", type="radio", name="reviewStars-2")
                                                        label(for='star-#{x}')
                                            .adv-last__item-comment: a.non-under(href="#")
                                                img.ico(src="images/comment.png", alt="")
                                                | 5
                                            .adv-last__item-price.pull-left
                                                span 1 600&nbsp;
                                                    span.text--through P
                                            .adv-last__item-icon.pull-right
                                                ul.list--inline
                                                    li: a(href="#"): img.ico(src="icons/last-ico-1.png", alt="")
                                                    li: a(href="#"): img.ico(src="icons/last-ico-2.png", alt="")
                                                    li: a(href="#"): img.ico(src="icons/last-ico-3.png", alt="")
                        .adv-last__item
                            .panel
                                .row
                                    .col.col-xs-12.col-md-6.col-lg-5.adv-last__item-m
                                        .adv-last__item-img
                                            .sold: img(src="images/sold.png", alt="")
                                            img.block(src="images/last-img-4.jpg", alt="")
                                    .col.col-xs-12.col-md-6.col-lg-7.pad0-md
                                        .panel-body
                                            .adv-last__item-title
                                                h4.margbot20.text--uppercase: a(href="#") дэн браун «мастер и маргарита»
                                            p
                                                img.ico(src="images/settings.png", alt="")
                                                | Поддержанный
                                            .rating
                                                .rating_container
                                                    - for (var x = 10; x < 15; x++)
                                                        input.star-4(id="star-#{x}", type="radio", name="reviewStars-3")
                                                        label(for='star-#{x}')
                                            .adv-last__item-comment: a.non-under(href="#")
                                                img.ico(src="images/comment.png", alt="")
                                                | 63
                                            .adv-last__item-price.pull-left
                                                span 1 600&nbsp;
                                                    span.text--through P
                                            .adv-last__item-icon.pull-right
                                                ul.list--inline
                                                    li: a(href="#"): img.ico(src="icons/last-ico-1.png", alt="")
                                                    li: a(href="#"): img.ico(src="icons/last-ico-2.png", alt="")
                                                    li: a(href="#"): img.ico(src="icons/last-ico-3.png", alt="")