extends layouts/_default

block content
    - var title = { description: 'Поиск' }
    section.main
        .container
            .adv-search
                include modules/_breadcrumb
                h1.margtop0= title.description
                form.search-city(action="", method="post")
                    ul.nav.nav-tabs(role='tablist')
                        li.active
                            a(href='#tab1', role='tab', data-toggle='tab')
                                i.icons.icons-new.icons-paper
                                | Объявления
                        li
                            a(href='#tab2', role='tab', data-toggle='tab')
                                i.icons.icons-search-b
                                | Поиск по ключевым словам
                    .search-city__inner
                        .tab-content
                            #tab1.active.tab-pane.fade.in
                                .search-city__inner-row.row
                                    .col.col-lg-4.col-md-5.col-xs-12
                                        label Поиск по ключевым словам
                                    .col.col-lg-8.col-md-7.col-xs-12
                                        .form-group
                                            input.form-control(type=' text', placeholder='Например, кинотеатр')
                                        .form-group
                                            .checkbox
                                                input(type="checkbox", name="search1", id="search1")
                                                label(for="search1") Все слова в любом порядке
                                        .form-group
                                            .checkbox
                                                input(type="checkbox", name="search2", id="search2", checked)
                                                label(for="search2") Любые слова в любом порядке
                                        .form-group
                                            .checkbox
                                                input(type="checkbox", name="search3", id="search3")
                                                label(for="search3") Точное совпадение
                                        .form-group
                                            a.text--info(data-toggle="collapse", href="#collapse", aria-expanded="false", aria-controls="collapseExample") Расширенные настройки
                                        #collapse.collapse
                                            .form-group
                                                input.form-control(type=' text', placeholder='настройки')
                                .search-city__inner-row.row
                                    .col.col-lg-4.col-md-5.col-xs-12
                                        label Цена
                                    .col.col-lg-8.col-md-7.col-xs-12
                                        .form-group
                                            .row
                                                .col.col-lg-3.col-sm-5.col-xs-12
                                                    input.form-control(type=' text', placeholder='От')
                                                .col.col-lg-1.col-sm-2.text--center.hidden-xs
                                                    label —
                                                .col.col-lg-3.col-sm-5.col-xs-12.margtop10-xs
                                                    input.form-control(type=' text', placeholder='До ')
                                                .col.col-lg-1
                                                .col.col-lg-4.col-xs-12.margtop10-m
                                                    .select
                                                        select.form-control.text--info
                                                            option руб./мес.
                                                            option руб./мес.
                                                            option руб./мес.
                                                            option руб./мес.
                                .search-city__inner-row.row
                                    .col.col-lg-4.col-md-5.col-xs-12
                                        label Состояние
                                    .col.col-lg-8.col-md-7.col-xs-12
                                        .form-group
                                            .radio-inline.col-lg-4.col-xs-12
                                                .checkbox
                                                    input(type="checkbox", name="yes", id="yes", checked)
                                                    label(for="yes") Поддержанный
                                            .radio-inline.col-lg-4.col-xs-12
                                                .checkbox
                                                    input(type="checkbox", name="no", id="no")
                                                    label(for="no") Новый
                                .search-city__inner-row.row
                                    .col.col-lg-4.col-md-5.col-xs-12
                                        label Почтовый индекс
                                    .col.col-lg-8.col-md-7.col-xs-12
                                        .form-group
                                            input.form-control.col-md-7.col-xs-12(type=' text', placeholder='Например, индекс')
                                .search-city__inner-row.row
                                    .col.col-lg-4.col-md-5.col-xs-12
                                        label Страна
                                    .col.col-lg-8.col-md-7.col-xs-12
                                        .form-group
                                            .select.col-md-7.col-xs-12
                                                select.form-control
                                                    option Россия
                                                    option Россия
                                                    option Россия
                                                    option Россия
                                .search-city__inner-row.row
                                    .col.col-lg-4.col-md-5.col-xs-12
                                        label Область
                                    .col.col-lg-8.col-md-7.col-xs-12
                                        .form-group
                                            input.form-control.col-md-7.col-xs-12(type=' text', placeholder='Например, Область')
                                .search-city__inner-row.row
                                    .col.col-lg-4.col-md-5.col-xs-12
                                        label Город
                                    .col.col-lg-8.col-md-7.col-xs-12
                                        .form-group
                                            input.form-control.col-md-7.col-xs-12(type=' text', placeholder='Например, Город')
                                .search-city__inner-row.row
                                    .col.col-lg-4.col-md-5.col-xs-12
                                        label Автор
                                    .col.col-lg-8.col-md-7.col-xs-12
                                        .form-group
                                            .select.col-md-7.col-xs-12
                                                select.form-control
                                                    option Любой
                                                    option Любой
                                                    option Любой
                                                    option Любой
                                .search-city__inner-row.row
                                    .col.col-lg-4.col-md-5.col-xs-12
                                    .col.col-lg-8.col-md-7.col-xs-12
                                        .form-group
                                            .checkbox
                                                input(type="checkbox", name="photo", id="photo")
                                                label(for="photo") Только с фотографиями
                                .search-city__inner-row.row
                                    .col.col-lg-4.col-md-5.col-xs-12
                                    .col.col-lg-8.col-md-7.col-xs-12
                                        .form-group
                                            a.btn.btn--success.btn--block.text--uppercase.col-md-7.col-xs-12(href="#") Поиск
                                        .form-group.text--center.col-md-7.col-xs-12
                                            a.text--info(href="#") Расширенный поиск
                            #tab2.tab-pane.fade
                                .row Вторая вкладка
                .col-md-6.margtop40
                    h3.margbot30 Ваше местоположение
                    form.searchbar.searchbar-long.margbot10(action="", method="post")
                        .input-group
                            +field('text', 'search', 'search', 'Я ищу', false)
                            .input-group-btn
                                button.btn.btn--success(type="submit") Найти
                    .place.col-lg-8
                        p.text--warning Или выберите Ваше местоположение
                        .this-or-this
                            .this-or-this__this
                                ul.list--unstyled
                                    li: a.text--info(href="#") Казахстан
                                    li: a.text--info(href="#") Дагестан
                                    li: a.text--info(href="#") Россия
                                    li: a.text--info(href="#") Великобритания
                                    li: a.text--info(href="#") Австралия
                            .this-or-this__or
                                ul.list--unstyled
                                    li: a.text--info(href="#") США
                                    li: a.text--info(href="#") Люксембург
                                    li: a.text--info(href="#") Германия
                                    li: a.text--info(href="#") Бельгия