extends layouts/_default

block content
    - var title = { description: 'Магазин Сергея Иванова' }
    section.main
        .container
            .adv-last
                h1.col.col-md-7.margtop0= title.description
                include modules/_breadcrumb
                .clearfix
                .row
                    .col.col-xs-12.col-md-4
                        .panel.user
                            .panel-body
                                h3 Подробная информация
                            .text--center
                                img(src="images/main-ava.jpg", alt="")
                            .panel-body
                                p.user__name: b.text--uppercase Иванов Сергей ИВАНОВИЧ
                                p.user__date.text--warning Продавец с 11 фев. 2015 г.
                                h3.user__count-adv
                                    span.text--success 956
                                    span.text--primary  объявлений
                                ul.user__desc.list--unstyled
                                    li
                                        span.text--warning Название:
                                        span Магазин Сергея
                                            br
                                            | Иванова
                                    li
                                        span.text--warning Индекс:
                                        span 153 031
                                    li
                                        span.text--warning Телефон:
                                        span +7 (4932) 41-22-56
                                    li
                                        span.text--warning Сайт:
                                        span: a.text--info(href="#") www.sergeyiv.ru
                                    li
                                        span.text--warning Обо мне:
                                        span В основном Сатурн состоит из водорода, с примесями гелия и следами воды, метана
                        a.margbot30.btn.btn--success.btn--block.text--uppercase(href="#") отправить сообщение
                        .panel.user
                            .panel-body
                                h3 Местоположение продавца
                            .text--center
                                img(src="images/map.jpg", alt="")
                            .panel-body
                                ul.user__desc.list--unstyled
                                    li
                                        span.text--warning Страна:
                                        span Россия
                                    li
                                        span.text--warning Город:
                                        span Южно-Сахалинск
                                    li
                                        span.text--warning Адрес:
                                        span ул. Ленина, д. 123, кв. 3
                    .col.col-xs-12.col-md-8
                        include modules/_sort
                        .adv-last__item
                            .panel
                                .row
                                    .col.col-xs-12.col-md-6.col-lg-5.adv-last__item-m
                                        .adv-last__item-img
                                            img.block(src="images/user-img-1.jpg", alt="")
                                    .col.col-xs-12.col-md-6.col-lg-7.pad0-md
                                        .panel-body
                                            .adv-last__item-title
                                                h4.margbot20.text--uppercase: a(href="#") Гирлянда новогодняя «ослепительная»
                                            p
                                                img.ico(src="images/settings.png", alt="")
                                                | Поддержанный
                                            .rating
                                                .rating_container
                                                    - for (var x = 0; x < 5; x++)
                                                        input.star-4(id="star-#{x}", type="radio", name="reviewStars-1")
                                                        label(for='star-#{x}')
                                            .adv-last__item-comment: a.non-under(href="#")
                                                img.ico(src="images/comment.png", alt="")
                                                | 5
                                            .adv-last__item-price.pull-left
                                                span 900&nbsp;
                                                    span.text--through P
                                            .adv-last__item-icon.pull-right
                                                ul.list--inline
                                                    li: a(href="#"): i.icons.icons-new.icons-heart
                                                    li: a(href="#"): i.icons.icons-new.icons-busket
                                                    li: a(href="#"): i.icons.icons-new.icons-arrlr
                        .adv-last__item
                            .panel
                                .row
                                    .col.col-xs-12.col-md-6.col-lg-5.adv-last__item-m
                                        .adv-last__item-img
                                            img.block(src="images/user-img-2.jpg", alt="")
                                    .col.col-xs-12.col-md-6.col-lg-7.pad0-md
                                        .panel-body
                                            .adv-last__item-title
                                                h4.margbot20.text--uppercase: a(href="#") набор шаров для елки «сказочный»
                                            p
                                                img.ico(src="images/settings.png", alt="")
                                                | Новый
                                            .rating
                                                .rating_container
                                                    - for (var x = 5; x < 10; x++)
                                                        input.star-4(id="star-#{x}", type="radio", name="reviewStars-2")
                                                        label(for='star-#{x}')
                                            .adv-last__item-comment: a.non-under(href="#")
                                                img.ico(src="images/comment.png", alt="")
                                                | 15
                                            .adv-last__item-price.pull-left
                                                span 5 600&nbsp;
                                                    span.text--through P
                                            .adv-last__item-icon.pull-right
                                                ul.list--inline
                                                    li: a(href="#"): i.icons.icons-new.icons-heart
                                                    li: a(href="#"): i.icons.icons-new.icons-busket
                                                    li: a(href="#"): i.icons.icons-new.icons-arrlr
                        .adv-last__item
                            .panel
                                .row
                                    .col.col-xs-12.col-md-6.col-lg-5.adv-last__item-m
                                        .adv-last__item-img
                                            img.block(src="images/user-img-3.jpg", alt="")
                                    .col.col-xs-12.col-md-6.col-lg-7.pad0-md
                                        .panel-body
                                            .adv-last__item-title
                                                h4.margbot20.text--uppercase: a(href="#") елка новогодняя декоративная
                                            p
                                                img.ico(src="images/settings.png", alt="")
                                                | Новый
                                            .rating
                                                .rating_container
                                                    - for (var x = 10; x < 15; x++)
                                                        input.star-4(id="star-#{x}", type="radio", name="reviewStars-3")
                                                        label(for='star-#{x}')
                                            .adv-last__item-comment: a.non-under(href="#")
                                                img.ico(src="images/comment.png", alt="")
                                                | 63
                                            .adv-last__item-price.pull-left
                                                span 3 000&nbsp;
                                                    span.text--through P
                                            .adv-last__item-icon.pull-right
                                                ul.list--inline
                                                    li: a(href="#"): i.icons.icons-new.icons-heart
                                                    li: a(href="#"): i.icons.icons-new.icons-busket
                                                    li: a(href="#"): i.icons.icons-new.icons-arrlr
                        .adv-last__item
                            .panel
                                .row
                                    .col.col-xs-12.col-md-6.col-lg-5.adv-last__item-m
                                        .adv-last__item-img
                                            img.block(src="images/user-img-1.jpg", alt="")
                                    .col.col-xs-12.col-md-6.col-lg-7.pad0-md
                                        .panel-body
                                            .adv-last__item-title
                                                h4.margbot20.text--uppercase: a(href="#") Гирлянда новогодняя «ослепительная»
                                            p
                                                img.ico(src="images/settings.png", alt="")
                                                | Поддержанный
                                            .rating
                                                .rating_container
                                                    - for (var x = 20; x < 25; x++)
                                                        input.star-4(id="star-#{x}", type="radio", name="reviewStars-1")
                                                        label(for='star-#{x}')
                                            .adv-last__item-comment: a.non-under(href="#")
                                                img.ico(src="images/comment.png", alt="")
                                                | 5
                                            .adv-last__item-price.pull-left
                                                span 900&nbsp;
                                                    span.text--through P
                                            .adv-last__item-icon.pull-right
                                                ul.list--inline
                                                    li: a(href="#"): i.icons.icons-new.icons-heart
                                                    li: a(href="#"): i.icons.icons-new.icons-busket
                                                    li: a(href="#"): i.icons.icons-new.icons-arrlr
                        .adv-last__item
                            .panel
                                .row
                                    .col.col-xs-12.col-md-6.col-lg-5.adv-last__item-m
                                        .adv-last__item-img
                                            img.block(src="images/user-img-2.jpg", alt="")
                                    .col.col-xs-12.col-md-6.col-lg-7.pad0-md
                                        .panel-body
                                            .adv-last__item-title
                                                h4.margbot20.text--uppercase: a(href="#") набор шаров для елки «сказочный»
                                            p
                                                img.ico(src="images/settings.png", alt="")
                                                | Новый
                                            .rating
                                                .rating_container
                                                    - for (var x = 25; x < 30; x++)
                                                        input.star-4(id="star-#{x}", type="radio", name="reviewStars-2")
                                                        label(for='star-#{x}')
                                            .adv-last__item-comment: a.non-under(href="#")
                                                img.ico(src="images/comment.png", alt="")
                                                | 15
                                            .adv-last__item-price.pull-left
                                                span 5 600&nbsp;
                                                    span.text--through P
                                            .adv-last__item-icon.pull-right
                                                ul.list--inline
                                                    li: a(href="#"): i.icons.icons-new.icons-heart
                                                    li: a(href="#"): i.icons.icons-new.icons-busket
                                                    li: a(href="#"): i.icons.icons-new.icons-arrlr
                        .adv-last__item
                            .panel
                                .row
                                    .col.col-xs-12.col-md-6.col-lg-5.adv-last__item-m
                                        .adv-last__item-img
                                            img.block(src="images/user-img-3.jpg", alt="")
                                    .col.col-xs-12.col-md-6.col-lg-7.pad0-md
                                        .panel-body
                                            .adv-last__item-title
                                                h4.margbot20.text--uppercase: a(href="#") елка новогодняя декоративная
                                            p
                                                img.ico(src="images/settings.png", alt="")
                                                | Новый
                                            .rating
                                                .rating_container
                                                    - for (var x = 30; x < 35; x++)
                                                        input.star-4(id="star-#{x}", type="radio", name="reviewStars-3")
                                                        label(for='star-#{x}')
                                            .adv-last__item-comment: a.non-under(href="#")
                                                img.ico(src="images/comment.png", alt="")
                                                | 63
                                            .adv-last__item-price.pull-left
                                                span 3 000&nbsp;
                                                    span.text--through P
                                            .adv-last__item-icon.pull-right
                                                ul.list--inline
                                                    li: a(href="#"): i.icons.icons-new.icons-heart
                                                    li: a(href="#"): i.icons.icons-new.icons-busket
                                                    li: a(href="#"): i.icons.icons-new.icons-arrlr
                        include modules/_paginator