//
// Modules -> Navs
// --------------------------------------------------

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: inline-block;

    > a {
      position: relative;
      display: block;
      padding: $nav-link-padding;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $nav-link-hover-bg;
      }
    }
  }
  // Prevent IE8 from misplacing imgs
  > li > a > img {
    max-width: none;
  }

  &--justified {
    width: 100%;

    > li {
      float: none;
      > a {
        text-align: center;
        margin-bottom: 5px;
      }
    }
    @media (min-width: $screen-sm-min) {
      > li {
        display: table-cell;
        width: 1%;
        > a {
          margin-bottom: 0;
        }
      }
    }
  }

  &--collapse {
    overflow-x: visible;
    padding-right: $navbar-padding-horizontal;
    padding-left: $navbar-padding-horizontal;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    @include clearfix;
    -webkit-overflow-scrolling: touch;

    &.in {
      overflow-y: auto;
    }

    @media (min-width: $screen-sm-min) {
      width: auto;
      border-top: 0;
      box-shadow: none;

      &.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
      }

      &.in {
        overflow-y: visible;
      }
    }
  }

  &--fixed_top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px;
    z-index: $zindex-navbar-fixed;
  }
}

.navbar {
  position: relative;

  @media (min-width: $screen-md-min) {
    &__left {
      float: left;
    }
    &__right {
      float: right;
    }
  }
  &__main {

  }
  &--collapse {
    overflow-x: visible;
    padding-right: $navbar-padding-horizontal;
    padding-left:  $navbar-padding-horizontal;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    @include clearfix;
    -webkit-overflow-scrolling: touch;

    &.in {
      overflow-y: auto;
    }

    @media (min-width: $screen-md-min) {
      width: auto;
      border-top: 0;
      box-shadow: none;

      &.collapse {
        display: block;
        height: auto;
        padding-bottom: 0;
        overflow: visible;
      }

      &.in {
        overflow-y: visible;
      }
    }
  }
  &--toggle {
    position: relative;
    float: right;
    margin-right: $navbar-padding-horizontal;
    padding: 9px 10px;

    &:focus {
      outline: 0;
    }
    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      background: #000;
      border-radius: 1px;
    }
    .icon-bar + .icon-bar {
      margin-top: 4px;
    }
    @media (min-width: $screen-md-min) {
      display: none;
    }
  }
}