//
// Modules -> Visibility utilities
// --------------------------------------------------

@if $use-adaptive == true {
  @include responsive-invisibility('.visible__xs');
  @include responsive-invisibility('.visible__sm');
  @include responsive-invisibility('.visible__md');
  @include responsive-invisibility('.visible__lg');

  .visible__xs-inlineBlock,
  .visible__sm-inlineBlock,
  .visible__md-inlineBlock,
  .visible__lg-inlineBlock{
    display: none !important;
  }

  @media (max-width: $screen-xs-max) {
    @include responsive-visibility('.visible__xs');
  }
  .visible__xs-inlineBlock {
    @media (max-width: $screen-xs-max) {
      display: inline-block !important;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include responsive-visibility('.visible__sm');
  }
  .visible__sm-inlineBlock {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      display: inline-block !important;
    }
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include responsive-visibility('.visible__md');
  }
  .visible__md-inlineBlock {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      display: inline-block !important;
    }
  }

  @media (min-width: $screen-lg-min) {
    @include responsive-visibility('.visible__lg');
  }
  .visible__lg-inlineBlock {
    @media (min-width: $screen-lg-min) {
      display: inline-block !important;
    }
  }

  @media (max-width: $screen-xs-max) {
    @include responsive-invisibility('.hidden__xs');
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include responsive-invisibility('.hidden__sm');
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include responsive-invisibility('.hidden__md');
  }

  @media (min-width: $screen-lg-min) {
    @include responsive-invisibility('.hidden__lg');
  }
}