//
// Modules -> This-or-this (table method for align)
// --------------------------------------------------

@if $use-this-or-this == true{
  .thisOrThis{
    display:table;
    width:100%;
    text-align:center;
  }
  .thisOrThis__this,
  .thisOrThis__or{
    display:table-cell;
    vertical-align:middle;
  }
}