extends layouts/_default

block content
    - var title = { description: 'Войти в личный кабинет' }
    section.authFormBlock
        .container
            .text--center
                h1= title.description
                form
                    .col-xlg-4.col-lg-5.col-md-6.center-block
                        .form-group
                            input.form-control(placeholder="E-mail", type="email")
                        .form-group
                            input.form-control(placeholder="Пароль", type="password")
                            .text--right.margtop10
                                a.text--md(href="#"): b Забыли пароль?
                        .form-group
                            input.btn.btn--success.text--uppercase.btn--lg(value="Войти", type="submit")
                        .form-group
                            p.text--md Впервые на сайте?&nbsp;
                                a(href="#"): b Зарегистрироваться
                        .text--left
                            p.text--sm Регистрируясь, я подтверждаю своё согласие с условиями
                                br
                                a(href="#") пользовательского соглашения