extends layouts/_default

block content
    - var title = { description: 'Все объявления в Санкт-Петербурге' }
    section.bannerBlock.hidden-sm.hidden-xs
        .container
            a(href=''): img(src="images/banner-1.jpg", alt="")
    section.catalogBlock
        .container
            include modules/_breadcrumb
            .text--left
                h1 Каталог объявлений
            .catalogBlock--inner
                .row
                    +catalogMain('catIco-1.png', 'Личные вещи', catalog1, 33)
                    +catalogMain('catIco-2.png', 'Транспорт', catalog2, 32)
                    +catalogMain('catIco-3.png', 'Хобби и отдых', catalog3, 31)
                    +catalogMain('catIco-4.png', 'Для дома и дачи', catalog4, 30)
                    +catalogMain('catIco-5.png', 'Электроника и техника', catalog5, 29)
                    +catalogMain('catIco-6.png', 'Для бизнеса', catalog6, 28)
                    +catalogMain('catIco-7.png', 'Услуги', catalog7, 27)
                    +catalogMain('catIco-8.png', 'Недвижимость', catalog8, 26)
                    +catalogMain('catIco-9.png', 'Работа', catalog9, 25)
                    +catalogMain('catIco-10.png', 'Животные и растения', catalog10, 24)
    section.listBlock
        .container
            .row
                .col.col-lg-9.col-xs-12
                    include modules/_sort
                    include modules/_paginator
                include modules/_sidebar
                //    .catalogBlock__item
                //        .catalogBlock__item-title
                //            h4.text--uppercase
                //                img(src='images/catIco-1.png', alt="")
                //                span  Личные вещи
                //                sup.text--success 1 718 635
                //        .catalogBlock__item-body
                //            ul.list--unstyled
                //                li
                //                    p Одежда, обувь, аксессуары
                //                    span.text--warning 718 635
                //                li
                //                    p Детская одежда и обувь
                //                    span.text--warning 419 222
                //                li
                //                    p Товары для детей и игрушки
                //                    span.text--warning 147 400
                //                li
                //                    p Часы и украшения
                //                    span.text--warning 80 148
                //                li
                //                    p Красота и здоровье
                //                    span.text--warning 64 244
                //        .catalogBlock__item-footer
                //            a.text--uppercase.text--info(href="#")
                //                img(src='images/icoMain.png', alt="")
                //                | Обмен (95)
                //.col.col-md-3
                //    .catalogBlock__item
                //        .catalogBlock__item-title
                //            h4.text--uppercase
                //                img(src='images/catIco-2.png', alt="")
                //                span  Транспорт
                //                sup.text--success 1 718 635
                //        .catalogBlock__item-body
                //            ul.list--unstyled
                //                li
                //                    p Одежда, обувь, аксессуары
                //                    span.text--warning 718 635
                //                li
                //                    p Детская одежда и обувь
                //                    span.text--warning 419 222
                //                li
                //                    p Товары для детей и игрушки
                //                    span.text--warning 147 400
                //                li
                //                    p Часы и украшения
                //                    span.text--warning 80 148
                //                li
                //                    p Красота и здоровье
                //                    span.text--warning 64 244
                //        .catalogBlock__item-footer
                //            a.text--uppercase.text--info(href="#")
                //                img(src='images/icoMain.png', alt="")
                //                | Обмен (95)