extends layouts/_default

block content
    - var title = { description: 'Личные вещи' }
    section.bannerBlock.hidden-sm.hidden-xs
        .container
            a(href=''): img(src="images/banner-1.jpg", alt="")
    section.categoryBlock
        .container
            include modules/_breadcrumb
            .text--left
                h1= title.description
            .categoryBlock--inner
                .row
                    +categoryMain('catIco-1.png', 'Личные вещи')
                    +categoryMain('catIco-2.png', 'Транспорт')
                    +categoryMain('catIco-3.png', 'Хобби и отдых')
                    +categoryMain('catIco-4.png', 'Для дома и дачи')
                    +categoryMain('catIco-5.png', 'Электроника и техника')
                    +categoryMain('catIco-6.png', 'Для бизнеса')
                    +categoryMain('catIco-7.png', 'Услуги')
                    +categoryMain('catIco-8.png', 'Недвижимость')
                    +categoryMain('catIco-9.png', 'Работа')
                    +categoryMain('catIco-10.png', 'Животные и растения')
    section.listBlock
        .container
            .searchBlock
                form(action="", method="post")
                    .searchBlock--inner
                        .searchBlock__item
                            select.form-control
                                option Все объявления
                                option Все объявления
                                option Все объявления
                                option Все объявления
                        .searchBlock__item
                            select.form-control
                                option Все цвета
                                option Все цвета
                                option Все цвета
                                option Все цвета
                                option Все цвета
                        .searchBlock__item
                            select.form-control
                                option На взрослого
                                option На взрослого
                                option На взрослого
                                option На взрослого
                        .searchBlock__item
                            .checkbox
                                input(type='checkbox', name='check1', id='check1')
                                label(for="check1")  Смотреть только с фотографиями
                            .checkbox.hidden-md.hidden-sm.hidden-xs
                                input(type='checkbox', name='check2', id='check2')
                                label(for="check2")  Варианты обмена
                        .searchBlock__item.hidden-lg.hidden-xlg
                            .checkbox
                                input(type='checkbox', name='check3', id='check3')
                                label(for="check3")  Варианты обмена
                        .searchBlock__item
                            button.btn.btn--success.btn--block.text--uppercase.btn--lg(type='submit') подобрать
            .row
                .col.col-lg-9.col-xs-12
                    include modules/_sort
                    include modules/_paginator
                include modules/_sidebar
                //    .catalogBlock__item
                //        .catalogBlock__item-title
                //            h4.text--uppercase
                //                img(src='images/catIco-1.png', alt="")
                //                span  Личные вещи
                //                sup.text--success 1 718 635
                //        .catalogBlock__item-body
                //            ul.list--unstyled
                //                li
                //                    p Одежда, обувь, аксессуары
                //                    span.text--warning 718 635
                //                li
                //                    p Детская одежда и обувь
                //                    span.text--warning 419 222
                //                li
                //                    p Товары для детей и игрушки
                //                    span.text--warning 147 400
                //                li
                //                    p Часы и украшения
                //                    span.text--warning 80 148
                //                li
                //                    p Красота и здоровье
                //                    span.text--warning 64 244
                //        .catalogBlock__item-footer
                //            a.text--uppercase.text--info(href="#")
                //                img(src='images/icoMain.png', alt="")
                //                | Обмен (95)
                //.col.col-md-3
                //    .catalogBlock__item
                //        .catalogBlock__item-title
                //            h4.text--uppercase
                //                img(src='images/catIco-2.png', alt="")
                //                span  Транспорт
                //                sup.text--success 1 718 635
                //        .catalogBlock__item-body
                //            ul.list--unstyled
                //                li
                //                    p Одежда, обувь, аксессуары
                //                    span.text--warning 718 635
                //                li
                //                    p Детская одежда и обувь
                //                    span.text--warning 419 222
                //                li
                //                    p Товары для детей и игрушки
                //                    span.text--warning 147 400
                //                li
                //                    p Часы и украшения
                //                    span.text--warning 80 148
                //                li
                //                    p Красота и здоровье
                //                    span.text--warning 64 244
                //        .catalogBlock__item-footer
                //            a.text--uppercase.text--info(href="#")
                //                img(src='images/icoMain.png', alt="")
                //                | Обмен (95)