extends layouts/_default

block content
    - var title = { description: 'Избранное' }
    section.goodsBlock.favorBlock
        .container
            .text--left
                h1= title.description
            .adv-favor
                .adv-favor__btn
                    a.btn.btn--default.text--uppercase.btn--lg(href='#') удалить из избранного
                ul.list--inline.visible-lg
                    //li.hidden-lg: i.text--success.icon-up-open
                    li.active: a(href='#tab1', role='tab', data-toggle='tab') Все 7
                    li: a(href='#tab2', role='tab', data-toggle='tab') Недвижимость 3
                    li: a(href='#tab3', role='tab', data-toggle='tab') Хобби и увлечения 4
            .tab-content
                .active.favor__js Все 7
                    i.text--success.text--lg.icon-down-open
                #tab1.active.tab-pane.fade.in
                    .adv-good__item
                        .row
                            .col.col-xs-12.col-lg-2.col-md-4
                                .adv-good__item-img
                                    a(href="#"): img(src="images/user-img-2.jpg", alt="")
                            .col.col-xs-12.col-lg-5.col-md-6
                                .adv-good__body
                                    .text--sm.adv-good__item-fir
                                        img.ico(src="images/metroIcoR.png", alt="")
                                        |  Площадь Восстания
                                        span.text--default.text--sm.pull-right.visible-xs.visible-sm Сегодня 17:41
                                    .adv-good__item-title
                                        h3: a(href="#") Подставка для салфеток и зубочисток "Трактирщик"
                                    .adv-good__item-price.text--primary
                                        span.text--sm Цена:
                                        b.text--lg  3 500 руб.
                                    a.text--success.text--sm(href="#") Книги и журналы
                                    span.padleft10.padright10 |
                                    a.text--success.text--sm(href="#") Магазин
                                    .pull-right.visible-xs.visible-sm: +rating('starD-2', true)
                                .hidden-lg.hidden-xlg
                                    +fieldCheckbox('Удалить из избранного', 'del11', false)
                            .col.col-xs-12.col-lg-2.col-md-2.text--right.hidden-xs.hidden-sm
                                span.text--default.text--sm Сегодня 17:41
                                +rating('star-2', true)
                            .col.col-xs-12.col-lg-3.col-md-8.text--center.hidden-xs.hidden-sm.hidden-md
                                +fieldCheckbox('Удалить из избранного', 'del', false)
                    .adv-good__item
                        .row
                            .col.col-xs-12.col-lg-2.col-md-4
                                .adv-good__item-img
                                    a(href="#"): img(src="images/user-img-1.jpg", alt="")
                            .col.col-xs-12.col-lg-5.col-md-6
                                .adv-good__body
                                    .text--sm.adv-good__item-sec
                                        img.ico(src="images/metroIcoB.png", alt="")
                                        |  Озерки
                                        span.text--default.text--sm.pull-right.visible-xs.visible-sm Сегодня 17:41
                                    .adv-good__item-title
                                        h3: a(href="#") Бежевые кроссовки Reebok нат. замша (36-41)
                                    .adv-good__item-price.text--primary
                                        span.text--sm Цена:
                                        b.text--lg  2 500 руб.
                                    a.text--success.text--sm(href="#") Одежда, обувь, аксессуары
                                    span.padleft10.padright10 |
                                    a.text--primary.text--sm(href="#") Компания
                                    .pull-right.visible-xs.visible-sm: +rating('starD-1', true)
                                .hidden-lg.hidden-xlg
                                    +fieldCheckbox('Удалить из избранного', 'del12', false)
                            .col.col-xs-12.col-lg-2.col-md-2.text--right.hidden-xs.hidden-sm
                                span.text--default.text--sm Сегодня 17:41
                                +rating('star-1', true)
                            .col.col-xs-12.col-lg-3.col-md-8.text--center.hidden-xs.hidden-sm.hidden-md
                                +fieldCheckbox('Удалить из избранного', 'del2', false)
                    .adv-good__item.smallActive
                        .row
                            .col.col-xs-12.col-lg-2.col-md-4
                                .adv-good__item-img
                                    a(href="#"): img(src="images/user-img-2.jpg", alt="")
                            .col.col-xs-12.col-lg-5.col-md-6
                                .adv-good__body
                                    .text--sm.adv-good__item-fir
                                        img.ico(src="images/metroIcoR.png", alt="")
                                        |  Площадь Восстания
                                        span.text--default.text--sm.pull-right.visible-xs.visible-sm Сегодня 17:41
                                    .adv-good__item-title
                                        h3: a(href="#") Подставка для салфеток и зубочисток "Трактирщик"
                                    .adv-good__item-price.text--primary
                                        span.text--sm Цена:
                                        b.text--lg  2 500 руб.
                                    a.text--success.text--sm(href="#") Книги и журналы
                                    .pull-right.visible-xs.visible-sm: +rating('starD-3', true)
                                .hidden-lg.hidden-xlg
                                    +fieldCheckbox('Удалить из избранного', 'del13', false)
                            .col.col-xs-12.col-lg-2.col-md-2.text--right.hidden-xs.hidden-sm
                                span.text--default.text--sm Сегодня 17:41
                                +rating('star-3', true)
                            .col.col-xs-12.col-lg-3.col-md-8.text--center.hidden-xs.hidden-sm.hidden-md
                                +fieldCheckbox('Удалить из избранного', 'del3', false)
                .favor__js Недвижимость 3
                    i.text--success.text--lg.icon-down-open
                #tab2.tab-pane.fade
                    .adv-good__item
                        .row
                            .col.col-xs-12.col-lg-2.col-md-4
                                .adv-good__item-img
                                    a(href="#"): img(src="images/user-img-2.jpg", alt="")
                            .col.col-xs-12.col-lg-5.col-md-6
                                .adv-good__body
                                    .text--sm.adv-good__item-fir
                                        img.ico(src="images/metroIcoR.png", alt="")
                                        |  Площадь Восстания
                                        span.text--default.text--sm.pull-right.visible-xs.visible-sm Сегодня 17:41
                                    .adv-good__item-title
                                        h3: a(href="#") Подставка для салфеток и зубочисток "Трактирщик"
                                    .adv-good__item-price.text--primary
                                        span.text--sm Цена:
                                        b.text--lg  3 500 руб.
                                    a.text--success.text--sm(href="#") Книги и журналы
                                    span.padleft10.padright10 |
                                    a.text--success.text--sm(href="#") Магазин
                                    .pull-right.visible-xs.visible-sm: +rating('starD-4', true)
                                .hidden-lg.hidden-xlg
                                    +fieldCheckbox('Удалить из избранного', 'del14', false)
                            .col.col-xs-12.col-lg-2.col-md-2.text--right.hidden-xs.hidden-sm
                                span.text--default.text--sm Сегодня 17:41
                                +rating('star-4', true)
                            .col.col-xs-12.col-lg-3.col-md-8.text--center.hidden-xs.hidden-sm.hidden-md
                                +fieldCheckbox('Удалить из избранного', 'del4', false)
                .favor__js Хобби и увлечения 4
                    i.text--success.text--lg.icon-down-open
                #tab3.tab-pane.fade
                    .adv-good__item
                        .row
                            .col.col-xs-12.col-lg-2.col-md-4
                                .adv-good__item-img
                                    a(href="#"): img(src="images/user-img-1.jpg", alt="")
                            .col.col-xs-12.col-lg-5.col-md-6
                                .adv-good__body
                                    .text--sm.adv-good__item-sec
                                        img.ico(src="images/metroIcoB.png", alt="")
                                        |  Озерки
                                        span.text--default.text--sm.pull-right.visible-xs.visible-sm Сегодня 17:41
                                    .adv-good__item-title
                                        h3: a(href="#") Бежевые кроссовки Reebok нат. замша (36-41)
                                    .adv-good__item-price.text--primary
                                        span.text--sm Цена:
                                        b.text--lg  2 500 руб.
                                    a.text--success.text--sm(href="#") Одежда, обувь, аксессуары
                                    span.padleft10.padright10 |
                                    a.text--primary.text--sm(href="#") Компания
                                    .pull-right.visible-xs.visible-sm: +rating('starD-5', true)
                                .hidden-lg.hidden-xlg
                                    +fieldCheckbox('Удалить из избранного', 'del15', false)
                            .col.col-xs-12.col-lg-2.col-md-2.text--right.hidden-xs.hidden-sm
                                span.text--default.text--sm Сегодня 17:41
                                +rating('star-5', true)
                            .col.col-xs-12.col-lg-3.col-md-8.text--center.hidden-xs.hidden-sm.hidden-md
                                +fieldCheckbox('Удалить из избранного', 'del5', false)
                    .adv-good__item.smallActive
                        .row
                            .col.col-xs-12.col-lg-2.col-md-4
                                .adv-good__item-img
                                    a(href="#"): img(src="images/user-img-2.jpg", alt="")
                            .col.col-xs-12.col-lg-5.col-md-6
                                .adv-good__body
                                    .text--sm.adv-good__item-fir
                                        img.ico(src="images/metroIcoR.png", alt="")
                                        |  Площадь Восстания
                                        span.text--default.text--sm.pull-right.visible-xs.visible-sm Сегодня 17:41
                                    .adv-good__item-title
                                        h3: a(href="#") Подставка для салфеток и зубочисток "Трактирщик"
                                    .adv-good__item-price.text--primary
                                        span.text--sm Цена:
                                        b.text--lg  2 500 руб.
                                    a.text--success.text--sm(href="#") Книги и журналы
                                    .pull-right.visible-xs.visible-sm: +rating('starD-6', true)
                                .hidden-lg.hidden-xlg
                                    +fieldCheckbox('Удалить из избранного', 'del16', false)
                            .col.col-xs-12.col-lg-2.col-md-2.text--right.hidden-xs.hidden-sm
                                span.text--default.text--sm Сегодня 17:41
                                +rating('star-6', true)
                            .col.col-xs-12.col-lg-3.col-md-8.text--center.hidden-xs.hidden-sm.hidden-md
                                +fieldCheckbox('Удалить из избранного', 'del6', false)