extends layouts/_default

block content
    - var title = { description: 'Бежевые кроссовки Reebok нат. замша (36-41)' }
    section.bannerBlock.hidden-sm.hidden-xs
        .container
            a(href='/'): img(src="images/banner-1.jpg", alt="")
    section.goodsBlock
        .container
            include modules/_breadcrumb
            .goodsBlock__inner
                .row
                    .col.col-lg-9.col-xs-12
                        h2= title.description
                        include modules/_good
                    include modules/_sidebar
    section.bannerBlock.hidden-sm.hidden-xs
        .container
            a(href='/'): img(src="images/banner-1.jpg", alt="")
    section.variantBlock
        .container
            h1 Похожие объявления
            .row
                - for (var x = 1; x < 6; x++)
                    a.col.variantBlock__item(href="#")
                        .text--center
                            img(src="images/variantImg.jpg", alt="")
                        p.text--success Бежевые кроссовки Reebok нат. замша (36-41)
                        b 1 000 руб.