extends layouts/_default-index

block content
    - var title = { description: 'Главная' }
    section.main
        .container
            .col-xlg-8.col-lg-10.center-block
                .text--center
                    h2.margtop0 Подать объявление
                .row.adsPost
                    .col.col-xs-12.col-md-6
                        a.btn.btn--successLine.btn--huge.margbot10(href="#")
                            img(src="images/mainIco-1.png", alt="")
                            |  От частного лица
                        p.text--default.pull-left.col-xs-11 Размещайте объявления, получайте баллы и
                            span
                            | обменивайте на подарки
                        a(href="#"): i.text--default.icon-right-open-big
                    .col.col-xs-12.col-md-6
                        a.btn.btn--warningLine.btn--huge.margbot10(href="#")
                            img(src="images/mainIco-2.png", alt="")
                            |  От компании
                        p.text--default.pull-left.col-xs-11 Размещайте объявления и зарабатывайте вместе
                            span
                            | с нами
                        a(href="#"): i.text--default.icon-right-open-big
    section.bannerBlock
        .container
            a.hidden-sm.hidden-xs(href=''): img(src="images/banner-1.jpg", alt="")
            a.visible-sm.visible-xs(href=''): img(src="images/bannerM-4.jpg", alt="")
    section.main
        .container
            .col-xlg-8.col-lg-10.center-block
                .text--left.text--md--center
                    h2 Просмотреть объявления
                p.text--default Сайт является интернет-площадкой по размещению объявлений. Пользователи самостоятельно размещают объявления, указывают в них информацию о товарах, услугах, работах и предложениях (далее «Товары») и несут ответственность за то, что предложенные ими Товары соответствуют требованиям Сайта и действующему законодательству Российской Федерации.
                .row
                    +catalogIndex('Личные вещи', catalog1, 33)
                    +catalogIndex('Транспорт', catalog2, 32)
                    +catalogIndex('Хобби и отдых', catalog3, 31)
                    +catalogIndex('Для дома и дачи', catalog4, 30)
                    +catalogIndex('Электроника и техника', catalog5, 29)
                    +catalogIndex('Для бизнеса', catalog6, 28)
                    +catalogIndex('Услуги', catalog7, 27)
                    +catalogIndex('Недвижимость', catalog8, 26)
                    +catalogIndex('Работа', catalog9, 25)
                    +catalogIndex('Животные и растения', catalog10, 24)
                    .col.col-lg-8.hidden-md.hidden-sm.hidden-xs
                        img(src="images/indexImg.jpg", alt="")
            .col-xlg-8.col-lg-10.center-block
                .row
    section.bannerBlock.margbot30
        .container
            a(href='#'): img(src="images/banner-6.jpg", alt="")
