extends layouts/_default-lk

block content
    - var title = { description: 'Мои объявления' }
    section.account
        .container
            h1= title.description
            .adv-favor
                .adv-favor__btn
                    a.btn.btn--success.text--uppercase.btn--lg(href='#')
                        i.icon-plus-squared-alt
                        |  Подать объявление
                ul.list--inline.visible-lg
                    li.active: a(href='#tab1', role='tab', data-toggle='tab')
                        img(src="images/ico-tab--1.png", alt="")
                        |  Активные  7
                    li: a(href='#tab2', role='tab', data-toggle='tab')
                        img(src="images/ico-tab--2.png", alt="")
                        |  Завершенные  3
                    li: a(href='#tab3', role='tab', data-toggle='tab')
                        img(src="images/ico-tab--3.png", alt="")
                        |  Черновик  4
                    li: a(href='#tab4', role='tab', data-toggle='tab')
                        img(src="images/ico-tab--4.png", alt="")
                        |  Статистика объявлений
            .tab-content.acc-good
                .account-sort
                    .account-sort__item.t5
                        .checkbox
                            input(type="checkbox", id="all", name="all")
                            label(for="all") Все
                    .account-sort__item.t20
                        span.text--default Выбрано: 2
                    .account-sort__item.account-sort__item--btn
                        a(href="#"): b
                            img(src="images/ico-acc--1.png", alt="")
                            | Сделать VIP
                    .account-sort__item.account-sort__item--btn
                        a(href="#"): b
                            img(src="images/ico-acc--2.png", alt="")
                            | Сделать Премиум
                    .account-sort__item.account-sort__item--btn
                        a(href="#"): b
                            img(src="images/ico-acc--3.png", alt="")
                            | Расширить объявление
                    .account-sort__item.account-sort__item--btn
                        a(href="#"): b
                            img(src="images/ico-acc--4.png", alt="")
                            | Выделить объявление
                #tab1.active.tab-pane.fade.in
                    - for (var y = 1; y < 3; y++)
                        .adv-good__item
                            .acc-good__cell.t5.text--center
                                +fieldCheckbox('', 'good1', true)
                            .acc-good__cell.t20
                                .adv-good__item-img
                                    img(src="images/user-img-1.jpg", alt="")
                            .acc-good__cell
                                .adv-good__body
                                    p.text--sm.text--primary 28 января 20116 г. 17:38  №4555555
                                    .text--sm.adv-good__item-fir
                                        img.ico(src="images/metroIcoB.png", alt="")
                                        |  Озерки
                                    a.adv-good__item-title(href='#')
                                        h3 Подставка для салфеток и зубочисток "Трактирщик"
                                    .adv-good__item-price.text--primary
                                        span.text--sm Цена:
                                        b.text--lg  2 500 руб.
                                        span.padleft10.padright10 |
                                        a.text--success.text--sm(href='#')
                                            img(src='images/icoMain.png', alt="")
                                            | Обмен
                                    span.text--success.text--sm Одежда, обувь, аксессуары
                            .acc-good__cell.t15.text--center
                                span.text--sm осталось 19 дней
                                .slider-line.slider-line--js(data-per="80")
                                    .inner
                            .acc-good__cell
                                b.text--default
                                    img(src="images/icoBall.png", alt="")
                                    | 120
                            .acc-good__cell.text--right
                                b.text--default
                                    img(src="images/ico-acc--6.png", alt="")
                                    | 205
                                p.text--default.text--sm.margbot70 14 сегодня
                                ul.list--inline
                                    li: a(href='#')
                                        img(src="images/lk-ico--6.png", alt="")
                                    li: a(href='#')
                                        img(src="images/lk-ico--5.png", alt="")
                                    li: a(href='#')
                                        img(src="images/lk-ico--7.png", alt="")
                                    li: a(href='#')
                                        img(src="images/lk-ico--8.png", alt="")
                        .adv-good__item
                            .acc-good__cell.t5.text--center
                                +fieldCheckbox('', 'good2', false)
                            .acc-good__cell.t20
                                .adv-good__item-img
                                    img(src="images/user-img-2.jpg", alt="")
                            .acc-good__cell
                                .adv-good__body
                                    p.text--sm.text--primary 28 января 20116 г. 17:38  №4555555
                                    .text--sm.adv-good__item-fir
                                        img.ico(src="images/metroIcoR.png", alt="")
                                        |  Площадь Восстания
                                    a.adv-good__item-title(href='#')
                                        h3 Подставка для салфеток и зубочисток "Трактирщик"
                                    .adv-good__item-price.text--primary
                                        span.text--sm Цена:
                                        b.text--lg  3 500 руб.
                                    span.text--success.text--sm Книги и журналы
                            .acc-good__cell.t15.text--center
                                span.text--sm осталось 2 дня
                                .slider-line.slider-line--js(data-per="40")
                                    .inner
                            .acc-good__cell
                                b.text--default
                                    img(src="images/icoBall.png", alt="")
                                    | 120
                            .acc-good__cell.text--right
                                b.text--default
                                    img(src="images/ico-acc--6.png", alt="")
                                    | 205
                                p.text--default.text--sm.margbot70 14 сегодня
                                ul.list--inline
                                    li: a(href='#')
                                        img(src="images/lk-ico--6.png", alt="")
                                    li: a(href='#')
                                        img(src="images/lk-ico--5.png", alt="")
                                    li: a(href='#')
                                        img(src="images/lk-ico--7.png", alt="")
                                    li: a(href='#')
                                        img(src="images/lk-ico--8.png", alt="")
                #tab2.tab-pane.fade
                    - for (var y = 1; y < 3; y++)
                        .adv-good__item
                            .acc-good__cell.t5.text--center
                                +fieldCheckbox('', 'good3', true)
                            .acc-good__cell.t20
                                .adv-good__item-img
                                    img(src="images/user-img-1.jpg", alt="")
                            .acc-good__cell
                                .adv-good__body
                                    p.text--sm.text--primary 28 января 20116 г. 17:38  №4555555
                                    .text--sm.adv-good__item-fir
                                        img.ico(src="images/metroIcoB.png", alt="")
                                        |  Озерки
                                    a.adv-good__item-title(href='#')
                                        h3 Подставка для салфеток и зубочисток "Трактирщик"
                                    .adv-good__item-price.text--primary
                                        span.text--sm Цена:
                                        b.text--lg  2 500 руб.
                                        span.padleft10.padright10 |
                                        a.text--success.text--sm(href='#')
                                            img(src='images/icoMain.png', alt="")
                                            | Обмен
                                    span.text--success.text--sm Одежда, обувь, аксессуары
                            .acc-good__cell.text--right
                                b.text--default
                                    img(src="images/ico-acc--6.png", alt="")
                                    | 205
                                p.text--default.text--sm.margbot60 14 сегодня
                                a(href='#')
                                    img(src="images/ico-acc--7.png", alt="")
                                a.btn.btn--warning(href='#')
                                    img(src="images/ico-acc--8.png", alt="")
                                    |  Активировать
                        .adv-good__item
                            .acc-good__cell.t5.text--center
                                +fieldCheckbox('', 'good4', false)
                            .acc-good__cell.t20
                                .adv-good__item-img
                                    img(src="images/user-img-2.jpg", alt="")
                            .acc-good__cell
                                .adv-good__body
                                    p.text--sm.text--primary 28 января 20116 г. 17:38  №4555555
                                    .text--sm.adv-good__item-fir
                                        img.ico(src="images/metroIcoR.png", alt="")
                                        |  Площадь Восстания
                                    a.adv-good__item-title(href='#')
                                        h3 Подставка для салфеток и зубочисток "Трактирщик"
                                    .adv-good__item-price.text--primary
                                        span.text--sm Цена:
                                        b.text--lg  3 500 руб.
                                    span.text--success.text--sm Книги и журналы
                            .acc-good__cell.text--right
                                b.text--default
                                    img(src="images/ico-acc--6.png", alt="")
                                    | 205
                                p.text--default.text--sm.margbot60 14 сегодня
                                a(href='#')
                                    img(src="images/ico-acc--7.png", alt="")
                                a.btn.btn--warning(href='#')
                                    img(src="images/ico-acc--8.png", alt="")
                                    |  Активировать
                #tab3.tab-pane.fade
                    .adv-good__item
                        .acc-good__cell.t5.text--center
                            +fieldCheckbox('', 'good5', true)
                        .acc-good__cell.t20
                            .adv-good__item-img
                                img(src="images/user-img-1.jpg", alt="")
                        .acc-good__cell
                            .adv-good__body
                                .text--sm.text--primary 28 января 20116 г. 17:38  №4555555
                                a.adv-good__item-title(href='#')
                                    h3 Продам новые кроссовки. Размер 39
                                .adv-good__item-price.text--primary
                                    span.text--sm Цена:
                                    b.text--lg  2 500 руб.
                                p: a(href='#').text--success.text--sm Одежда, обувь, аксессуары
                                ul.text--warning.list--inline
                                    li
                                        img(src="images/lk-ico--10.png", alt="")
                                        | Описание
                        .acc-good__cell.text--right.ver-bottom
                            ul.list--inline
                                li: a(href='#')
                                    img(src="images/lk-ico--5.png", alt="")
                                li: a(href='#')
                                    img(src="images/lk-ico--7.png", alt="")
                                li: a(href='#')
                                    img(src="images/ico-acc--7.png", alt="")
                                li
                                    a.btn.btn--warning(href='#')
                                        img(src="images/lk-ico--9.png", alt="")
                                        |  Опубликовать
                    .adv-good__item
                        .acc-good__cell.t5.text--center
                            +fieldCheckbox('', 'good6', false)
                        .acc-good__cell.t20
                            .adv-good__item-img
                                img(src="images/user-img-1.jpg", alt="")
                        .acc-good__cell
                            .adv-good__body
                                .text--sm.text--primary 28 января 20116 г. 17:38  №4555555
                                a.adv-good__item-title(href='#')
                                    h3 Объявление без названия
                                .adv-good__item-price.text--primary
                                    span.text--sm Цена:
                                    b.text--lg  2 500 руб.
                                p: a(href='#').text--success.text--sm Одежда, обувь, аксессуары
                                ul.text--default.list--inline
                                    li
                                        img(src="images/lk-ico--11.png", alt="")
                                        | Описание
                                    li
                                        img(src="images/lk-ico--11.png", alt="")
                                        | Обмен
                                    li
                                        img(src="images/lk-ico--11.png", alt="")
                                        | Контакты
                        .acc-good__cell.text--right.ver-bottom
                            ul.list--inline
                                li: a(href='#')
                                    img(src="images/lk-ico--5.png", alt="")
                                li: a(href='#')
                                    img(src="images/lk-ico--7.png", alt="")
                                li: a(href='#')
                                    img(src="images/ico-acc--7.png", alt="")
                                li
                                    a.btn.btn--warning(href='#')
                                        img(src="images/lk-ico--9.png", alt="")
                                        |  Опубликовать
                    .adv-good__item
                        .acc-good__cell.t5.text--center
                            +fieldCheckbox('', 'good7', false)
                        .acc-good__cell.t20
                            .adv-good__item-img
                                img(src="images/user-img-1.jpg", alt="")
                        .acc-good__cell
                            .adv-good__body
                                .text--sm.text--primary 28 января 20116 г. 17:38  №4555555
                                a.adv-good__item-title(href='#')
                                    h3 Продам новые кроссовки. Размер 39
                                .adv-good__item-price.text--primary
                                    span.text--sm Цена:
                                    b.text--lg  2 500 руб.
                                p: a(href='#').text--success.text--sm Одежда, обувь, аксессуары
                                ul.text--default.list--inline
                                    li
                                        img(src="images/lk-ico--11.png", alt="")
                                        | Категория
                                    li
                                        img(src="images/lk-ico--11.png", alt="")
                                        | Характеристики
                                    li
                                        img(src="images/lk-ico--11.png", alt="")
                                        | Фотографии
                                    li
                                        img(src="images/lk-ico--11.png", alt="")
                                        | Описание
                                    li
                                        img(src="images/lk-ico--11.png", alt="")
                                        | Обмен
                        .acc-good__cell.text--right.ver-bottom
                            ul.list--inline
                                li: a(href='#')
                                    img(src="images/lk-ico--5.png", alt="")
                                li: a(href='#')
                                    img(src="images/lk-ico--7.png", alt="")
                                li: a(href='#')
                                    img(src="images/ico-acc--7.png", alt="")
                                li
                                    a.btn.btn--warning(href='#')
                                        img(src="images/lk-ico--9.png", alt="")
                                        |  Опубликовать
                #tab4.tab-pane.fade 4