extends layouts/_default-lk

block content
    - var title = { description: 'Накопительный баланс' }
    section.account
        .container
            h1= title.description
            .relative
                .right-btn
                    a.btn.btn--success.text--uppercase.btn--lg(href='#')
                        img(src="images/lk-ico--16.png", alt="")
                        | обменять баллы
            .account__balance
                h4 История операций
                .account-sort
                    .account-sort__item.t10 Период с:
                    .account-sort__item.t20
                        input.form-control(type="date", value="18 апреля, 2016")
                    .account-sort__item.t5 по
                    .account-sort__item.t20
                        input.form-control(type="date", value="20 апреля, 2016")
                    .account-sort__item.t20
                        select.form-control
                            option Тип операции
                            option Тип операции
                            option Тип операции
                            option Тип операции
                    .account-sort__item.t20
                table.table.table--account
                    thead
                        tr
                            th.table--account__date Дата
                            th Время
                            th.table--account__name Операция
                            th № объявления
                            th Статус
                            th Баллы
                    tbody
                        - for (var x = 2; x < 4; x++)
                            tr
                                td 26.11.16
                                td 12:00
                                td.table--account__name Обмен баллов на подарок Мангал разборный
                                td
                                    .table--account__popover
                                        a.popover(href="#", data-img="images/user-img-2.jpg", data-title="Черные кеды Vans Era (37-45), нат.кожа", data-num="№4555555", data-price="3 500 руб.") -
                                        .popover-body
                                td
                                    span.text--warning
                                        img(src="images/lk-ico--12.png", alt="")
                                        |  в обработке
                                td: span.text--danger - 950
                            tr
                                td 06.11.16
                                td 15:56
                                td.table--account__name Начисление баллов
                                td
                                    .table--account__popover
                                        a.popover(href="#", data-img="images/user-img-2.jpg", data-title="Черные кеды Vans Era (37-45), нат.кожа", data-num="№4555555", data-price="3 500 руб.") 125699
                                        .popover-body
                                td
                                    span.text--success
                                        img(src="images/lk-ico--13.png", alt="")
                                        |  выполнена
                                td: span.text--success + 500
                            tr
                                td 02.11.16
                                td 19:27
                                td.table--account__name Списание баллов за услугу VIP бъявление
                                td
                                    .table--account__popover
                                        a.popover(href="#", data-img="images/user-img-2.jpg", data-title="Черные кеды Vans Era (37-45), нат.кожа", data-num="№4555555", data-price="3 500 руб.") 265952
                                        .popover-body
                                td
                                    span.text--success
                                        img(src="images/lk-ico--13.png", alt="")
                                        |  выполнена
                                td: span.text--success + 40