extends layouts/_default-lk

block content
    - var title = { description: 'Объявление № 236458 "Подставка для салфеток и зубочисток "Трактирщик" обновлено' }
    section.account
        .container
            h2= title.description
            p Услуга доступна в течение 5-ти дней с момента поднятия
            a(href="#")
                img(src="images/lk-ico--5.png", alt="")
                |  Редактировать объявление
            .account__check
                h4 Воспользуйтесь услугами для быстрой продажи вашего объявления:
                include modules/_services
                .text--center
                    a.btn.btn--successLine(href='#') Вернуться в объявления