extends layouts/_default-lk

block content
    - var title = { description: 'Оплата услуги “VIP-объявление” ' }
    section.account
        .container
            h1= title.description
            .account__payment
                table.table.table--account
                    thead
                        tr
                            th(colspan="2") Услуга
                            th Стоимость услуги, баллов
                    tbody
                        tr
                            td.t7.table--account__img
                                img(src='images/vip.png', alt="")
                            td.table--account__name
                                p: b VIP объявление*
                                span.text--sm № объявления 5694333623
                                p Черные кеды Vans Era (37-45)
                            td.t20
                                img(src='images/icoBall.png', alt="")
                                span 950
                .text--center
                    a.btn.btn--successLine(href="#") Вернуться в объявления