extends layouts/_default-lk

block content
    - var title = { description: 'Обмен баллов' }
    section.account
        .container
            h1= title.description
            p.text--lg Выбирите понравившиеся подарки и нажмите на кнопку "Обменять".
            .presents
                .presents__item
                    .presents__img
                        img(src="images/img-present--1.jpg", alt="")
                    .presents__title
                        b 2 билета на концерт "Ленинград" в фан-зону
                    .presents__price
                        p.margbot20.text--lg: b
                            img(src="images/icoBall.png", alt="")
                            |  399
                        a.btn.btn--success.btn--lg(href='#')
                            img(src="images/lk-ico--16.png", alt="")
                            | Обменять баллы
                .presents__item
                    .presents__img
                        img(src="images/img-present--2.jpg", alt="")
                    .presents__title
                        b Мангал разборный
                    .presents__price
                        p.margbot20.text--lg: b
                            img(src="images/icoBall.png", alt="")
                            |  3 999
                        a.btn.btn--success.btn--lg(href='#')
                            img(src="images/lk-ico--16.png", alt="")
                            | Обменять баллы
                .presents__item.disabled
                    .presents__img
                        img(src="images/img-present--3.jpg", alt="")
                    .presents__title
                        b Kitten little игрушка "Котёнок с мятой"
                    .presents__price
                        p.margbot20.text--lg: b
                            img(src="images/icoBall.png", alt="")
                            |  39 999
                        p.text--danger Недостаточно баллов
                .presents__item.disabled
                    .presents__img
                        img(src="images/img-present--4.jpg", alt="")
                    .presents__title
                        b Подарочный сертификат на 500 рублей
                    .presents__price
                        p.margbot20.text--lg: b
                            img(src="images/icoBall.png", alt="")
                            |  39 999
                        p.text--danger Недостаточно баллов
                .presents__item
                    .presents__img
                        img(src="images/img-present--5.jpg", alt="")
                    .presents__title
                        b Игрушка "гантель-кошка" Зооник
                    .presents__price
                        p.margbot20.text--lg: b
                            img(src="images/icoBall.png", alt="")
                            |  99
                        a.btn.btn--success.btn--lg(href='#')
                            img(src="images/lk-ico--16.png", alt="")
                            | Обменять баллы
            p.text--sm Внимание! Количество подарков ограниченно. Для обмена у вас должно быть достаточное количество накопленных  баллов. Количество необходимых баллов указано у каждого товара. Ознакомиться с условиями.
            .account__check
                h2 Ваши баллы вы можете обменять на услуги по  объявлениям
                include modules/_services
                .text--center
                    a.btn.btn--successLine(href='#') Вернуться в объявления