extends layouts/_default-lk

block content
    - var title = { description: 'Оплата услуг' }
    section.account
        .container
            h1= title.description
            .account__payment
                table.table.table--account
                    thead
                        tr
                            th(colspan="2") Oбъявление
                            th Услуга
                            th Стоимость услуги, баллов
                    tbody
                        tr
                            td.t20.table--account__img
                                img(src="images/user-img-1.jpg", alt="")
                            td.table--account__name
                                span.text--sm № объявления 5694333623
                                p Черные кеды Vans Era (37-45)
                            td.t20
                                img(src='images/vip.png', alt="")
                                span VIP объявление*
                            td.t20
                                img(src='images/icoBall.png', alt="")
                                span 200
                .margbot20
                    p.text--sm * Объявление будет размещено в правой части экрана под заголовком VIP объявления в течение 10 дней.
                .form-group
                    p.text--lg Выберите способ оплаты:
                    +fieldRadio('points', 'points', 'points', 'Использовать баллы в личном кабинете', true)
                button.btn.btn--success.btn--lg.text--uppercase(type="submit") списать баллы