extends layouts/_default-lk

block content
    - var title = { description: 'Накопительный баланс' }
    section.account
        .container
            h1= title.description
            .account__payment
                table.table.table--account
                    thead
                        tr
                            th(colspan="2") Подарок
                            th Стоимость услуги, баллов
                    tbody
                        tr
                            td.t15.table--account__img
                                img(src='images/acc-img--1.jpg', alt="")
                            td.table--account__name
                                p: b 2 билета на концерт "Ленинград" в фан-зону
                                p Продукция предоставлена компанией Рога и Копыта
                            td.t20
                                img(src='images/icoBall.png', alt="")
                                span 950
                .margtop20
                    p Пожалуйста, ожидайте звонка. Наш менеджер обязательно свяжется с Вами по телефону, указанному в вашем Личном кабинете.
                    a.btn.btn--successLine(href="#") Вернуться к выбору подарков