extends layouts/_default-lk

block content
    - var title = { description: 'Подать объявление' }
    section.account
        .container
            h1= title.description
            .steps
                .steps__item.check
                    .steps__img 1
                    p Категория товара
                .steps__item.check
                    .steps__img 2
                    p Характеристики
                .steps__item.check
                    .steps__img 3
                    p Описание
                .steps__item.check
                    .steps__img 4
                    p Фотографии
                .steps__item.check
                    .steps__img 5
                    p Обмен
                .steps__item.active
                    .steps__img 6
                    p Контакты
            .account__step
                .step__main
                    .text--center
                        h2 Укажите параметры
                    .col-xs-4.center-block
                        .form-group
                            label Местоположение
                                sup *
                            select.form-control
                                option Россия
                                option Россия
                                option Россия
                                option Россия
                        .form-group
                            label Город
                                sup *
                            select.form-control
                                option Санкт-Петербург
                                option Санкт-Петербург
                                option Санкт-Петербург
                                option Санкт-Петербург
                        .form-group
                            label Станция метро
                                sup *
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Улица
                            input.form-control(type="text")
                        .form-group
                            label Контактное лицо
                                sup *
                            input.form-control(type="text")
                        .form-group
                            label Мобильный телефон
                                sup *
                            select.form-control
                                option Другой телефон
                                option Другой телефон
                                option Другой телефон
                                option Другой телефон
                        .form-group
                            label Новый номер
                            .input-group
                                input.form-control(type="text", placeholder="8 (942) 678 89 78")
                                .input-group-btn
                                    button.btn.btn--successLine.btn--lg Сохранить
                        .form-group
                            label Электронная почта
                                sup *
                            input.form-control(type="email")
                        .form--group
                            .checkbox
                                input(type="checkbox", id='rule', checked)
                                label(for='rule') Размещая объявление, вы подтверждаете согласие
                                    |  с &nbsp;
                                    a(href="#") правилами размещения объявления
                .text--center
                    a.btn.btn--success.text--uppercase.btn--lg.btn--long(href="#") далее