extends layouts/_default-lk

block content
    - var title = { description: 'Подать объявление' }
    section.account
        .container
            h1= title.description
            .steps
                .steps__item.check
                    .steps__img 1
                    p Категория товара
                .steps__item.check
                    .steps__img 2
                    p Характеристики
                .steps__item.active
                    .steps__img 3
                    p Описание
                .steps__item
                    .steps__img 4
                    p Фотографии
                .steps__item
                    .steps__img 5
                    p Обмен
                .steps__item
                    .steps__img 6
                    p Контакты
            .account__step
                .step__main
                    .text--center
                        h2 Описание объявления
                    .col-xs-4.center-block
                        .form-group
                            label Заголовок объявления
                            input.form-control(type="text")
                        .form-group
                            label Описание объявления
                            textarea.form-control(rows="8")
                        .form-group.col-xs-6
                            label Цена, руб
                            input.form-control(type="text")
                .text--center
                    a.btn.btn--success.text--uppercase.btn--lg.btn--long(href="#") далее