extends layouts/_default-lk

block content
    - var title = { description: 'Подать объявление' }
    section.account
        .container
            h1= title.description
            .steps
                .steps__item.check
                    .steps__img 1
                    p Категория товара
                .steps__item.active
                    .steps__img 2
                    p Характеристики
                .steps__item
                    .steps__img 3
                    p Описание
                .steps__item
                    .steps__img 4
                    p Фотографии
                .steps__item
                    .steps__img 5
                    p Обмен
                .steps__item
                    .steps__img 6
                    p Контакты
            .account__step
                .step__main
                    .text--center
                        h2 Укажите параметры
                    .col-xs-4.center-block
                        .form-group
                            label Марка
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Модель
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Год выпуска
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Пробег
                            input.form-control(type="text")
                        .form-group
                            label VIN номер
                            input.form-control(type="text", placeholder="WVWMN7AN3AE562579")
                        .form-group
                            label Свидетельство о регистрации
                            input.form-control(type="text")
                        .form-group
                            label Состояние
                            +fieldRadioIn('status', 'status1', 'Не требует ремонта', 'Не требует ремонта', false)
                            +fieldRadioIn('status', 'status2', 'Битый/не на ходу', 'Битый/не на ходу', true)
                .step__main
                    .col-xs-4.center-block
                        .form-group
                            label Тип двигателя
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Мощность двигателя
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Коробка передач
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Привод
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .form-group
                            label Руль
                            +fieldRadioIn('wheel', 'wheel1', 'Правый', 'Правый', false)
                            +fieldRadioIn('wheel', 'wheel2', 'Левый', 'Левый', true)
                .step__main.step__main--type
                    .col-xs-5.center-block
                        .form-group
                            label Тип кузова
                            +fieldRadioInBody('body', 'body1', 'Седан', 'Седан', '../images/body--1.png', true)
                            +fieldRadioInBody('body', 'body2', 'Хетчбэк', 'Хетчбэк', '../images/body--2.png', false)
                            +fieldRadioInBody('body', 'body3', 'Универсал', 'Универсал', '../images/body--3.png', false)
                            +fieldRadioInBody('body', 'body4', 'Внедорожник', 'Внедорожник', '../images/body--4.png', false)
                            +fieldRadioInBody('body', 'body5', 'Хетчбэк', 'Хетчбэк', '../images/body--5.png', false)
                            +fieldRadioInBody('body', 'body6', 'Пикап', 'Пикап', '../images/body--6.png', false)
                            +fieldRadioInBody('body', 'body7', 'Хетчбэк', 'Хетчбэк', '../images/body--7.png', false)
                            +fieldRadioInBody('body', 'body8', 'Лимузин', 'Лимузин', '../images/body--8.png', false)
                            +fieldRadioInBody('body', 'body9', 'Кабриолет', 'Кабриолет', '../images/body--9.png', false)
                            +fieldRadioInBody('body', 'body10', 'Кроссовер', 'Кроссовер', '../images/body--10.png', false)
                            +fieldRadioInBody('body', 'body11', 'Микроавтобус', 'Микроавтобус', '../images/body--11.png', false)
                            +fieldRadioInBody('body', 'body12', 'Хетчбэк', 'Хетчбэк', '../images/body--12.png', false)
                .step__main.step__main--color
                    .col-xs-5.center-block
                        .form-group
                            label Цвет
                            +fieldRadioInColor('color', 'color1', '', '#fafbfb', true)
                            +fieldRadioInColor('color', 'color2', '', '#c1c1c1', false)
                            +fieldRadioInColor('color', 'color3', '', '#ffefd5', false)
                            +fieldRadioInColor('color', 'color4', '', '#fde910', false)
                            +fieldRadioInColor('color', 'color5', '', '#fabe00', false)
                            +fieldRadioInColor('color', 'color6', '', '#f96', false)
                            +fieldRadioInColor('color', 'color7', '', '#ffc0cb', false)
                            +fieldRadioInColor('color', 'color8', '', '#ff2600', false)
                            +fieldRadioInColor('color', 'color9', '', '#cc1d33', false)
                            +fieldRadioInColor('color', 'color10', '', '#926547', false)
                            +fieldRadioInColor('color', 'color11', '', '#08f', false)
                            +fieldRadioInColor('color', 'color12', '', '#0328cc', false)
                            +fieldRadioInColor('color', 'color13', '', '#96c', false)
                            +fieldRadioInColor('color', 'color14', '', '#35ba2b', false)
                            +fieldRadioInColor('color', 'color15', '', '#8b8b8b', false)
                            +fieldRadioInColor('color', 'color16', '', '#000', false)
                .text--center
                    a.btn.btn--success.text--uppercase.btn--lg.btn--long(href="#") далее