extends layouts/_default-lk

block content
    - var title = { description: 'Пользовательские настройки' }
    section.account
        .container
            h1= title.description
            .account__step
                .step__main
                    .text--center
                        h6
                            img(src="images/lk-ico--1.png", alt="")
                            | Контактная информация
                    .col-xs-4.center-block
                        .form-group
                            label ФИО
                            input.form-control(type="text")
                        .form-group
                            label E-mail
                            input.form-control(type="email")
                            a.edit-link(href="#"): img(src="images/lk-ico--5.png", alt="")
                        .form-group
                            label Телефон
                            input.form-control(type="text")
                            a.edit-link(href="#"): img(src="images/lk-ico--5.png", alt="")
                        .text--center
                            a.btn.btn--success.text--uppercase.btn--lg.btn--long(href="#") сохранить
                .step__main
                    .text--center
                        h6
                            img(src="images/lk-ico--2.png", alt="")
                            | Местоположение
                    .col-xs-4.center-block
                        .form-group
                            label Город
                            input.form-control(type="text")
                        .form-group
                            label Станция метро
                            select.form-control
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                                option Не выбрано
                        .text--center
                            a.btn.btn--success.text--uppercase.btn--lg.btn--long(href="#") сохранить
                .step__main
                    .text--center
                        h6
                            img(src="images/lk-ico--3.png", alt="")
                            | Смена пароля
                    .col-xs-4.center-block
                        .form-group
                            label Текущий пароль
                            input.form-control(type="password")
                        .form-group
                            label Новый пароль
                            input.form-control(type="password")
                        .form-group
                            label Повторите пароль
                            input.form-control(type="password")
                        .text--center
                            a.btn.btn--success.text--uppercase.btn--lg.btn--long(href="#") сохранить
                .col-xs-7.center-block.padtop10.padbot20
                    h4 Удаление аккаунта
                    .col-xs-9.pull-left
                        p Если вы хотите навсегда удалить свою учётную запись и все свои объявления, то нажмите на кнопку «Перейти к удалению учётной записи».
                    .pull-right
                        a.btn.btn--successLine(href="#") Удалить аккаунт