extends layouts/_default-lk

block content
    - var title = { description: 'Подать объявление' }
    section.account
        .container
            h1= title.description
            .steps
                .steps__item.check
                    .steps__img 1
                    p Категория товара
                .steps__item.check
                    .steps__img 2
                    p Характеристики
                .steps__item.check
                    .steps__img 3
                    p Описание
                .steps__item.active
                    .steps__img 4
                    p Фотографии
                .steps__item
                    .steps__img 5
                    p Обмен
                .steps__item
                    .steps__img 6
                    p Контакты
            .account__step
                .step__main.step__main--photo
                    h2 Фотографии
                    .dropbox
                        input.input__file-js(type="file", multiple)
                        .dropbox__inner
                            img(src="../images/dropbox-img.png", alt="")
                            p.input__text-js
                                span.text--success Загрузить фотографии
                                br
                                | не более 10 штук
                .text--center
                    a.btn.btn--success.text--uppercase.btn--lg.btn--long(href="#") далее