extends layouts/_default-lk

block content
    - var title = { description: 'Объявление № 123569 размещено' }
    section.account
        .container
            h1= title.description
            p Объявление
                b.text--success  № 123569 Бежевые кроссовки Reebok нат. замша (36-41)
                |  будет активно после прохождения модерации..
            .account__step
                a(href="#").adv-good__item
                    .row
                        .col.col-xs-2
                            .adv-good__item-img
                                img(src="images/user-img-1.jpg", alt="")
                        .col.col-xs-8
                            .adv-good__body
                                .text--sm.adv-good__item-sec
                                    img.ico(src="images/metroIcoB.png", alt="")
                                    |  Озерки
                                .adv-good__item-title
                                    h3 Бежевые кроссовки Reebok нат. замша (36-41)
                                .adv-good__item-price.text--primary
                                    span.text--sm Цена:
                                    b.text--lg  3 500 руб.
                                span.text--success.text--sm Одежда, обувь, аксессуары
                        .col.col-xs-2.text--right
                            p.text--default.text--sm Сегодня 17:41
                    .adv-good__item-step
                        img.ico(src="images/prod-check.png", alt="")
                .text--center
                    a.btn.btn--successLine(href="#") Вернуться в объявления