extends layouts/_default-lk

block content
    - var title = { description: 'Проверить объявление №123569' }
    section.account
        .container
            h1= title.description
            .account__step
                .step__main.step__main--cat
                    .step-red
                        a(href="#")
                            img(src="images/red-ico.png", alt="")
                            |  Редактировать
                    h3 Категория
                    b.text--success Транспорт / Автомобили / C пробегом
                .step__main.step__main--cat
                    .step-red
                        a(href="#")
                            img(src="images/red-ico.png", alt="")
                            |  Редактировать
                    h3 Параметры
                    table.table
                        tbody
                            tr
                                td Марка
                                td Mazda
                            tr
                                td Модель
                                td 6
                            tr
                                td Год выпуска
                                td 2007
                            tr
                                td Пробег
                                td 10 000 км
                            tr
                                td Состояние
                                td Не требует ремонта
                            tr
                                td VIN номер
                                td TBF 25266223666666NGF
                            tr
                                td Свидетельство о регистрации
                                td FF 25566 FFF
                            tr
                                td Тип кузова
                                td Седан
                            tr
                                td Цвет
                                td Серый
                            tr
                                td Тип двигателя
                                td Бензиновый
                            tr
                                td Мощность двигателя
                                td 1,6 лс
                            tr
                                td Коробка передач
                                td Механическая
                            tr
                                td Привод
                                td Передний
                            tr
                                td Руль
                                td Левый
                .step__main.step__main--cat
                    .step-red
                        a(href="#")
                            img(src="images/red-ico.png", alt="")
                            |  Редактировать
                    h3 Описание
                    table.table
                        tbody
                            tr
                                td Заголовок объявления
                                td Продажа ВАЗ (Lada) Kalina I
                            tr
                                td Описание объявления
                                td ПТС оригинальный, 2 владельца, версия с кондиционером, пробег на одометре 43 тыс., покупалась в Питер-Ладе и там обслуживалась.
                                    br
                                    | Подвеска без стуков и скрипов, по электрике все работает.
                                    br
                                    | Основные проблемы авто и причина низкой цены - кузов.
                                    br
                                    | Во первых она долгое время стояла во дворе без движения и вся пошла жуками и жучищами по кругу. Так же по кузову присутствуют многочисленные царапины, вмятинки и притертости.
                                    br
                                    | Во вторых она несколько лет назад красилась и красилась очень отстойно, без должного количества лака, отчего кузов стал не блестящим, а матовым.
                                    br
                                    | Поэтому внешне машина выглядит как то хреновенько.
                                    br
                                    | С продажей не тороплюсь, торга никакого не будет.
                                    br
                                    | Салонам и площадкам - сразу НЕТ(!) без каких либо вариантов.
                            tr
                                td Цена
                                td 150 000 Р
                .step__main.step__main--cat.step__main--photo
                    .step-red
                        a(href="#")
                            img(src="images/red-ico.png", alt="")
                            |  Редактировать
                    h3 Фотографии
                    .photo
                        - for (var x = 1; x < 6; x++)
                            .photo__item
                                .photo__close.photo__close--js x
                                img(src="images/step-cat__img.jpg", alt="")
                    p Основное фото
                .step__main.step__main--cat
                    .step-red
                        a(href="#")
                            img(src="images/red-ico.png", alt="")
                            |  Редактировать
                    h3 Обмен
                    span Не интересует
                .step__main.step__main--cat
                    .step-red
                        a(href="#")
                            img(src="images/red-ico.png", alt="")
                            |  Редактировать
                    h3 Контакты
                    table.table
                        tbody
                            tr
                                td Метоположение
                                td Россия, Санкт-Петербург, м.Академическая
                            tr
                                td Ваше имя
                                td Иван
                            tr
                                td Номер телефона
                                td 8(803)555-55-55
                            tr
                                td Электронная почта
                                td ivanov@mail.ru
                .text--center
                    a.btn.btn--success.text--uppercase.btn--lg.btn--ico(href="#") опубликовать