extends layouts/_default-lk

block content
    - var title = { description: 'Подать объявление' }
    section.account
        .container
            h1= title.description
            .steps
                .steps__item.check
                    .steps__img 1
                    p Категория товара
                .steps__item.check
                    .steps__img 2
                    p Характеристики
                .steps__item.check
                    .steps__img 3
                    p Описание
                .steps__item.check
                    .steps__img 4
                    p Фотографии
                .steps__item.active
                    .steps__img 5
                    p Обмен
                .steps__item
                    .steps__img 6
                    p Контакты
            .account__step
                .step__main
                    h2 Обмен
                    ul.list--inline
                        li: a.btn.btn--success.text--uppercase.btn--lg(href="#") Указать детали
                        li: a.btn.btn--successLine.text--uppercase.btn--lg(href="#") пропустить этап