extends layouts/_default-lk

block content
    - var title = { description: 'Подать объявление' }
    section.account
        .container
            h1= title.description
            .steps
                .steps__item.active
                    .steps__img 1
                    p Категория товара
                .steps__item
                    .steps__img 2
                    p Характеристики
                .steps__item
                    .steps__img 3
                    p Описание
                .steps__item
                    .steps__img 4
                    p Фотографии
                .steps__item
                    .steps__img 5
                    p Обмен
                .steps__item
                    .steps__img 6
                    p Контакты
            .account__step
                .step__main
                    h2 Выберите категорию
                    .row
                        .col.col-xs-4
                            .form-group: +fieldRadio('Личные вещи', 'cat1', 'category1', 'category', false)
                            .form-group: +fieldRadio('Транспорт', 'cat2', 'category2', 'category', false)
                            .form-group: +fieldRadio('Хобби и отдых', 'cat3', 'category3', 'category', false)
                            .form-group: +fieldRadio('Для дома и дачи', 'cat4', 'category4', 'category', false)
                            .form-group: +fieldRadio('Электроника и техника', 'cat5', 'category5', 'category', false)
                            .form-group: +fieldRadio('Для бизнеса', 'cat6', 'category6', 'category', false)
                            .form-group: +fieldRadio('Услуги', 'cat7', 'category7', 'category', false)
                            .form-group: +fieldRadio('Недвижимость', 'cat8', 'category8', 'category', false)
                            .form-group: +fieldRadio('Работа', 'cat9', 'category9', 'category', false)
                            .form-group: +fieldRadio('Животные и растения', 'cat10', 'category10', 'category', false)
                        .col.col-xs-4
                            #category1.desc
                                .form-group: +fieldRadio('Автомобили', 'subcat1', 'subcategory1', 'subcategory', false)
                                .form-group: +fieldRadio('Мотоциклы и мототехника', 'subcat2', 'subcategory2', 'subcategory', false)
                                .form-group: +fieldRadio('Грузовики и спецтехника', 'subcat3', 'subcategory3', 'subcategory', false)
                                .form-group: +fieldRadio('Водный транспорт', 'subcat4', 'subcategory4', 'subcategory', false)
                                .form-group: +fieldRadio('Запчасти и аксессуары', 'subcat5', 'subcategory5', 'subcategory', false)
                            #category2.desc
                                .form-group: +fieldRadio('Автомобили1', 'subcat11', 'subcategory11', 'subcategory', false)
                            #category3.desc
                                .form-group: +fieldRadio('Автомобили2', 'subcat12', 'subcategory12', 'subcategory', false)
                            #category4.desc
                                .form-group: +fieldRadio('Автомобили3', 'subcat13', 'subcategory13', 'subcategory', false)
                            #category5.desc
                                .form-group: +fieldRadio('Автомобили4', 'subcat14', 'subcategory14', 'subcategory', false)
                            #category6.desc
                                .form-group: +fieldRadio('Автомобили5', 'subcat15', 'subcategory15', 'subcategory', false)
                            #category7.desc
                                .form-group: +fieldRadio('Автомобили6', 'subcat16', 'subcategory16', 'subcategory', false)
                            #category8.desc
                                .form-group: +fieldRadio('Автомобили7', 'subcat17', 'subcategory17', 'subcategory', false)
                            #category9.desc
                                .form-group: +fieldRadio('Автомобили8', 'subcat18', 'subcategory18', 'subcategory', false)
                            #category10.desc
                                .form-group: +fieldRadio('Автомобили9', 'subcat19', 'subcategory19', 'subcategory', false)
                .text--center
                    a.btn.btn--success.text--uppercase.btn--lg.btn--long(href="#") далее