extends layouts/_default

block content
    - var title = { description: 'Подтверждение регистации' }
    section.authFormBlock
        .container
            .text--left.text--md--center
                h1= title.description
                form
                    .form-group
                        p.text--default Для завершения регистрации подтвердите Ваш номер телефона.
                            br
                            |  Для этого на указанный при регистрации телефон отправлено SMS
                            br
                            |  с кодом. Введите код в соответсвующее поле.
                    p.text--lg.text--default
                        b Указанный телефон:&nbsp;
                        |  +7 (970) 678-45-28
                    .col-xlg-4.col-lg-5.col-md-6.center-block
                        .row
                            .form-group.col-lg-5.col
                                label.text--default.text--lg Код активации:
                            .form-group.col-lg-6.col
                                input.form-control(type="text")
                                .text--left.margtop10
                                    a.text--sm(href="#") Отправить код повторно
                        .form-group
                            input.btn.btn--success.text--uppercase.btn--lg(value="подтвердить", type="submit")