extends layouts/_default

block content
    - var title = { description: 'Восстановление доступа' }
    section.authFormBlock
        .container
            .authFormBlock--inner
                .text--left.text--md--center
                    h1= title.description
                    form
                        .form-group
                            p.text--default.text--md Введите новый пароль для входа на сайт
                        .col-xlg-4.col-lg-5.col-md-6.center-block
                            .form-group
                                input.form-control(placeholder="Пароль", type="password")
                            .form-group
                                input.form-control(placeholder="Повторить пароль", type="password")
                            .form-group
                                input.btn.btn--success.text--uppercase.btn--lg(value="сохранить пароль", type="submit")
            .bannerBlock.hidden-sm.hidden-xs
                a(href=''): img(src="images/banner-1.jpg", alt="")
                .row.margtop20
                    .col.col-md-6.col-xs-12
                        a.hidden-sm.hidden-xs(href=''): img(src="images/banner-4.jpg", alt="")
                    .col.col-md-6.col-xs-12
                        a.hidden-sm.hidden-xs(href=''): img(src="images/banner-5.jpg", alt="")