extends layouts/_default

block content
    - var title = { description: 'Восстановление доступа' }
    section.authFormBlock
        .container
            .authFormBlock--inner
                .text--left.text--md--center
                    h1= title.description
                    .form-group
                        p.text--default.text--md Новый пароль успешно сохранен!
                    button.btn.btn--success.text--uppercase.btn--lg продолжить работу
            .bannerBlock.hidden-sm.hidden-xs
                a(href=''): img(src="images/banner-1.jpg", alt="")
                .row.margtop20
                    .col.col-md-6.col-xs-12
                        a.hidden-sm.hidden-xs(href=''): img(src="images/banner-4.jpg", alt="")
                    .col.col-md-6.col-xs-12
                        a.hidden-sm.hidden-xs(href=''): img(src="images/banner-5.jpg", alt="")