extends layouts/_default

block content
    - var title = { description: 'Подтверждение регистации' }
    section.authFormBlock
        .container
            .authFormBlock--inner
                .text--left.text--md--center
                    h1= title.description
                    p.text--default На Ваш E-mail выслано письмо с ссылкой для активации.
                    p.text--default Пожалуйста, кликните на эту ссылку, чтобы подтвердить
                        br
                        | свой E-mail адрес и завершить регистрацию.
            .bannerBlock.hidden-sm.hidden-xs
                a(href=''): img(src="images/banner-1.jpg", alt="")
                .row.margtop20
                    .col.col-md-6.col-xs-12
                        a.hidden-sm.hidden-xs(href=''): img(src="images/banner-4.jpg", alt="")
                    .col.col-md-6.col-xs-12
                        a.hidden-sm.hidden-xs(href=''): img(src="images/banner-5.jpg", alt="")
