extends layouts/_default

block content
    - var title = { description: 'Регистрация' }
    section.authFormBlock
        .container
            .text--center
                h1= title.description
                .col-xlg-4.col-lg-5.col-md-6.center-block
                    ul.nav.nav-btn(role='tablist')
                        li.active
                            a(href='#tab1', role='tab', data-toggle='tab') Частное лицо
                        li
                            a(href='#tab2', role='tab', data-toggle='tab') компания
                    .tab-content
                        #tab1.active.tab-pane.fade.in
                            form
                                .form-group
                                    input.form-control(placeholder="Ваше имя", type="text")
                                .form-group
                                    input.form-control(placeholder="E-mail", type="email")
                                .form-group
                                    input.form-control(placeholder="Телефон", name="phone", type="text")
                                .form-group
                                    input.form-control(placeholder="Пароль", type="password")
                                .form-group
                                    input.form-control(placeholder="Повторите пароль", type="password")
                                .form-group
                                    .row
                                        .col.col-lg-5.col-xs-6
                                            input.form-control(type="text")
                                        .col.col-lg-4.col-xs-6
                                            img(src="images/captcha.jpg", alt="")
                                        .col.col-lg-3.col-xs-12
                                            label: a(href="#") Обновить
                                .form-group
                                    input.btn.btn--success.text--uppercase.btn--lg(value="зарегистрироваться", type="submit")
                                .text--left
                                    .form-group
                                        p.text--sm Регистрируясь, я подтверждаю своё согласие с условиями&nbsp;
                                            span
                                            a(href="#") пользовательского соглашения
                                    p.text--md У вас уже есть аккаунт? &nbsp;
                                        a(href="#"): b Войти
                        #tab2.tab-pane.fade
                            form
                                .form-group
                                    input.form-control(placeholder="Название компании", type="text")
                                .form-group
                                    input.form-control(placeholder="Контактное лицо (рекомендуется)", type="text")
                                .form-group
                                    input.form-control(placeholder="E-mail", type="email")
                                .form-group
                                    input.form-control(placeholder="Телефон", name="phone", type="text")
                                .form-group
                                    input.form-control(placeholder="Пароль", type="password")
                                .form-group
                                    input.form-control(placeholder="Повторите пароль", type="password")
                                .form-group
                                    .row
                                        .col.col-lg-5.col-xs-6
                                            input.form-control(type="text")
                                        .col.col-lg-4.col-xs-6
                                            img(src="images/captcha.jpg", alt="")
                                        .col.col-lg-3.col-xs-12
                                            label: a(href="#") Обновить
                                .form-group
                                    input.btn.btn--success.text--uppercase.btn--lg(value="зарегистрироваться", type="submit")
                                .text--left
                                    .form-group
                                        p.text--sm Регистрируясь, я подтверждаю своё согласие с условиями&nbsp;
                                            span
                                            a(href="#") пользовательского соглашения
                                    p.text--md У вас уже есть аккаунт? &nbsp;
                                        a(href="#"): b Войти