extends layouts/_default

block content
    - var title = { description: 'Каталог магазинов в Санкт-Петербурге' }
    section.bannerBlock.hidden-sm.hidden-xs
        .container
            a(href=''): img(src="images/banner-1.jpg", alt="")
    section.categoryBlock
        .container
            include modules/_breadcrumb
            .text--left
                h1= title.description
            .categoryBlock--inner.hidden-xs.hidden-sm
                .row
                    +categoryShops('catIco-1.png', 'Личные вещи')
                    +categoryShops('catIco-2.png', 'Транспорт')
                    +categoryShops('catIco-3.png', 'Хобби и отдых')
                    +categoryShops('catIco-4.png', 'Для дома и дачи')
                    +categoryShops('catIco-5.png', 'Электроника и техника')
                    +categoryShops('catIco-6.png', 'Для бизнеса')
                    +categoryShops('catIco-7.png', 'Услуги')
                    +categoryShops('catIco-8.png', 'Недвижимость')
                    +categoryShops('catIco-9.png', 'Работа')
                    +categoryShops('catIco-10.png', 'Животные и растения')
    section.goodsBlock.favorBlock
        .container
            .row
                .col.col-lg-9.col-xs-12
                    include modules/_sortShops
                    include modules/_paginator
                include modules/_sidebar