extends layouts/_default

block content
    - var title = { description: 'Рога и копыта' }
    section.goodsBlock.favorBlock
        .container
            .adv-shops
                .adv-shops__item.col-xlg-2.col-lg-2.col-md-4
                    img(src="images/shopLogo.jpg", alt="")
                .adv-shops__item.col-xlg-5.col-lg-4.col-md-8
                    h1= title.description
                    p.text--md Ежедневно с 10-00 до 18-30
                    .hidden-lg
                        p
                            b 8 (812) 369-36-36
                            span  Спб, ул. Карпинского, д. 12
                        p
                            b 8 (812) 369-36-36
                            span  Спб, пр. Непокоренных, д. 16 к.5
                .adv-shops__item.col-xlg-5.col-lg-6.hidden-sm.hidden-xs.hidden-md
                    p.text--lg
                        b 8 (812) 369-36-36
                        span  Спб, ул. Карпинского, д. 12
                    p.text--lg
                        b 8 (812) 369-36-36
                        span  Спб, пр. Непокоренных, д. 16 к.5
            .adv-favor.visible-lg
                ul.list--inline
                    li.active: a(href='#tab11', role='tab', data-toggle='tab') Объявления
                    li: a(href='#tab15', role='tab', data-toggle='tab') О компании
                    li: a(href='#tab13', role='tab', data-toggle='tab') Доставка и оплата
                    li: a(href='#tab14', role='tab', data-toggle='tab') Контакты
            .row
                .col.col-lg-9.col-xs-12
                    .tab-content.shopBlock
                        .active.favor__js Объявления
                            i.text--success.text--lg.icon-down-open
                        #tab11.active.tab-pane.fade.in
                            include modules/_sort
                            include modules/_paginator
                        .favor__js О компании
                            i.text--success.text--lg.icon-down-open
                        #tab15.tab-pane.fade
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                        .favor__js Доставка и оплата
                            i.text--success.text--lg.icon-down-open
                        #tab13.tab-pane.fade
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                        .favor__js Контакты
                            i.text--success.text--lg.icon-down-open
                        #tab14.tab-pane.fade
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                include modules/_sidebar
