extends layouts/_default

block content
    - var title = { description: 'Джинсы ' }
    section.bannerBlock.hidden-sm.hidden-xs
        .container
            a(href='/'): img(src="images/banner-1.jpg", alt="")
    section
        .container
            include modules/_breadcrumb
    section.goodsBlock.favorBlock
        .container
            .text--left
                h1= title.description
            section.searchBlock.margtop0
                form(action="", method="post")
                    .searchBlock--inner
                        .searchBlock__item
                            select.form-control
                                option Все объявления
                                option Все объявления
                                option Все объявления
                                option Все объявления
                        .searchBlock__item
                            select.form-control
                                option Все цвета
                                option Все цвета
                                option Все цвета
                                option Все цвета
                                option Все цвета
                        .searchBlock__item
                            select.form-control
                                option На взрослого
                                option На взрослого
                                option На взрослого
                                option На взрослого
                        .searchBlock__item
                            select.form-control
                                option Все размеры
                                option Все размеры
                                option Все размеры
                                option Все размеры
                        .searchBlock__item.hidden-sm.hidden-xs.hidden-md
                            button.btn.btn--success.btn--block.text--uppercase.btn--lg(type='submit') подобрать
                    .searchBlock--inner
                        .searchBlock__item-inline
                            .btn-group
                                .btn
                                    input(type='radio', name='radio', id='radio1', checked)
                                    label(for="radio1") Женские
                                .btn
                                    input(type='radio', name='radio', id='radio2')
                                    label(for="radio2") Мужские
                        .searchBlock__item-inline
                            .checkbox
                                input(type='checkbox', name='check6', id='check6')
                                label(for="check6")  Смотреть только с фото
                        .searchBlock__item-inline
                            .checkbox
                                input(type='checkbox', name='check7', id='check7')
                                label(for="check7")  Варианты обмена
                        .searchBlock__item.hidden-lg.hidden-xlg.pull-right
                            button.btn.btn--success.btn--block.text--uppercase.btn--lg(type='submit') подобрать
                        .clearfix
            .row
                .col.col-lg-9.col-xs-12
                    include modules/_sort
                    include modules/_paginator
                include modules/_sidebar