extends layouts/_default

block content
    - var title = { description: 'Восстановление пароля' }
    section.authFormBlock
        .container
            .authFormBlock--inner
                .text--left.text--md--center
                    h1= title.description
                    p.text--default На электронную почту xxxx@mail.ru отправлено письмо. Перейдите по
                         br
                         | ссылке в письме, чтобы задать новый пароль от вашей учетной записи.
                    p.text--default Если вы не видите письма, обяхательно проверьте папку СПАМ.