extends layouts/_default-typical

block content
    - var title = { description: 'Typography' }
    section.main
        .container
            .col-lg-8.center-block
                .text--center
                    h1= title.description
                h1 H1: Roboto
                h2 H2: Roboto
                p.margbot30.text--lg Size: 18px. Guards! Bring me the forms I need to fill out to have her taken away! Leela, Bender, we're going grave robbing. Oh right. I forgot about the battle:
                p.margbot30 Size: 15px. Guards! Bring me the forms I need to fill out to have her taken away! Leela, Bender, we're going grave robbing. Oh right. I forgot about the battle:
                p.margbot30.text--sm Size: 12px. Guards! Bring me the forms I need to fill out to have her taken away! Leela, Bender, we're going grave robbing. Oh right. I forgot about the battle:
                .row
                    .col.col-md-6
                        ul.list--type
                            li You, minion. Lift my arm. AFTER HIM!
                            li Kif, I have mated with a woman. Inform the men.
                            li We're rescuing ya.
                            li That's the ONLY thing about being a slave.
                            li You don't know how to do any of those.
                    .col.col-md-6
                        ol
                            li You, minion. Lift my arm. AFTER HIM!
                            li Kif, I have mated with a woman. Inform the men.
                            li We're rescuing ya.
                            li That's the ONLY thing about being a slave.
                            li You don't know how to do any of those.
                ul.list--inline.colors.margtop30
                    li
                        .colors__item(style="background:#000000")
                        p 000000
                    li
                        .colors__item(style="background:#3d4d65")
                        p 3d4d65
                    li
                        .colors__item(style="background:#5f6f87")
                        p 5f6f87
                .text--center
                    h1 Site colors
                ul.list--inline.colors.margtop30
                    li
                        .colors__item(style="background:#ff9f10")
                        p ff9f10
                    li
                        .colors__item(style="background:#fce9ca")
                        p fce9ca
                    li
                        .colors__item(style="background:#52a529")
                        p 52a529
                    li
                        .colors__item(style="background:#cad3df")
                        p cad3df
                    li
                        .colors__item(style="background:#eaebec")
                        p eaebec
                    li
                        .colors__item(style="background:#f7f7f7")
                        p f7f7f7
                h2 Buttons
                ul.list--inline
                    li: a.btn.btn--success(href="#") Normal
                    li: a.btn.btn--success.btn--xs(href="#") Tiny
                    li: a.btn.btn--success.btn--sm(href="#") Small
                    li: a.btn.btn--success.btn--md(href="#") Standard
                    li: a.btn.btn--success.btn--lg(href="#") Large
                h2 Inputs
                ul.list--inline
                    li: input.form-control(placeholder="Inputs")
                    li: input.form-control(placeholder="Input Hover")
                    li: input.form-control(placeholder="Input Hover")
                ul.list--inline
                    li: textarea.form-control(placeholder="textarea")
                    li: textarea.form-control(placeholder="textarea")
                ul.list--inline
                    li
                        select.form-control
                            option Dropdown
                            option Dropdown Hover
                            option Dropdown Selected
                    li
                        select.form-control
                            option Dropdown
                            option Dropdown Hover
                            option Dropdown Selected
                include modules/_pager
                include modules/_paginator