doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">

include ../mixins/_mixin

head
  meta(charset="utf-8")
  title Объявления
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="favicon.ico")

  //- build:css({.tmp,app}) styles/vendor.css -->
  // bower:css
  link(rel='stylesheet', href='../bower_components/slick-carousel/slick/slick.css')
  link(rel='stylesheet', href='../bower_components/magnific-popup/dist/magnific-popup.css')
  link(rel='stylesheet', href='../bower_components/EasyAutocomplete/dist/easy-autocomplete.css')
  link(rel='stylesheet', href='../bower_components/multiple-select/multiple-select.css')
  // endbower
  link(rel="stylesheet", href="../bower_components/slick-carousel/slick/slick-theme.css")
  link(rel="stylesheet", href="../bower_components/select2/dist/css/select2.css")
  //- endbuild -->
  //- build:css({.tmp,app}) styles/main.css -->
  link(rel="stylesheet", href="/styles/main.css")
  //- endbuild -->

body

  include ../modules/_modals
  include ../modules/_header

  main
    block content

  include ../modules/_footer


  //- build:js(./app/) scripts/vendor.js -->
  // bower:js
  script(src='../bower_components/jquery/dist/jquery.js')
  script(src='../bower_components/slick-carousel/slick/slick.js')
  script(src='../bower_components/magnific-popup/dist/jquery.magnific-popup.js')
  script(src='../bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.js')
  script(src='../bower_components/select2/dist/js/select2.js')
  script(src='../bower_components/multiple-select/multiple-select.js')
  // endbower
  script(src="scripts/plugins/bootstrap.min.js")
  //- endbuild -->
  //- build:js(.tmp) scripts/main.js -->
  script(src="/scripts/main.js")
  //- endbuild -->

| </html>
